Repository pokt-network/poktroll, pull requests merged in 2023-11, with the labels that each got.

#65 [Miner] feat: add block client
  go.mod
  internal/testclient/testblock/client.go
  pkg/client/block/block.go
  pkg/client/block/client.go
  pkg/client/block/client_integration_test.go
  pkg/client/block/client_test.go
  pkg/client/block/errors.go
  pkg/client/interface.go
  pkg/observable/channel/map.go
  pkg/retry/retry.go
  pkg/retry/retry_test.go
Labels: miner

#110 [AppGate] Implement UndelegateFromGateway with Extensive Tests
  Makefile
  docs/static/openapi.yml
  go.mod
  proto/pocket/application/tx.proto
  x/application/client/cli/tx_undelegate_from_gateway.go
  x/application/client/cli/tx_undelegate_from_gateway_test.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/simulation/undelegate_from_gateway.go
  x/application/types/errors.go
  x/application/types/message_undelegate_from_gateway.go
  x/application/types/message_undelegate_from_gateway_test.go
Labels: application

#125 [AppGate] Implement UndelegateFromGateway with Extensive Tests
  Makefile
  docs/static/openapi.yml
  go.mod
  proto/pocket/application/tx.proto
  x/application/client/cli/tx_undelegate_from_gateway.go
  x/application/client/cli/tx_undelegate_from_gateway_test.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/simulation/undelegate_from_gateway.go
  x/application/types/errors.go
  x/application/types/message_undelegate_from_gateway.go
  x/application/types/message_undelegate_from_gateway_test.go
Labels: application

#124 [Testing] fix: flaky tests in observable & client pkgs
  pkg/client/events_query/client.go
  pkg/client/events_query/client_test.go
  pkg/observable/channel/map_test.go
  pkg/observable/channel/observable_test.go
  pkg/observable/channel/observer_test.go
  pkg/observable/channel/replay_test.go
  tools/scripts/itest.sh
Labels: bug, testing, code health

#118 [Miner] feat: add `TxContext`
  internal/testclient/common.go
  internal/testclient/keyring.go
  internal/testclient/localnet.go
  internal/testclient/testtx/context.go
  pkg/client/interface.go
  pkg/client/tx/context.go
  pkg/either/types.go
Labels: miner, off-chain

#129 [Tooling] add `go_lint` & `go_imports` make targets & CI step
  .github/workflows/go.yml
  .golangci.yml
  Makefile
  internal/mocks/mockclient/mocks.go
  internal/testclient/keyring.go
  testutil/application/mocks/mocks.go
  testutil/gateway/mocks/mocks.go
  testutil/keeper/session.go
  testutil/supplier/mocks/mocks.go
  tools/scripts/goimports/filters/filters.go
  tools/scripts/goimports/main.go
  x/pocket/types/codec.go
  x/service/types/codec.go
  x/session/types/codec.go
Labels: testing, infra, code health

#132 fix: flaky block client test
  internal/testclient/testeventsquery/client.go
  pkg/client/block/client.go
  pkg/client/block/client_test.go
Labels: bug, testing, code health

#107 [CI] Build container images
  .github/label-actions.yml
  .github/workflows/go.yml
  .github/workflows/label-actions.yml
  .gitignore
  Dockerfile.dev
  Makefile
  Tiltfile
  e2e/tests/node.go
  x/application/client/cli/tx_delegate_to_gateway.go
  x/application/client/cli/tx_stake_application.go
  x/application/client/cli/tx_undelegate_from_gateway.go
  x/application/client/cli/tx_unstake_application.go
  x/gateway/client/cli/tx_stake_gateway.go
  x/gateway/client/cli/tx_unstake_gateway.go
  x/supplier/client/cli/tx_stake_supplier.go
  x/supplier/client/cli/tx_unstake_supplier.go
Labels: infra, push-image

#94 [Miner] feat: add `TxClient`
  docs/pkg/client/README.md
  docs/template/pkg/README.md
  go.mod
  go.sum
  internal/testclient/testblock/client.go
  internal/testclient/testblock/godoc.go
  internal/testclient/testeventsquery/client.go
  internal/testclient/testeventsquery/godoc.go
  internal/testclient/testtx/context.go
  pkg/client/godoc.go
  pkg/client/interface.go
  pkg/client/services.go
  pkg/client/tx/client.go
  pkg/client/tx/client_integration_test.go
  pkg/client/tx/client_test.go
  pkg/client/tx/context.go
  pkg/client/tx/encoding.go
  pkg/client/tx/errors.go
  pkg/client/tx/options.go
  pkg/observable/channel/replay.go
Labels: miner

#131 [Off-chain] refactor: keyring errors & helpers
  internal/testclient/testeventsquery/client.go
  internal/testclient/testkeyring/keyring.go
  pkg/client/keyring/errors.go
  pkg/client/keyring/keyring.go
  pkg/client/tx/client.go
  pkg/client/tx/client_integration_test.go
  pkg/client/tx/client_test.go
  pkg/client/tx/errors.go
Labels: off-chain, code health

#42 [Miner] feat: add supplier client
  go.mod
  go.sum
  internal/testclient/keyring.go
  internal/testclient/testsupplier/client.go
  internal/testclient/testtx/client.go
  internal/testclient/testtx/context.go
  pkg/client/interface.go
  pkg/client/supplier/client.go
  pkg/client/supplier/client_integration_test.go
  pkg/client/supplier/client_test.go
  pkg/client/supplier/options.go
Labels: miner

#153 [Testing, Docs] refactor: move /internal/... to /testutil/... for godocs
  internal/mocks/mocks.go
  pkg/client/block/client_integration_test.go
  pkg/client/block/client_test.go
  pkg/client/events_query/client_integration_test.go
  pkg/client/events_query/client_test.go
  pkg/client/interface.go
  pkg/client/supplier/client_integration_test.go
  pkg/client/supplier/client_test.go
  pkg/client/tx/client_integration_test.go
  pkg/client/tx/client_test.go
  pkg/observable/channel/observable_test.go
  pkg/observable/channel/replay_test.go
  testutil/mockclient/mocks.go
  testutil/testchannel/drain.go
  testutil/testclient/keyring.go
  testutil/testclient/localnet.go
  testutil/testclient/testblock/client.go
  testutil/testclient/testblock/godoc.go
  testutil/testclient/testeventsquery/client.go
  testutil/testclient/testeventsquery/connection.go
  testutil/testclient/testeventsquery/godoc.go
  testutil/testclient/testkeyring/keyring.go
  testutil/testclient/testsupplier/client.go
  testutil/testclient/testtx/client.go
  testutil/testclient/testtx/context.go
  testutil/testerrors/require.go
Labels: documentation, testing, code health

#157 [Code health] rename pocketd to poktroll
  .github/label-actions.yml
  .gitignore
  .tool-versions
  Makefile
  Tiltfile
  e2e/tests/node.go
  go.mod
  localnet/poktrolld/config/app.toml
  localnet/poktrolld/config/client.toml
  localnet/poktrolld/config/config.toml
  x/application/client/cli/tx_delegate_to_gateway.go
  x/application/client/cli/tx_stake_application.go
  x/application/client/cli/tx_undelegate_from_gateway.go
  x/application/client/cli/tx_unstake_application.go
  x/gateway/client/cli/tx_stake_gateway.go
  x/gateway/client/cli/tx_unstake_gateway.go
  x/supplier/client/cli/tx_stake_supplier.go
  x/supplier/client/cli/tx_unstake_supplier.go
Labels: infra, code health

#105 feat: implement relayerSessions and sessionTree
  go.mod
  pkg/relayer/interface.go
  pkg/relayer/session/errors.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  pkg/relayer/session/sessiontree.go
  pkg/relayer/session/sessiontree_test.go
Labels: session, off-chain

#150 [Service] Rename the `ServiceId` proto to `Service`
  docs/static/openapi.yml
  pkg/client/services.go
  pkg/relayer/proxy/interface.go
  pkg/relayer/proxy/jsonrpc.go
  pkg/relayer/proxy/server_builder.go
  proto/pocket/application/application.proto
  proto/pocket/session/query.proto
  proto/pocket/session/session.proto
  proto/pocket/shared/service.proto
  testutil/keeper/session.go
  testutil/network/network.go
  x/application/genesis_test.go
  x/application/keeper/application_test.go
  x/application/keeper/msg_server_delegate_to_gateway_test.go
  x/application/keeper/msg_server_stake_application_test.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/keeper/msg_server_unstake_application_test.go
  x/application/types/genesis_test.go
  x/application/types/message_stake_application.go
  x/application/types/message_stake_application_test.go
  x/session/keeper/query_get_session.go
  x/session/keeper/query_get_session_test.go
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
  x/shared/helpers/service.go
  x/shared/helpers/service_configs.go
  x/shared/helpers/service_test.go
  x/supplier/client/cli/tx_stake_supplier.go
  x/supplier/genesis_test.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/keeper/supplier.go
  x/supplier/keeper/supplier_test.go
  x/supplier/types/errors.go
  x/supplier/types/genesis.go
  x/supplier/types/genesis_test.go
  x/supplier/types/message_stake_supplier_test.go
Labels: service

#162 feat: Add session_end_block_height to SessionHeader
  proto/pocket/session/session.proto
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
Labels: session

#148 [Supper] Basic validation logic for `CreateClaim`
  pkg/client/gomock_reflect_3526400147/prog.go
  x/supplier/types/errors.go
  x/supplier/types/message_create_claim.go
  x/supplier/types/message_create_claim_test.go
Labels: supplier

#149 [Supplier] Scaffold the `Claim` type
  docs/static/openapi.yml
  proto/pocket/application/query.proto
  proto/pocket/gateway/query.proto
  proto/pocket/session/query.proto
  proto/pocket/supplier/claim.proto
  proto/pocket/supplier/genesis.proto
  proto/pocket/supplier/query.proto
  x/supplier/client/cli/query.go
  x/supplier/client/cli/query_claim.go
  x/supplier/client/cli/query_claim_test.go
  x/supplier/genesis.go
  x/supplier/genesis_test.go
  x/supplier/keeper/claim.go
  x/supplier/keeper/claim_test.go
  x/supplier/keeper/query_claim.go
  x/supplier/keeper/query_claim_test.go
  x/supplier/types/codec.go
  x/supplier/types/genesis.go
  x/supplier/types/genesis_test.go
  x/supplier/types/key_claim.go
Labels: supplier

#163 [Session] Add support for `GetSession` via the CLI + deps
  Makefile
  app/app.go
  docs/static/openapi.yml
  go.mod
  go.sum
  proto/pocket/shared/service.proto
  testutil/keeper/session.go
  testutil/network/network.go
  x/application/client/cli/query_application.go
  x/application/client/cli/tx_delegate_to_gateway.go
  x/application/client/cli/tx_stake_application.go
  x/application/client/cli/tx_unstake_application.go
  x/gateway/client/cli/helpers_test.go
  x/gateway/client/cli/query_gateway.go
  x/gateway/client/cli/tx_stake_gateway.go
  x/gateway/client/cli/tx_unstake_gateway.go
  x/session/client/cli/helpers_test.go
  x/session/client/cli/query_get_session.go
  x/session/client/cli/query_get_session_test.go
  x/session/keeper/query_get_session.go
  x/session/keeper/query_get_session_test.go
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
  x/session/types/errors.go
  x/session/types/query_get_session_request.go
  x/shared/helpers/service.go
  x/shared/helpers/service_test.go
  x/supplier/client/cli/query_supplier.go
  x/supplier/client/cli/tx_create_claim.go
  x/supplier/client/cli/tx_stake_supplier.go
  x/supplier/client/cli/tx_submit_proof.go
Labels: session

#101 [Proxy] feat: implement relayer proxy full workflow
  pkg/relayer/interface.go
  pkg/relayer/proxy/error_reply.go
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/interface.go
  pkg/relayer/proxy/jsonrpc.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/relay_signer.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/proxy/server_builder.go
  proto/pocket/service/relay.proto
Labels: proxy

#165 [Sessions] refactor: Make EnsureSessionTree accept SessionHeader
  pkg/relayer/interface.go
  pkg/relayer/session/session.go
  pkg/relayer/session/sessiontree.go
Labels: session, off-chain

#170 [Off-chain] refactor: `MapFn`s receive context arg
  pkg/client/block/client.go
  pkg/client/tx/client.go
  pkg/observable/channel/map.go
  pkg/observable/channel/map_test.go
Labels: miner, off-chain

#171 [Off-chain] feat: observable utils
  pkg/observable/channel/map.go
  pkg/observable/filter/either.go
  pkg/observable/logging/logging.go
Labels: miner, off-chain

#167 [Test] First step for automated E2E Relay test
  Makefile
  config.yml
  e2e/tests/init_test.go
  e2e/tests/node.go
  e2e/tests/relay.feature
  go.mod
  x/session/client/cli/query_get_session.go
  x/session/keeper/session_hydrator_test.go
Labels: relayer, testing

#169 [Relayer] refactor: simplify `RelayerSessionsManager`
  pkg/observable/channel/map.go
  pkg/relayer/session/session.go
Labels: relayer, off-chain

#174 chore: fix bugs
  config.yml
  docs/static/openapi.yml
  go.mod
  localnet/poktrolld/config/client.toml
Labels: bug

#175 [Sessions] chore: Use depinject for sessions mgr construction
  pkg/relayer/interface.go
  pkg/relayer/session/errors.go
  pkg/relayer/session/options.go
  pkg/relayer/session/session.go
  pkg/relayer/session/sessiontree.go
Labels: session, off-chain

#173 [Proxy] chore: Use depinject for relayerProxy
  pkg/relayer/interface.go
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/options.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/relay_signer.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/proxy/server_builder.go
Labels: proxy, off-chain

#168 [Miner] feat: add `Miner` component
  pkg/either/types.go
  pkg/observable/types.go
  pkg/relayer/interface.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/protocol/block_heights.go
  pkg/relayer/protocol/difficulty.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/types.go
Labels: miner, off-chain

#172 [Relayer] feat: Add Relayer struct
  pkg/relayer/interface.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/relayminer.go
  pkg/relayer/session/session.go
Labels: relayer, off-chain

#108 [AppGate] Implement the MVP AppGateServer
  cmd/pocketd/cmd/root.go
  go.mod
  go.sum
  pkg/appgateserver/cmd/cmd.go
  pkg/appgateserver/endpoint_selector.go
  pkg/appgateserver/errors.go
  pkg/appgateserver/jsonrpc.go
  pkg/appgateserver/options.go
  pkg/appgateserver/relay_verifier.go
  pkg/appgateserver/rings.go
  pkg/appgateserver/server.go
  pkg/appgateserver/session.go
  pkg/client/block/client.go
  pkg/client/gomock_reflect_3526400147/prog.go
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/relay_signer.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/proxy/rings.go
  pkg/signer/interface.go
  pkg/signer/ring_signer.go
  pkg/signer/simple_signer.go
  x/service/types/relay.go
Labels: application, off-chain

#152 [CI] Integrate E2E tests with GitHub CI
  .github/label-actions.yml
  .github/workflows-helpers/run-e2e-test-job-template.yaml
  .github/workflows-helpers/run-e2e-test.sh
  .github/workflows/main-build.yml
  .github/workflows/reviewdog.yml
  .github/workflows/run-tests.yml
  .gitignore
  Dockerfile.dev
  e2e/tests/node.go
Labels: push-image, devnet, devnet-test-e2e

#183 [Supplier] chore: improve supplier not found error message
  x/supplier/keeper/query_supplier.go
  x/supplier/keeper/query_supplier_test.go
Labels: supplier, relayer

#178 [Test] Updating `relay.feature` to run curl command to enable E2E Relay Test
  Makefile
  config.yml
  docs/static/openapi.yml
  e2e/tests/init_test.go
  e2e/tests/node.go
  e2e/tests/relay.feature
  pkg/appgateserver/cmd/cmd.go
  pkg/appgateserver/jsonrpc.go
Labels: testing

#177 [Relay] E2E Relay Gaps
  .gitignore
  Makefile
  cmd/pocketd/cmd/root.go
  cmd/signals/on_exit.go
  config.yml
  pkg/appgateserver/cmd/cmd.go
  pkg/appgateserver/endpoint_selector.go
  pkg/appgateserver/errors.go
  pkg/appgateserver/jsonrpc.go
  pkg/appgateserver/relay_verifier.go
  pkg/appgateserver/server.go
  pkg/client/block/client.go
  pkg/client/events_query/client.go
  pkg/client/tx/client.go
  pkg/client/tx/context.go
  pkg/client/tx/errors.go
  pkg/deps/config/config.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/interface.go
  pkg/relayer/protocol/block_heights.go
  pkg/relayer/proxy/error_reply.go
  pkg/relayer/proxy/jsonrpc.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/proxy/rings.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/sessiontree.go
  proto/pocket/service/relay.proto
  testutil/testclient/testtx/context.go
Labels: relayer, off-chain

#179 [LocalNet] Run Relayer and AppGateServer
  Dockerfile.dev
  Tiltfile
  localnet/kubernetes/values-appgateserver.yaml
  localnet/kubernetes/values-relayminer.yaml
Labels: infra

#184 [E2E relay test] Update to #178
  e2e/tests/init_test.go
  e2e/tests/node.go
  pkg/appgateserver/errors.go
  pkg/appgateserver/relay_verifier.go
  pkg/relayer/proxy/relay_verifier.go
Labels: testing

#190 [Relayminer] chore: cleanup after 177
  pkg/deps/config/config.go
  pkg/relayer/cmd/cmd.go
Labels: relayminer, off-chain

#193 [RelayMiner, Testing, Off-chain] test: `relayer` pkg
  e2e/tests/node.go
  pkg/relayer/interface.go
  pkg/relayer/miner/miner.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/relayminer.go
  pkg/relayer/relayminer_test.go
  pkg/relayer/session/session.go
  testutil/mockrelayer/mocks.go
  testutil/testrelayer/miner.go
  testutil/testrelayer/proxy.go
  testutil/testrelayer/sessions_manager.go
Labels: relayminer, testing, off-chain

#151 [Supplier] Updating the scaffolded `Claim` type
  .gitignore
  Makefile
  docs/static/openapi.yml
  proto/pocket/supplier/claim.proto
  proto/pocket/supplier/genesis.proto
  proto/pocket/supplier/query.proto
  testutil/network/network.go
  x/application/client/cli/tx_delegate_to_gateway_test.go
  x/application/client/cli/tx_undelegate_from_gateway_test.go
  x/application/keeper/query_application.go
  x/application/keeper/query_application_test.go
  x/gateway/keeper/query_gateway.go
  x/gateway/keeper/query_gateway_test.go
  x/supplier/client/cli/query.go
  x/supplier/client/cli/query_claim.go
  x/supplier/client/cli/query_claim_test.go
  x/supplier/client/cli/query_supplier_test.go
  x/supplier/client/cli/tx_create_claim.go
  x/supplier/genesis.go
  x/supplier/genesis_test.go
  x/supplier/keeper/claim.go
  x/supplier/keeper/claim_test.go
  x/supplier/keeper/msg_server_create_claim.go
  x/supplier/keeper/query_claim.go
  x/supplier/keeper/query_claim_test.go
  x/supplier/types/errors.go
  x/supplier/types/genesis.go
  x/supplier/types/genesis_test.go
  x/supplier/types/key_claim.go
  x/supplier/types/message_create_claim.go
  x/supplier/types/query_get_claim.go
Labels: supplier

#192 [Off-chain, Testing] test: protocol pkg (part 1)
  pkg/relayer/miner/miner.go
  pkg/relayer/protocol/difficulty.go
  pkg/relayer/protocol/difficulty_test.go
  pkg/relayer/protocol/errors.go
Labels: testing, off-chain

#185 [Supplier] feat: Add staking flag and config parser
  Makefile
  localnet/poktrolld/config/supplier1_stake_config.yaml
  localnet/poktrolld/config/supplier2_stake_config.yaml
  localnet/poktrolld/config/supplier3_stake_config.yaml
  x/supplier/client/cli/tx_stake_supplier.go
  x/supplier/client/cli/tx_stake_supplier_test.go
  x/supplier/client/config/errors.go
  x/supplier/client/config/supplier_configs_reader.go
  x/supplier/client/config/supplier_configs_reader_test.go
Labels: supplier, tooling

#191 [Miner] test: add `#MinedRelays()` coverage
  Makefile
  pkg/client/interface.go
  pkg/observable/channel/collect.go
  pkg/relayer/miner/gen/gen_fixtures.go
  pkg/relayer/miner/gen/template.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/miner/options.go
  pkg/relayer/miner/relay_fixtures_test.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  testutil/testclient/testblock/client.go
  testutil/testclient/testsupplier/client.go
  testutil/testrelayer/hash.go
  testutil/testrelayer/options.go
  x/service/types/relay.go
Labels: miner, testing, off-chain, push-image

#214 [Miner, Testing] chore: omitted improvments to #191
  pkg/observable/channel/collect.go
  pkg/relayer/miner/gen/template.go
  pkg/relayer/miner/relay_fixtures_test.go
Labels: miner, testing, code health

#210 [Off-chain, Polylog] feat: add polylog logger interface
  Makefile
  pkg/polylog/LICENSE
  pkg/polylog/doc.go
  pkg/polylog/interface.go
  pkg/polylog/types.go
Labels: off-chain, code health

#202 [Application] feat: Add application staking config file
  Makefile
  docs/static/openapi.yml
  localnet/poktrolld/config/application1_stake_config.yaml
  localnet/poktrolld/config/application2_stake_config.yaml
  localnet/poktrolld/config/application3_stake_config.yaml
  testutil/yaml/yaml.go
  x/application/client/cli/tx_stake_application.go
  x/application/client/cli/tx_stake_application_test.go
  x/application/client/config/application_configs_reader.go
  x/application/client/config/application_configs_reader_test.go
  x/application/client/config/errors.go
  x/application/types/message_stake_application.go
  x/supplier/client/cli/tx_stake_supplier.go
  x/supplier/client/cli/tx_stake_supplier_test.go
  x/supplier/client/config/supplier_configs_reader.go
  x/supplier/client/config/supplier_configs_reader_test.go
Labels: application, tooling

#189 [Relays] Remove Payload Types Replace with `[]byte`
  docs/static/openapi.yml
  pkg/appgateserver/endpoint_selector.go
  pkg/appgateserver/error_reply.go
  pkg/appgateserver/relay_verifier.go
  pkg/appgateserver/server.go
  pkg/appgateserver/synchronous.go
  pkg/partials/errors.go
  pkg/partials/interface.go
  pkg/partials/partial.go
  pkg/partials/partials_test.go
  pkg/partials/payloads/godoc.go
  pkg/partials/payloads/jsonrpc.go
  pkg/partials/payloads/rest.go
  pkg/relayer/proxy/error_reply.go
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/proxy/synchronous.go
  proto/pocket/service/relay.proto
  proto/pocket/shared/service.proto
Labels: enhancement, protocol, off-chain, code health

#197 [Supplier] Scaffold the `Proof` type and adjust some of the defaults
  docs/static/openapi.yml
  go.mod
  pkg/relayer/proxy/rings.go
  proto/pocket/supplier/proof.proto
  proto/pocket/supplier/query.proto
  x/pocket/types/codec.go
  x/service/types/codec.go
  x/session/types/codec.go
  x/supplier/client/cli/query.go
  x/supplier/client/cli/query_proof.go
  x/supplier/client/cli/query_proof_test.go
  x/supplier/keeper/proof.go
  x/supplier/keeper/proof_test.go
  x/supplier/keeper/query_proof.go
  x/supplier/keeper/query_proof_test.go
  x/supplier/types/codec.go
  x/supplier/types/genesis.go
  x/supplier/types/genesis_test.go
  x/supplier/types/key_proof.go
Labels: supplier, protocol

#216 [Tooling] fix: Makefile: `todo_this_commit` target & remove redundant `TODO_KEYWORDS`
  Makefile
Labels: bug, tooling

#225 [E2E Relay, Configs] Fix localnet E2E relay issue - Ready for Tilt Integration
  .gitignore
  Makefile
  localnet/poktrolld/config/appgate_server_config.yaml
  localnet/poktrolld/config/relayminer_config.yaml
  localnet/poktrolld/config/supplier1_stake_config.yaml
  localnet/poktrolld/config/supplier2_stake_config.yaml
  localnet/poktrolld/config/supplier3_stake_config.yaml
Labels: bug

#231 bump rollkit/cosmos-sdk & celestia node
  go.mod
  go.sum
  localnet/kubernetes/celestia-rollkit.yaml
Labels: push-image, devnet, devnet-test-e2e

#222 chore: correct links to blog posts in README.md
  README.md
Labels: documentation
