Repository pokt-network/poktroll, pull requests merged in 2023-10, with the labels that each got.

#1 Add Localnet
  .gitignore
  Makefile
  Tiltfile
  app/app.go
  config.yml
  localnet/genesis.json
  localnet/kubernetes/anvil.yaml
  localnet/kubernetes/celestia-rollkit.yaml
  localnet/kubernetes/pocketd-relayer.yaml
  localnet/kubernetes/pocketd.yaml
  localnet/pocketd/config/app.toml
  localnet/pocketd/config/client.toml
  localnet/pocketd/config/config.toml
  localnet/pocketd/config/genesis.json
  localnet/pocketd/config/node_key.json
  localnet/pocketd/config/priv_validator_key.json
  localnet/pocketd/keyring-test/15f76b35e3bf8e7de0a11a40fdaae73aca8cbe47.address
  localnet/pocketd/keyring-test/1e55e0babffba7d59ab00787f42002c6f528a625.address
  localnet/pocketd/keyring-test/2f62ba93930bdbf0a6430f80e989df189b448a0a.address
  localnet/pocketd/keyring-test/3d44c27fa2772a0e64820fde8208a44d086daacd.address
  localnet/pocketd/keyring-test/3dad1e832a0c85e378a58802a0c965a22fc18fa5.address
  localnet/pocketd/keyring-test/969bc9bcc7c9014dee1b01e228470ae2d67a00f5.address
  localnet/pocketd/keyring-test/a3046902df1497f17bfdbe4e2535392cf74619ce.address
  localnet/pocketd/keyring-test/a3a29ba4987fd6b678743d32a9e029d2d56f9797.address
  localnet/pocketd/keyring-test/app1.info
  localnet/pocketd/keyring-test/app2.info
  localnet/pocketd/keyring-test/app3.info
  localnet/pocketd/keyring-test/d8c0ba27c0b9f8682bd896cabf30b9f57a5631b3.address
  localnet/pocketd/keyring-test/eb97f75212db949a7d123e6cdb7419106e811ce3.address
  localnet/pocketd/keyring-test/f809cab0e7604eb160facf403afc071baf08127a.address
  localnet/pocketd/keyring-test/faucet.info
  localnet/pocketd/keyring-test/portal1.info
  localnet/pocketd/keyring-test/portal2.info
  localnet/pocketd/keyring-test/portal3.info
  localnet/pocketd/keyring-test/servicer1.info
  localnet/pocketd/keyring-test/servicer2.info
  localnet/pocketd/keyring-test/servicer3.info
  localnet/pocketd/keyring-test/validator1.info
Labels: infra

#2 change denom from stake to upokt
  Tiltfile
  cmd/pocketd/cmd/root.go
  config.yml
  localnet/genesis.json
  localnet/kubernetes/pocketd.yaml
  localnet/pocketd/config/app.toml
  localnet/pocketd/config/node_key.json
  localnet/pocketd/config/priv_validator_key.json
  localnet/pocketd/keyring-test/15f76b35e3bf8e7de0a11a40fdaae73aca8cbe47.address
  localnet/pocketd/keyring-test/1e55e0babffba7d59ab00787f42002c6f528a625.address
  localnet/pocketd/keyring-test/2f62ba93930bdbf0a6430f80e989df189b448a0a.address
  localnet/pocketd/keyring-test/3d44c27fa2772a0e64820fde8208a44d086daacd.address
  localnet/pocketd/keyring-test/3dad1e832a0c85e378a58802a0c965a22fc18fa5.address
  localnet/pocketd/keyring-test/969bc9bcc7c9014dee1b01e228470ae2d67a00f5.address
  localnet/pocketd/keyring-test/a3046902df1497f17bfdbe4e2535392cf74619ce.address
  localnet/pocketd/keyring-test/a3a29ba4987fd6b678743d32a9e029d2d56f9797.address
  localnet/pocketd/keyring-test/app1.info
  localnet/pocketd/keyring-test/app2.info
  localnet/pocketd/keyring-test/app3.info
  localnet/pocketd/keyring-test/d8c0ba27c0b9f8682bd896cabf30b9f57a5631b3.address
  localnet/pocketd/keyring-test/eb97f75212db949a7d123e6cdb7419106e811ce3.address
  localnet/pocketd/keyring-test/f809cab0e7604eb160facf403afc071baf08127a.address
  localnet/pocketd/keyring-test/faucet.info
  localnet/pocketd/keyring-test/portal1.info
  localnet/pocketd/keyring-test/portal2.info
  localnet/pocketd/keyring-test/portal3.info
  localnet/pocketd/keyring-test/servicer1.info
  localnet/pocketd/keyring-test/servicer2.info
  localnet/pocketd/keyring-test/servicer3.info
  localnet/pocketd/keyring-test/validator1.info
Labels: protocol

#3 Adding GitHub issue template
  .github/ISSUE_TEMPLATE/issue.md
Labels: documentation

#6 Add PR Template
  .github/ISSUE_TEMPLATE/issue.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation

#5 Create first CI job
  .github/workflows/go.yml
Labels: testing

#4 Added basic to Makefile
  Makefile
Labels: infra

#9 [LocalNet] change moniker from validator1 to sequencer1
  .gitignore
  Makefile
  config.yml
  localnet/genesis.json
  localnet/kubernetes/pocketd.yaml
  localnet/pocketd/config/config.toml
  localnet/pocketd/config/genesis.json
  localnet/pocketd/config/node_key.json
  localnet/pocketd/config/priv_validator_key.json
  localnet/pocketd/keyring-test/15f76b35e3bf8e7de0a11a40fdaae73aca8cbe47.address
  localnet/pocketd/keyring-test/1e55e0babffba7d59ab00787f42002c6f528a625.address
  localnet/pocketd/keyring-test/2f62ba93930bdbf0a6430f80e989df189b448a0a.address
  localnet/pocketd/keyring-test/3d44c27fa2772a0e64820fde8208a44d086daacd.address
  localnet/pocketd/keyring-test/3dad1e832a0c85e378a58802a0c965a22fc18fa5.address
  localnet/pocketd/keyring-test/969bc9bcc7c9014dee1b01e228470ae2d67a00f5.address
  localnet/pocketd/keyring-test/a3046902df1497f17bfdbe4e2535392cf74619ce.address
  localnet/pocketd/keyring-test/a3a29ba4987fd6b678743d32a9e029d2d56f9797.address
  localnet/pocketd/keyring-test/app1.info
  localnet/pocketd/keyring-test/app2.info
  localnet/pocketd/keyring-test/app3.info
  localnet/pocketd/keyring-test/d8c0ba27c0b9f8682bd896cabf30b9f57a5631b3.address
  localnet/pocketd/keyring-test/eb97f75212db949a7d123e6cdb7419106e811ce3.address
  localnet/pocketd/keyring-test/f809cab0e7604eb160facf403afc071baf08127a.address
  localnet/pocketd/keyring-test/faucet.info
  localnet/pocketd/keyring-test/portal1.info
  localnet/pocketd/keyring-test/portal2.info
  localnet/pocketd/keyring-test/portal3.info
  localnet/pocketd/keyring-test/servicer1.info
  localnet/pocketd/keyring-test/servicer2.info
  localnet/pocketd/keyring-test/servicer3.info
  localnet/pocketd/keyring-test/validator1.info
Labels: infra

#35 [Supplier] Just scaffold the Supplier module without any params
  app/app.go
  docs/static/openapi.yml
  proto/pocket/supplier/genesis.proto
  proto/pocket/supplier/params.proto
  proto/pocket/supplier/query.proto
  proto/pocket/supplier/tx.proto
  testutil/keeper/supplier.go
  x/supplier/client/cli/query.go
  x/supplier/client/cli/query_params.go
  x/supplier/client/cli/tx.go
  x/supplier/genesis.go
  x/supplier/genesis_test.go
  x/supplier/keeper/keeper.go
  x/supplier/keeper/msg_server.go
  x/supplier/keeper/msg_server_test.go
  x/supplier/keeper/params.go
  x/supplier/keeper/params_test.go
  x/supplier/keeper/query.go
  x/supplier/keeper/query_params.go
  x/supplier/keeper/query_params_test.go
  x/supplier/module.go
  x/supplier/module_simulation.go
  x/supplier/simulation/helpers.go
  x/supplier/types/codec.go
  x/supplier/types/errors.go
  x/supplier/types/expected_keepers.go
  x/supplier/types/genesis.go
  x/supplier/types/genesis_test.go
  x/supplier/types/keys.go
  x/supplier/types/params.go
  x/supplier/types/types.go
Labels: supplier

#38 [Application] Just scaffold the Application module without any params
  app/app.go
  docs/static/openapi.yml
  proto/pocket/application/genesis.proto
  proto/pocket/application/params.proto
  proto/pocket/application/query.proto
  proto/pocket/application/tx.proto
  testutil/keeper/application.go
  x/application/client/cli/query.go
  x/application/client/cli/query_params.go
  x/application/client/cli/tx.go
  x/application/genesis.go
  x/application/genesis_test.go
  x/application/keeper/keeper.go
  x/application/keeper/msg_server.go
  x/application/keeper/msg_server_test.go
  x/application/keeper/params.go
  x/application/keeper/params_test.go
  x/application/keeper/query.go
  x/application/keeper/query_params.go
  x/application/keeper/query_params_test.go
  x/application/module.go
  x/application/module_simulation.go
  x/application/simulation/helpers.go
  x/application/types/codec.go
  x/application/types/errors.go
  x/application/types/expected_keepers.go
  x/application/types/genesis.go
  x/application/types/genesis_test.go
  x/application/types/keys.go
  x/application/types/params.go
  x/application/types/types.go
Labels: application

#45 Fix protobuf / localnet / genesis issues
  .gitignore
  Makefile
  config.yml
  x/pocket/types/genesis.pb.go
  x/pocket/types/params.pb.go
  x/pocket/types/query.pb.go
  x/pocket/types/query.pb.gw.go
  x/pocket/types/tx.pb.go
Labels: bug

#36 [Session] Just scaffold the Session module without any params
  app/app.go
  docs/static/openapi.yml
  proto/pocket/session/genesis.proto
  proto/pocket/session/params.proto
  proto/pocket/session/query.proto
  proto/pocket/session/tx.proto
  testutil/keeper/session.go
  x/session/client/cli/query.go
  x/session/client/cli/query_params.go
  x/session/client/cli/tx.go
  x/session/genesis.go
  x/session/genesis_test.go
  x/session/keeper/keeper.go
  x/session/keeper/msg_server.go
  x/session/keeper/msg_server_test.go
  x/session/keeper/params.go
  x/session/keeper/params_test.go
  x/session/keeper/query.go
  x/session/keeper/query_params.go
  x/session/keeper/query_params_test.go
  x/session/module.go
  x/session/module_simulation.go
  x/session/simulation/helpers.go
  x/session/types/codec.go
  x/session/types/errors.go
  x/session/types/expected_keepers.go
  x/session/types/genesis.go
  x/session/types/genesis_test.go
  x/session/types/keys.go
  x/session/types/params.go
  x/session/types/types.go
Labels: session

#49 [Supplier] Scaffolded the StakeSupplier message and nothing else
  docs/static/openapi.yml
  proto/pocket/supplier/tx.proto
  x/supplier/client/cli/tx.go
  x/supplier/client/cli/tx_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/module_simulation.go
  x/supplier/simulation/stake_supplier.go
  x/supplier/types/codec.go
  x/supplier/types/message_stake_supplier.go
  x/supplier/types/message_stake_supplier_test.go
Labels: supplier

#51 [Supplier] Scaffolded the StakeSupplier message and nothing else
  docs/static/openapi.yml
  proto/pocket/application/tx.proto
  x/application/client/cli/tx.go
  x/application/client/cli/tx_stake_application.go
  x/application/keeper/msg_server_stake_application.go
  x/application/module_simulation.go
  x/application/simulation/stake_application.go
  x/application/types/codec.go
  x/application/types/message_stake_application.go
  x/application/types/message_stake_application_test.go
Labels: application

#37 [Service] Just scaffold the Service module without any params
  app/app.go
  docs/static/openapi.yml
  proto/pocket/service/genesis.proto
  proto/pocket/service/params.proto
  proto/pocket/service/query.proto
  proto/pocket/service/tx.proto
  testutil/keeper/service.go
  x/service/client/cli/query.go
  x/service/client/cli/query_params.go
  x/service/client/cli/tx.go
  x/service/genesis.go
  x/service/genesis_test.go
  x/service/keeper/keeper.go
  x/service/keeper/msg_server.go
  x/service/keeper/msg_server_test.go
  x/service/keeper/params.go
  x/service/keeper/params_test.go
  x/service/keeper/query.go
  x/service/keeper/query_params.go
  x/service/keeper/query_params_test.go
  x/service/module.go
  x/service/module_simulation.go
  x/service/simulation/helpers.go
  x/service/types/codec.go
  x/service/types/errors.go
  x/service/types/expected_keepers.go
  x/service/types/genesis.go
  x/service/types/genesis_test.go
  x/service/types/keys.go
  x/service/types/params.go
  x/service/types/types.go
Labels: service

#48 [Supplier] Scaffolded the Supplier type (without CRUD messages) and nothing else
  docs/static/openapi.yml
  proto/pocket/supplier/genesis.proto
  proto/pocket/supplier/query.proto
  proto/pocket/supplier/supplier.proto
  x/supplier/client/cli/query.go
  x/supplier/client/cli/query_supplier.go
  x/supplier/client/cli/query_supplier_test.go
  x/supplier/genesis.go
  x/supplier/genesis_test.go
  x/supplier/keeper/query_supplier.go
  x/supplier/keeper/query_supplier_test.go
  x/supplier/keeper/supplier.go
  x/supplier/keeper/supplier_test.go
  x/supplier/types/genesis.go
  x/supplier/types/genesis_test.go
  x/supplier/types/key_supplier.go
Labels: supplier

#47 [Application] Scaffolded the Application type (without CRUD messages) and nothing else
  proto/pocket/application/application.proto
  proto/pocket/application/genesis.proto
  proto/pocket/application/query.proto
  x/application/client/cli/query.go
  x/application/client/cli/query_application.go
  x/application/client/cli/query_application_test.go
  x/application/genesis.go
  x/application/genesis_test.go
  x/application/keeper/application.go
  x/application/keeper/application_test.go
  x/application/keeper/query_application.go
  x/application/keeper/query_application_test.go
  x/application/types/genesis.go
  x/application/types/genesis_test.go
  x/application/types/key_application.go
Labels: application

#52 [Supplier] Scaffolded the UnstakeSupplier message and nothing else
  docs/static/openapi.yml
  proto/pocket/application/tx.proto
  x/application/client/cli/tx.go
  x/application/client/cli/tx_unstake_application.go
  x/application/keeper/msg_server_unstake_application.go
  x/application/module_simulation.go
  x/application/simulation/unstake_application.go
  x/application/types/codec.go
  x/application/types/message_unstake_application.go
  x/application/types/message_unstake_application_test.go
Labels: application

#50 [Supplier] Scaffolded the UnstakeSupplier message and nothing else
  docs/static/openapi.yml
  proto/pocket/supplier/tx.proto
  x/supplier/client/cli/tx.go
  x/supplier/client/cli/tx_unstake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier.go
  x/supplier/module_simulation.go
  x/supplier/simulation/unstake_supplier.go
  x/supplier/types/codec.go
  x/supplier/types/message_unstake_supplier.go
  x/supplier/types/message_unstake_supplier_test.go
Labels: supplier

#53 [WIP][Session] Adding the Relay type
  go.mod
  proto/pocket/service/relay.proto
Labels: session

#54 [Session] Adding the Session type
  proto/pocket/session/session.proto
Labels: session

#58 [Supplier] refactor: supplier type to shared protobuf package
  docs/static/openapi.yml
  go.mod
  proto/pocket/service/relay.proto
  proto/pocket/session/session.proto
  proto/pocket/shared/supplier.proto
  proto/pocket/supplier/genesis.proto
  proto/pocket/supplier/query.proto
  proto/pocket/supplier/supplier.proto
  x/supplier/client/cli/query_supplier_test.go
  x/supplier/genesis_test.go
  x/supplier/keeper/query_supplier.go
  x/supplier/keeper/supplier.go
  x/supplier/keeper/supplier_test.go
  x/supplier/types/genesis.go
  x/supplier/types/genesis_test.go
Labels: supplier

#57 [Gateway] Add the Gateway type definition
  docs/static/openapi.yml
  proto/pocket/gateway/gateway.proto
  proto/pocket/gateway/genesis.proto
  proto/pocket/gateway/query.proto
  x/gateway/client/cli/query.go
  x/gateway/client/cli/query_gateway.go
  x/gateway/client/cli/query_gateway_test.go
  x/gateway/genesis.go
  x/gateway/genesis_test.go
  x/gateway/keeper/gateway.go
  x/gateway/keeper/gateway_test.go
  x/gateway/keeper/query_gateway.go
  x/gateway/keeper/query_gateway_test.go
  x/gateway/types/genesis.go
  x/gateway/types/genesis_test.go
  x/gateway/types/key_gateway.go
Labels: gateway, protocol, on-chain

#62 [E2E] Add basics of the E2E suite
  Makefile
  e2e/tests/help.feature
  e2e/tests/init_test.go
  e2e/tests/node.go
  e2e/tests/send.feature
  go.mod
  go.sum
Labels: testing

#43 [Miner] chore: scaffold create-claim message
  docs/static/openapi.yml
  proto/pocket/supplier/tx.proto
  x/supplier/client/cli/tx.go
  x/supplier/client/cli/tx_create_claim.go
  x/supplier/keeper/msg_server_create_claim.go
  x/supplier/module_simulation.go
  x/supplier/simulation/create_claim.go
  x/supplier/types/codec.go
  x/supplier/types/message_create_claim.go
  x/supplier/types/message_create_claim_test.go
Labels: supplier, miner

#69 [Service] Ran ignite scaffold type service --module service --yes
  proto/pocket/shared/service.proto
  proto/pocket/shared/supplier.proto
  x/shared/types/types.go
Labels: service

#63 [CI] fix: run `make go_mockgen` step
  .github/workflows/go.yml
  Makefile
Labels: testing, infra

#59 [Application] Implement MsgStakeApplication & Add Extensive Tests
  .github/workflows/go.yml
  .gitignore
  Makefile
  README.md
  app/app.go
  cmd/pocketd/cmd/config.go
  cmd/pocketd/cmd/root.go
  config.yml
  docs/static/openapi.yml
  go.mod
  proto/pocket/application/application.proto
  proto/pocket/application/tx.proto
  proto/pocket/session/session.proto
  testutil/application/mocks/mocks.go
  testutil/keeper/application.go
  testutil/network/network.go
  x/application/client/cli/helpers_test.go
  x/application/client/cli/query_application_test.go
  x/application/client/cli/tx_stake_application.go
  x/application/client/cli/tx_stake_application_test.go
  x/application/genesis_test.go
  x/application/keeper/application.go
  x/application/keeper/application_test.go
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_stake_application_test.go
  x/application/keeper/msg_server_test.go
  x/application/simulation/stake_application.go
  x/application/types/errors.go
  x/application/types/expected_keepers.go
  x/application/types/genesis.go
  x/application/types/genesis_test.go
  x/application/types/message_stake_application.go
  x/application/types/message_stake_application_test.go
  x/supplier/client/cli/tx.go
Labels: application

#68 [Gateway] Implement StakeGateway Message and Add Tests
  .github/workflows/go.yml
  Makefile
  cmd/pocketd/cmd/root.go
  config.yml
  docs/static/openapi.yml
  proto/pocket/gateway/gateway.proto
  proto/pocket/gateway/tx.proto
  testutil/gateway/mocks/mocks.go
  testutil/keeper/gateway.go
  testutil/network/network.go
  x/application/client/cli/helpers_test.go
  x/gateway/client/cli/helpers_test.go
  x/gateway/client/cli/query_gateway_test.go
  x/gateway/client/cli/tx_stake_gateway.go
  x/gateway/client/cli/tx_stake_gateway_test.go
  x/gateway/keeper/gateway_test.go
  x/gateway/keeper/msg_server_stake_gateway.go
  x/gateway/keeper/msg_server_stake_gateway_test.go
  x/gateway/types/errors.go
  x/gateway/types/expected_keepers.go
  x/gateway/types/genesis.go
  x/gateway/types/genesis_test.go
  x/gateway/types/message_stake_gateway.go
  x/gateway/types/message_stake_gateway_test.go
Labels: gateway, testing

#75 [Gateway] Implement UnstakeGateway message and add Tests
  Makefile
  docs/static/openapi.yml
  go.mod
  proto/pocket/gateway/tx.proto
  testutil/keeper/gateway.go
  x/gateway/client/cli/tx_stake_gateway.go
  x/gateway/client/cli/tx_stake_gateway_test.go
  x/gateway/client/cli/tx_unstake_gateway.go
  x/gateway/client/cli/tx_unstake_gateway_test.go
  x/gateway/genesis.go
  x/gateway/keeper/msg_server_unstake_gateway.go
  x/gateway/keeper/msg_server_unstake_gateway_test.go
  x/gateway/types/errors.go
  x/gateway/types/expected_keepers.go
  x/gateway/types/genesis.go
  x/gateway/types/message_stake_gateway_test.go
  x/gateway/types/message_unstake_gateway.go
  x/gateway/types/message_unstake_gateway_test.go
Labels: gateway, testing

#44 [Miner, Supplier] chore: scaffold submit-proof message
  docs/static/openapi.yml
  proto/pocket/supplier/tx.proto
  x/supplier/client/cli/tx.go
  x/supplier/client/cli/tx_submit_proof.go
  x/supplier/keeper/msg_server_create_claim.go
  x/supplier/keeper/msg_server_submit_proof.go
  x/supplier/module_simulation.go
  x/supplier/simulation/submit_proof.go
  x/supplier/types/codec.go
  x/supplier/types/message_submit_proof.go
  x/supplier/types/message_submit_proof_test.go
Labels: supplier, miner

#70 feat: add Either type
  pkg/either/either.go
Labels: enhancement

#79 [Session] Scaffold the GetSession query
  docs/static/openapi.yml
  go.mod
  proto/pocket/session/query.proto
  x/application/types/genesis.go
  x/session/client/cli/query.go
  x/session/client/cli/query_get_session.go
  x/session/keeper/query_get_session.go
Labels: session

#71 [LocalNet] Allow to scale actors on LocalNet
  .gitignore
  Makefile
  README.md
  Tiltfile
  localnet/README.md
  localnet/kubernetes/pocketd-relayer.yaml
  localnet/kubernetes/pocketd.yaml
  localnet/kubernetes/values-common.yaml
Labels: infra

#60 [CI] Check for TODO_IN_THIS_COMMIT
  .github/workflows/reviewdog.yml
Labels: infra

#31 [Pkg] feat: add channel observable
  docs/pkg/observable/README.md
  docs/template/pkg/README.md
  go.mod
  internal/testchannel/drain.go
  internal/testerrors/require.go
  pkg/observable/channel/observable.go
  pkg/observable/channel/observable_test.go
  pkg/observable/channel/observation_test.go
  pkg/observable/channel/observer.go
  pkg/observable/channel/observer_test.go
  pkg/observable/errors.go
  pkg/observable/interface.go
Labels: miner

#80 [RelayerProxy] feat: add RelayerProxy interface
  pkg/relayer/proxy/interface.go
Labels: proxy

#76 [Supplier] Implement MsgStakeSupplier & Add Extensive Tests
  Makefile
  docs/static/openapi.yml
  go.mod
  proto/pocket/shared/supplier.proto
  proto/pocket/supplier/tx.proto
  testutil/keeper/supplier.go
  testutil/network/network.go
  testutil/supplier/mocks/mocks.go
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_stake_application_test.go
  x/application/keeper/msg_server_unstake_application_test.go
  x/application/simulation/stake_application.go
  x/gateway/keeper/msg_server_stake_gateway.go
  x/gateway/keeper/msg_server_stake_gateway_test.go
  x/gateway/keeper/msg_server_unstake_gateway_test.go
  x/gateway/simulation/stake_gateway.go
  x/supplier/client/cli/helpers_test.go
  x/supplier/client/cli/query_supplier_test.go
  x/supplier/client/cli/tx_stake_supplier.go
  x/supplier/client/cli/tx_stake_supplier_test.go
  x/supplier/genesis_test.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/simulation/stake_supplier.go
  x/supplier/types/errors.go
  x/supplier/types/expected_keepers.go
  x/supplier/types/genesis.go
  x/supplier/types/genesis_test.go
  x/supplier/types/message_create_claim.go
  x/supplier/types/message_create_claim_test.go
  x/supplier/types/message_stake_supplier.go
  x/supplier/types/message_stake_supplier_test.go
  x/supplier/types/message_unstake_supplier.go
  x/supplier/types/message_unstake_supplier_test.go
Labels: supplier

#77 [Supplier] Implement MsgUnstakeSupplier w/ Tests
  Makefile
  proto/pocket/supplier/tx.proto
  x/gateway/client/cli/tx_unstake_gateway.go
  x/gateway/keeper/msg_server_unstake_gateway.go
  x/supplier/client/cli/tx_unstake_supplier.go
  x/supplier/client/cli/tx_unstake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/types/errors.go
  x/supplier/types/message_unstake_supplier_test.go
Labels: supplier

#85 [AppGate] Scaffold delegate-to-gateway message
  docs/static/openapi.yml
  proto/pocket/application/tx.proto
  x/application/client/cli/tx.go
  x/application/client/cli/tx_delegate_to_gateway.go
  x/application/keeper/msg_server_delegate_to_gateway.go
  x/application/module_simulation.go
  x/application/simulation/delegate_to_gateway.go
  x/application/types/codec.go
  x/application/types/message_delegate_to_gateway.go
  x/application/types/message_delegate_to_gateway_test.go
Labels: gateway

#82 [RelayerProxy] feat: implement relayerProxy struct
  pkg/relayer/proxy/proxy.go
Labels: proxy

#83 [Observable] chore: observable touchup
  docs/pkg/observable/README.md
  docs/template/pkg/README.md
  pkg/observable/channel/observable.go
  pkg/observable/channel/observable_test.go
  pkg/observable/channel/observer.go
  pkg/observable/interface.go
Labels: off-chain

#89 feat: seperate tests from go_develop
  Makefile
  go.mod
Labels: infra

#84 [E2E] Add Regression Testing for Send E2E Feature Test
  e2e/tests/init_test.go
  e2e/tests/node.go
  e2e/tests/send.feature
  go.mod
Labels: testing

#87 chore: conform to golang standard of interface implementation registration
  .github/workflows/reviewdog.yml
  e2e/tests/node.go
  pkg/observable/channel/observable.go
  pkg/observable/channel/observer.go
  pkg/relayer/proxy/proxy.go
  x/application/types/message_delegate_to_gateway.go
  x/application/types/message_stake_application.go
  x/application/types/message_undelegate_from_gateway.go
  x/application/types/message_unstake_application.go
  x/gateway/types/message_stake_gateway.go
  x/gateway/types/message_unstake_gateway.go
  x/supplier/types/message_create_claim.go
  x/supplier/types/message_stake_supplier.go
  x/supplier/types/message_submit_proof.go
  x/supplier/types/message_unstake_supplier.go
Labels: code health

#92 [Miner] feat: add the map channel observable operator
  pkg/observable/channel/map.go
  pkg/observable/channel/map_test.go
Labels: miner, off-chain

#99 [Testing] test: add itest script and makefile target
  Makefile
  tools/scripts/itest.sh
Labels: code health

#100 [Test] Enforce `msg.ValidateBasic` in all the `keepers` and `msgServers` for redundancy
  go.mod
  x/application/keeper/msg_server_delegate_to_gateway.go
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
  x/application/keeper/query_application.go
  x/gateway/keeper/msg_server_stake_gateway.go
  x/gateway/keeper/msg_server_unstake_gateway.go
  x/supplier/keeper/msg_server_create_claim.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_submit_proof.go
  x/supplier/keeper/msg_server_unstake_supplier.go
Labels: testing

#78 [Session] Implement the 1st iteration of the SessionHydrator
  Makefile
  app/app.go
  docs/static/openapi.yml
  go.mod
  pkg/observable/channel/observer.go
  proto/pocket/application/application.proto
  proto/pocket/application/tx.proto
  proto/pocket/pocket/query.proto
  proto/pocket/session/query.proto
  proto/pocket/session/session.proto
  proto/pocket/shared/service.proto
  proto/pocket/shared/supplier.proto
  proto/pocket/supplier/tx.proto
  testutil/keeper/session.go
  testutil/session/mocks/mocks.go
  x/session/client/cli/query_get_session.go
  x/session/keeper/keeper.go
  x/session/keeper/msg_server_test.go
  x/session/keeper/query_get_session.go
  x/session/keeper/query_get_session_test.go
  x/session/keeper/query_params_test.go
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
  x/session/module.go
  x/session/types/errors.go
  x/session/types/expected_keepers.go
  x/supplier/keeper/supplier.go
Labels: session

#64 [Miner] feat: add events query client
  Makefile
  docs/pkg/client/events_query.md
  go.mod
  internal/mocks/.gitkeep
  internal/testclient/common.go
  internal/testclient/testeventsquery/client.go
  internal/testclient/testeventsquery/connection.go
  pkg/client/events_query/client.go
  pkg/client/events_query/client_integration_test.go
  pkg/client/events_query/client_test.go
  pkg/client/events_query/errors.go
  pkg/client/events_query/options.go
  pkg/client/events_query/websocket/connection.go
  pkg/client/events_query/websocket/dialer.go
  pkg/client/events_query/websocket/errors.go
  pkg/client/interface.go
Labels: miner

#95 [Application] Add `ServiceConfigs` to `AppStaking`
  Makefile
  docs/static/openapi.yml
  go.mod
  proto/pocket/application/application.proto
  proto/pocket/application/tx.proto
  proto/pocket/shared/service.proto
  testutil/keeper/session.go
  testutil/network/network.go
  x/application/client/cli/tx_stake_application.go
  x/application/client/cli/tx_stake_application_test.go
  x/application/keeper/application.go
  x/application/keeper/application_test.go
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_stake_application_test.go
  x/application/keeper/msg_server_unstake_application_test.go
  x/application/types/errors.go
  x/application/types/genesis.go
  x/application/types/genesis_test.go
  x/application/types/message_stake_application.go
  x/application/types/message_stake_application_test.go
  x/session/keeper/session_hydrator_test.go
  x/shared/helpers/service.go
  x/shared/helpers/service_configs.go
  x/shared/helpers/service_test.go
Labels: application

#96 [Proxy] feat: add general proxy logic and server builder
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/interface.go
  pkg/relayer/proxy/jsonrpc.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/server_builder.go
  proto/pocket/shared/supplier.proto
Labels: proxy

#93 [Miner] feat: add replay observable
  pkg/observable/channel/observable.go
  pkg/observable/channel/observable_test.go
  pkg/observable/channel/observer.go
  pkg/observable/channel/observer_manager.go
  pkg/observable/channel/observer_test.go
  pkg/observable/channel/replay.go
  pkg/observable/channel/replay_test.go
  pkg/observable/interface.go
Labels: miner, off-chain

#115 feat: add either.AsyncErr type & helpers
  pkg/either/errors.go
  pkg/either/types.go
Labels: miner, off-chain

#117 [Either] refactor: add `either.Bytes` alias
  pkg/client/events_query/client.go
  pkg/client/interface.go
  pkg/either/types.go
Labels: miner, off-chain

#88 [E2E] Add (Un)Stake Tests
  e2e/tests/help.feature
  e2e/tests/init_test.go
  e2e/tests/send.feature
  e2e/tests/stake.feature
Labels: testing

#90 [AppGate] Implement DelegateToGateway and add Tests
  Makefile
  app/app.go
  docs/static/openapi.yml
  go.mod
  proto/pocket/application/application.proto
  proto/pocket/application/tx.proto
  testutil/keeper/application.go
  testutil/keeper/gateway.go
  x/application/client/cli/tx_delegate_to_gateway.go
  x/application/client/cli/tx_delegate_to_gateway_test.go
  x/application/keeper/keeper.go
  x/application/keeper/msg_server_delegate_to_gateway.go
  x/application/keeper/msg_server_delegate_to_gateway_test.go
  x/application/keeper/msg_server_stake_application.go
  x/application/simulation/delegate_to_gateway.go
  x/application/types/errors.go
  x/application/types/expected_keepers.go
  x/application/types/genesis.go
  x/application/types/genesis_test.go
  x/application/types/message_delegate_to_gateway.go
  x/application/types/message_delegate_to_gateway_test.go
  x/gateway/keeper/keeper.go
Labels: application

#121 [Test] Temporarily skip a flaky test `TestEventsQueryClient_Subscribe_Succeeds`
  go.mod
  pkg/client/events_query/client_test.go
Labels: bug, testing

#109 [AppGate] Add the MaxDelegatedGateways parameter
  config.yml
  docs/static/openapi.yml
  proto/pocket/application/params.proto
  testutil/keeper/application.go
  x/application/keeper/msg_server_delegate_to_gateway.go
  x/application/keeper/msg_server_delegate_to_gateway_test.go
  x/application/types/errors.go
  x/application/types/genesis_test.go
  x/application/types/params.go
Labels: application

#114 [Supplier] Add `ServiceConfigs` to `SupplierStaking`
  Makefile
  Tiltfile
  proto/pocket/supplier/tx.proto
  testutil/keeper/session.go
  testutil/network/network.go
  x/application/client/cli/tx_stake_application_test.go
  x/application/genesis_test.go
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_stake_application_test.go
  x/application/keeper/msg_server_unstake_application_test.go
  x/application/types/genesis.go
  x/application/types/message_stake_application.go
  x/application/types/message_stake_application_test.go
  x/shared/helpers/service.go
  x/shared/helpers/service_configs.go
  x/shared/helpers/service_test.go
  x/supplier/client/cli/tx_stake_supplier.go
  x/supplier/client/cli/tx_stake_supplier_test.go
  x/supplier/genesis_test.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/keeper/supplier.go
  x/supplier/keeper/supplier_test.go
  x/supplier/simulation/stake_supplier.go
  x/supplier/types/errors.go
  x/supplier/types/genesis.go
  x/supplier/types/genesis_test.go
  x/supplier/types/message_stake_supplier.go
  x/supplier/types/message_stake_supplier_test.go
Labels: supplier
