Repository pokt-network/poktroll, pull requests merged in 2024-07, with the labels that each got.

#631 [Tokenomics] Update telemetry to include relay mining difficulty and EMA
  localnet/grafana-dashboards/stress-test-dashboard.json
  telemetry/event_counters.go
  x/session/keeper/session_hydrator.go
  x/tokenomics/keeper/update_relay_mining_difficulty.go
  x/tokenomics/keeper/update_relay_mining_difficulty_test.go
  x/tokenomics/module/abci.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, tokenomics

#645 [Relayminer] fix: relayminer wait log
  pkg/relayer/proxy/server_builder.go
Labels: relayminer

#641 [LocalNet] Grafana stress test dashboard changes
  Tiltfile
  localnet/grafana-dashboards/stress-test-dashboard.json
Labels: infra, push-image, devnet, devnet-test-e2e

#651 [Load Testing] fix: relay stress test duration calculation
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
Labels: loadtest

#661 [LoadTest] Passing non-existing plans variable
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
Labels: bug, loadtest

#649 [Docs] Claim expiration
  docusaurus/docs/protocol/primitives/claim_and_proof_lifecycle.md
Labels: documentation, on-chain

#655 [Relayminer] refactor: query `min_relay_difficulty_bits` param
  pkg/client/interface.go
  pkg/client/query/proofquerier.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/miner/options.go
  testutil/testclient/testqueryclients/proofquerier.go
  x/proof/types/params.go
Labels: relayminer, off-chain, code health, push-image, devnet, devnet-test-e2e

#654 [Docs] Update observability docusaurus & godocs
  docusaurus/docs/develop/contributing/observability.md
  telemetry/event_counters.go
Labels: documentation, observability

#653 [Observability] refactor: remove error labels from metrics
  telemetry/event_counters.go
Labels: observability

#656 [Code Health] refactor: simplify `protocol.CountHashDifficultyBits()`
  pkg/crypto/protocol/difficulty.go
  pkg/crypto/protocol/difficulty_test.go
  pkg/crypto/protocol/errors.go
  pkg/relayer/miner/gen/gen_fixtures.go
  pkg/relayer/miner/miner.go
  pkg/relayer/protocol/difficulty.go
  pkg/relayer/protocol/difficulty_test.go
  pkg/relayer/protocol/errors.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
Labels: code health, push-image, devnet, devnet-test-e2e

#668 [Testing] chore: uncomment proof CLI query tests
  x/proof/module/query_proof_test.go
Labels: testing

#683 [Code Health] chore: log unused error when updating relay mining difficulty
  x/tokenomics/keeper/update_relay_mining_difficulty.go
Labels: code health

#644 [Observability] Add claim relays counter
  localnet/grafana-dashboards/stress-test-dashboard.json
  telemetry/event_counters.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_submit_proof.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/module/abci.go
  x/tokenomics/types/types.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, observability

#647 [Observables] chore: add `ReplayObservable#SubscribeFromLatestBufferedOffset()`
  pkg/observable/channel/replay.go
  pkg/observable/channel/replay_test.go
  pkg/observable/interface.go
Labels: off-chain, code health, push-image, devnet, devnet-test-e2e

#648 [Relayminer] refactor: `relayerSessionsManager#waitForBlock()`
  pkg/observable/channel/map.go
  pkg/observable/channel/replay.go
  pkg/observable/channel/replay_test.go
  pkg/observable/interface.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
Labels: bug, relayminer, push-image, devnet, devnet-test-e2e

#691 [Dependencies] bump go-getter and ibc-go
  go.mod
  go.sum
Labels: push-image, devnet, devnet-test-e2e, dependencies

#659 [TODOs] refactor: proof path calculation
  pkg/crypto/protocol/proof_path.go
  pkg/relayer/session/proof.go
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/tokenomics/keeper/update_relay_mining_difficulty.go
Labels: protocol, off-chain, on-chain, push-image, devnet, devnet-test-e2e

#692 [Application] Auto-undelegation of unstaked gateways
  api/poktroll/gateway/event.pulsar.go
  proto/poktroll/gateway/event.proto
  x/application/keeper/auto_undelegate.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/module/abci.go
  x/gateway/keeper/msg_server_unstake_gateway.go
  x/gateway/types/event.pb.go
Labels: application, gateway, push-image, devnet, devnet-test-e2e

#670 [Testing] add account balance coverage to account settlement
  testutil/keeper/tokenomics.go
  x/tokenomics/keeper/settle_session_accounting_test.go
  x/tokenomics/types/expected_keepers.go
Labels: testing, tokenomics

#667 [TODOs] `grace_period_end_offset_blocks` validation & cleanup
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/relay_verifier.go
  x/session/keeper/session_hydrator.go
  x/shared/types/params.go
  x/tokenomics/keeper/msg_update_params.go
Labels: code health, push-image, devnet, devnet-test-e2e

#671 [TODO] refactor: query expiring claims w/ index
  testutil/integration/app.go
  testutil/keeper/tokenomics.go
  x/shared/session.go
  x/shared/session_test.go
  x/tokenomics/keeper/keeper.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/module/module.go
  x/tokenomics/types/expected_keepers.go
Labels: on-chain, code health, push-image, devnet, devnet-test-e2e

#637 [Documentation] Load Testing on DevNets and TestNets
  .gitignore
  Makefile
  docusaurus/docs/operate/infrastructure/devnet.md
  docusaurus/docs/operate/testing/load_testing.md
  docusaurus/docs/operate/testing/load_testing_devnet.md
  docusaurus/docs/operate/testing/load_testing_plan_1.md
  docusaurus/docs/operate/testing/load_testing_testnet.md
  load-testing/README.md
  load-testing/loadtest_manifest_example.yaml
  load-testing/loadtest_manifest_localnet.yaml
Labels: documentation

#693 [Supplier] Deny supplier staking with unknown services
  config.yml
  localnet/poktrolld/config/supplier1_stake_config.yaml
  testutil/integration/app.go
  testutil/keeper/proof.go
  testutil/keeper/supplier.go
  testutil/keeper/tokenomics.go
  x/service/keeper/service.go
  x/service/keeper/service_test.go
  x/service/module/genesis.go
  x/service/types/expected_keepers.go
  x/supplier/keeper/keeper.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/module/module.go
  x/supplier/types/errors.go
  x/supplier/types/expected_keepers.go
Labels: supplier, service, on-chain, push-image, devnet, devnet-test-e2e

#669 [TODOs] add `EventApplicationOverserviced` event
  api/poktroll/tokenomics/event.pulsar.go
  proto/poktroll/tokenomics/event.proto
  x/tokenomics/keeper/settle_session_accounting.go
  x/tokenomics/keeper/settle_session_accounting_test.go
  x/tokenomics/types/errors.go
  x/tokenomics/types/event.pb.go
Labels: on-chain, code health, push-image, devnet, devnet-test-e2e

#672 [TODO] chore: update `smt.MerkleRoot#Sum()` error handling
  go.mod
  go.sum
  pkg/client/supplier/client_test.go
  pkg/crypto/protocol/hasher.go
  pkg/relayer/session/sessiontree.go
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  testutil/proof/fixture_generators.go
  x/application/keeper/auto_undelegate.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/types/claim.go
  x/tokenomics/keeper/settle_session_accounting.go
  x/tokenomics/keeper/settle_session_accounting_test.go
Labels: bug, code health, push-image, devnet, devnet-test-e2e

#699 Review of #690 by @olshansk
  Makefile
  api/poktroll/proof/params.pulsar.go
  pkg/client/events/query_client_test.go
  pkg/crypto/protocol/difficulty.go
  pkg/crypto/protocol/difficulty_test.go
  pkg/crypto/protocol/hash.go
  pkg/crypto/protocol/hasher.go
  pkg/relayer/miner/gen/gen_fixtures.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/miner_test.go
  proto/poktroll/proof/params.proto
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  testutil/network/network.go
  testutil/testrelayer/relays.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/types/params.go
  x/proof/types/params.pb.go
  x/service/types/relay.go
  x/tokenomics/keeper/msg_server_update_param_test.go
  x/tokenomics/keeper/scale_difficulty_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/update_relay_mining_difficulty.go
  x/tokenomics/keeper/update_relay_mining_difficulty_test.go
  x/tokenomics/module/abci.go
Labels: miner, code health

#690 [Mining] refactor: difficulty in terms of target hash
  Makefile
  api/poktroll/proof/params.pulsar.go
  e2e/tests/parse_params_test.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  pkg/client/events/query_client_test.go
  pkg/client/interface.go
  pkg/crypto/protocol/difficulty.go
  pkg/crypto/protocol/difficulty_test.go
  pkg/crypto/protocol/hash.go
  pkg/crypto/protocol/hasher.go
  pkg/crypto/rand/integer.go
  pkg/relayer/miner/gen/gen_fixtures.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/miner/options.go
  proto/poktroll/proof/params.proto
  telemetry/event_counters.go
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  testutil/network/network.go
  testutil/testrelayer/relays.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/msg_server_update_param.go
  x/proof/keeper/msg_server_update_param_test.go
  x/proof/keeper/msg_update_params_test.go
  x/proof/keeper/params_test.go
  x/proof/types/message_update_param.go
  x/proof/types/message_update_param_test.go
  x/proof/types/params.go
  x/proof/types/params.pb.go
  x/service/types/relay.go
  x/tokenomics/keeper/msg_server_update_param_test.go
  x/tokenomics/keeper/scale_difficulty_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/update_relay_mining_difficulty.go
  x/tokenomics/keeper/update_relay_mining_difficulty_test.go
  x/tokenomics/module/abci.go
Labels: miner, code health, push-image, devnet, devnet-test-e2e

#552 [Utility] Feat: Chain-specific compute unit to tokens multipliers
  api/poktroll/shared/service.pulsar.go
  config.yml
  e2e/tests/0_settlement.feature
  e2e/tests/init_test.go
  proto/poktroll/shared/service.proto
  testutil/keeper/tokenomics.go
  testutil/proof/fixture_generators.go
  x/service/keeper/msg_server_add_service_test.go
  x/service/module/tx_add_service.go
  x/service/module/tx_add_service_test.go
  x/service/types/errors.go
  x/service/types/message_add_service.go
  x/service/types/message_add_service_test.go
  x/shared/types/service.go
  x/shared/types/service.pb.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/msg_server_test.go
  x/tokenomics/keeper/msg_update_params_test.go
  x/tokenomics/keeper/query_params_test.go
  x/tokenomics/keeper/settle_session_accounting.go
  x/tokenomics/keeper/settle_session_accounting_test.go
  x/tokenomics/module/genesis_test.go
  x/tokenomics/types/errors.go
Labels: protocol, on-chain, push-image, devnet, devnet-test-e2e

#666 [Supplier] Implement unbonding period
  api/poktroll/shared/supplier.pulsar.go
  e2e/tests/init_test.go
  e2e/tests/session_steps_test.go
  e2e/tests/stake_app.feature
  e2e/tests/stake_gateway.feature
  e2e/tests/stake_supplier.feature
  proto/poktroll/shared/supplier.proto
  testutil/integration/app.go
  testutil/keeper/proof.go
  testutil/keeper/supplier.go
  testutil/keeper/tokenomics.go
  x/session/keeper/session_hydrator.go
  x/shared/supplier.go
  x/shared/types/supplier.go
  x/shared/types/supplier.pb.go
  x/supplier/keeper/keeper.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/keeper/unbond_suppliers.go
  x/supplier/module/abci.go
  x/supplier/module/module.go
  x/supplier/module/simulation.go
  x/supplier/types/errors.go
  x/supplier/types/expected_keepers.go
  x/supplier/types/genesis_test.go
Labels: supplier, on-chain, push-image, devnet, devnet-test-e2e

#703 [Proof Validation] Move proof validation to session settlement
  api/poktroll/tokenomics/event.pulsar.go
  pkg/client/query/accquerier.go
  pkg/crypto/protocol/difficulty.go
  proto/poktroll/shared/service.proto
  proto/poktroll/tokenomics/event.proto
  testutil/keeper/tokenomics.go
  testutil/testtree/tree.go
  x/proof/keeper/keeper.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/proof_validation.go
  x/proof/keeper/proof_validation_test.go
  x/proof/keeper/session.go
  x/proof/types/account_query_client.go
  x/proof/types/errors.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/settle_session_accounting_test.go
  x/tokenomics/types/event.pb.go
  x/tokenomics/types/expected_keepers.go
Labels: protocol, on-chain

#712 [Cleanup] Disable C&P msg distribution
  x/shared/session.go
Labels: supplier, protocol, push-image, devnet, devnet-test-e2e

#714 [Service] Add `owner_address` to the Service type
  api/poktroll/service/tx.pulsar.go
  api/poktroll/shared/service.pulsar.go
  proto/poktroll/service/tx.proto
  proto/poktroll/shared/service.proto
  proto/poktroll/shared/tx.proto
  x/service/keeper/msg_server_add_service.go
  x/service/keeper/msg_server_add_service_test.go
  x/service/module/tx_add_service.go
  x/service/module/tx_add_service_test.go
  x/service/simulation/add_service.go
  x/service/types/errors.go
  x/service/types/message_add_service.go
  x/service/types/message_add_service_test.go
  x/service/types/tx.pb.go
  x/shared/types/service.go
  x/shared/types/service.pb.go
  x/tokenomics/keeper/settle_session_accounting_test.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, utility

#713 A few corrections on quickstart.md doc
  docusaurus/docs/develop/developer_guide/quickstart.md
Labels: documentation

#706 [Review] Followups after #552 review
  Makefile
  api/poktroll/shared/service.pulsar.go
  e2e/tests/service.feature
  pkg/relayer/miner/miner_test.go
  proto/poktroll/shared/service.proto
  testutil/keeper/tokenomics.go
  testutil/testproxy/relayerproxy.go
  x/service/module/tx_add_service.go
  x/service/types/message_add_service.go
  x/shared/types/service.pb.go
  x/tokenomics/keeper/settle_session_accounting.go
Labels: code health, push-image, devnet, devnet-test-e2e
