Repository pokt-network/poktroll, pull requests merged in 2024-10, with the labels that each got.

#789 [Application] chore: implement app transfer period
  api/poktroll/application/event.pulsar.go
  api/poktroll/application/tx.pulsar.go
  api/poktroll/application/types.pulsar.go
  api/poktroll/gateway/tx.pulsar.go
  docusaurus/docs/operate/user_guide/transfer-application.md
  e2e/tests/init_test.go
  e2e/tests/session_steps_test.go
  e2e/tests/stake_app.feature
  e2e/tests/stake_app_transfer.feature
  e2e/tests/stake_app_transfer_steps_test.go
  makefiles/params.mk
  proto/poktroll/application/event.proto
  proto/poktroll/application/tx.proto
  proto/poktroll/application/types.proto
  proto/poktroll/gateway/tx.proto
  tests/integration/application/application_transfer_test.go
  tests/integration/params/update_param_test.go
  tests/integration/params/update_params_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  testutil/events/filter.go
  testutil/integration/suites/application.go
  testutil/integration/suites/authz.go
  testutil/integration/suites/gateway.go
  testutil/integration/suites/update_params.go
  testutil/testkeyring/accounts.go
  tools/scripts/params/shared_application_unbonding_period_sessions.json
  tools/scripts/params/shared_supplier_unbonding_period_sessions.json
  x/application/keeper/msg_server_delegate_to_gateway.go
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_transfer_application.go
  x/application/keeper/msg_server_transfer_application_stake.go
  x/application/keeper/msg_server_transfer_application_stake_test.go
  x/application/keeper/msg_server_transfer_application_test.go
  x/application/keeper/msg_server_unstake_application.go
  x/application/keeper/transfer_application_test.go
  x/application/keeper/transfer_applications.go
  x/application/keeper/unbond_applications.go
  x/application/module/abci.go
  x/application/simulation/transfer_application.go
  x/application/types/application.go
  x/application/types/errors.go
  x/application/types/event.pb.go
  x/application/types/message_transfer_application.go
  x/application/types/message_transfer_application_test.go
  x/application/types/tx.pb.go
  x/application/types/types.pb.go
  x/gateway/keeper/msg_server_stake_gateway.go
  x/gateway/types/tx.pb.go
  x/shared/session.go
  x/supplier/keeper/unbond_suppliers.go
Labels: application, on-chain, push-image, devnet, devnet-test-e2e

#809 [Gateway] Add `min_stake` gateway module param
  api/poktroll/gateway/params.pulsar.go
  api/poktroll/gateway/tx.pulsar.go
  config.yml
  e2e/tests/parse_params_test.go
  makefiles/params.mk
  proto/poktroll/gateway/params.proto
  proto/poktroll/gateway/tx.proto
  testutil/integration/suites/param_configs.go
  testutil/integration/suites/update_params.go
  tools/scripts/authz/dao_genesis_authorizations.json
  tools/scripts/params/gateway_all.json
  tools/scripts/params/gateway_min_stake.json
  tools/scripts/params/tokenomics_compute_units_to_tokens_multiplier.json
  x/gateway/keeper/msg_server_update_param.go
  x/gateway/keeper/msg_server_update_param_test.go
  x/gateway/keeper/msg_update_params_test.go
  x/gateway/keeper/params_test.go
  x/gateway/types/errors.go
  x/gateway/types/genesis_test.go
  x/gateway/types/message_update_param.go
  x/gateway/types/message_update_param_test.go
  x/gateway/types/params.go
  x/gateway/types/params.pb.go
  x/gateway/types/tx.pb.go
  x/proof/keeper/msg_server_update_param.go
  x/proof/keeper/msg_server_update_param_test.go
Labels: gateway, governance, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#831 [Tokenomics] Use big.Rat to calculate new difficulty hash
  pkg/crypto/protocol/relay_difficulty.go
  pkg/crypto/protocol/relay_difficulty_test.go
Labels: push-image, devnet, devnet-test-e2e, tokenomics, utility

#843 [Gateway] Enforce minimum stake when staking
  x/gateway/keeper/msg_server_stake_gateway.go
  x/gateway/keeper/msg_server_stake_gateway_test.go
Labels: gateway, protocol, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#844 [Application] chore: add `MsgUpdateParam` to application module
  api/poktroll/application/tx.pulsar.go
  api/poktroll/application/tx_grpc.pb.go
  go.mod
  proto/poktroll/application/tx.proto
  tools/scripts/authz/dao_genesis_authorizations.json
  x/application/keeper/msg_server_update_param.go
  x/application/module/autocli.go
  x/application/module/simulation.go
  x/application/simulation/update_param.go
  x/application/types/codec.go
  x/application/types/message_update_param.go
  x/application/types/message_update_param_test.go
  x/application/types/tx.pb.go
Labels: application, governance, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#866 [Tokenomics] Prevent GMR to produce zero values
  x/tokenomics/keeper/token_logic_modules.go
Labels: bug, push-image, devnet, devnet-test-e2e, tokenomics

#847 [Application] Enforce minimum stake when staking
  x/application/keeper/msg_server_delegate_to_gateway_test.go
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_stake_application_test.go
  x/application/keeper/msg_server_transfer_application_test.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/keeper/msg_server_unstake_application_test.go
Labels: application, protocol, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#848 [Application] Enforce minimum stake when burning
  config.yml
  pkg/crypto/rings/client.go
  tests/integration/application/min_stake_test.go
  testutil/keeper/tokenomics.go
  testutil/testkeyring/accounts.go
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_unstake_application.go
  x/application/keeper/msg_server_unstake_application_test.go
  x/application/keeper/unbond_applications.go
  x/application/types/application.go
  x/shared/types/params.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/types/expected_keepers.go
Labels: application, protocol, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#840 [Tokenomics] Implement difficulty proportional rewards
  api/poktroll/proof/event.pulsar.go
  api/poktroll/service/relay_mining_difficulty.pulsar.go
  api/poktroll/tokenomics/event.pulsar.go
  config.yml
  docusaurus/docs/develop/developer_guide/adding_params.md
  makefiles/params.mk
  pkg/client/interface.go
  pkg/client/query/servicequerier.go
  pkg/crypto/rings/client.go
  pkg/relayer/miner/gen/gen_fixtures.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session_test.go
  proto/poktroll/proof/event.proto
  proto/poktroll/service/relay_mining_difficulty.proto
  proto/poktroll/tokenomics/event.proto
  tests/integration/application/min_stake_test.go
  tests/integration/service/relay_mining_difficulty_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  testutil/keeper/tokenomics.go
  testutil/testclient/testqueryclients/servicequerier.go
  testutil/testkeyring/accounts.go
  testutil/testrelayer/relays.go
  tools/scripts/params/proof_all.json
  tools/scripts/params/proof_min_relay_difficulty_bits.json
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_unstake_application.go
  x/application/keeper/msg_server_unstake_application_test.go
  x/application/keeper/unbond_applications.go
  x/application/types/application.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/types/claim.go
  x/proof/types/errors.go
  x/proof/types/event.pb.go
  x/service/keeper/update_relay_mining_difficulty.go
  x/service/types/relay_mining_difficulty.pb.go
  x/shared/types/params.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/tokenomics.go
  x/tokenomics/types/event.pb.go
  x/tokenomics/types/expected_keepers.go
Labels: push-image, devnet, devnet-test-e2e, tokenomics

#849 [Supplier] Add `MsgUpdateParam` to application module
  api/poktroll/supplier/tx.pulsar.go
  api/poktroll/supplier/tx_grpc.pb.go
  proto/poktroll/supplier/tx.proto
  tests/integration/application/min_stake_test.go
  testutil/integration/suites/param_configs.go
  tools/scripts/authz/dao_genesis_authorizations.json
  x/supplier/keeper/msg_server_update_param.go
  x/supplier/module/autocli.go
  x/supplier/module/simulation.go
  x/supplier/simulation/update_param.go
  x/supplier/types/codec.go
  x/supplier/types/errors.go
  x/supplier/types/message_update_param.go
  x/supplier/types/message_update_param_test.go
  x/supplier/types/tx.pb.go
Labels: supplier, governance, on-chain, consensus-breaking

#850 [Supplier] Add `min_stake` supplier module param
  api/poktroll/supplier/params.pulsar.go
  config.yml
  makefiles/params.mk
  proto/poktroll/supplier/params.proto
  testutil/integration/suites/param_configs.go
  tools/scripts/params/supplier_all.json
  tools/scripts/params/supplier_min_stake.json
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_update_param.go
  x/supplier/keeper/msg_server_update_param_test.go
  x/supplier/keeper/msg_update_params_test.go
  x/supplier/keeper/params_test.go
  x/supplier/types/genesis_test.go
  x/supplier/types/message_update_param.go
  x/supplier/types/message_update_param_test.go
  x/supplier/types/params.go
  x/supplier/types/params.pb.go
Labels: supplier, governance, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#857 [Supplier] Enforce minimum stake when staking
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
Labels: supplier, protocol, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#880 [Tokenomics] Implement difficulty proportional rewards
  api/poktroll/proof/event.pulsar.go
  api/poktroll/service/relay_mining_difficulty.pulsar.go
  api/poktroll/tokenomics/event.pulsar.go
  docusaurus/docs/develop/developer_guide/adding_params.md
  makefiles/params.mk
  pkg/client/interface.go
  pkg/client/query/servicequerier.go
  pkg/relayer/miner/gen/gen_fixtures.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session_test.go
  proto/poktroll/proof/event.proto
  proto/poktroll/service/relay_mining_difficulty.proto
  proto/poktroll/tokenomics/event.proto
  tests/integration/service/relay_mining_difficulty_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  testutil/keeper/tokenomics.go
  testutil/testclient/testqueryclients/servicequerier.go
  testutil/testrelayer/relays.go
  tools/scripts/params/proof_all.json
  tools/scripts/params/proof_min_relay_difficulty_bits.json
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/types/claim.go
  x/proof/types/errors.go
  x/proof/types/event.pb.go
  x/service/keeper/update_relay_mining_difficulty.go
  x/service/types/relay_mining_difficulty.pb.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/tokenomics.go
  x/tokenomics/types/event.pb.go
Labels: push-image, devnet, devnet-test-e2e, tokenomics

#877 [Docs] Fix example of how to set rev share precentage
  docusaurus/docs/operate/configs/supplier_staking_config.md
  localnet/poktrolld/config/supplier1_stake_config.yaml
  localnet/poktrolld/config/supplier_stake_config_example.yaml
Labels: documentation

#852 [Shared] Refresh shared module params logic
  x/shared/keeper/msg_server_update_param.go
  x/shared/keeper/msg_server_update_param_test.go
  x/shared/types/message_update_param.go
  x/shared/types/message_update_param_test.go
  x/shared/types/params.go
Labels: governance, on-chain, code health, push-image, devnet, devnet-test-e2e

#851 [Proof] Refresh proof module params logic
  x/proof/keeper/msg_server_update_param.go
  x/proof/keeper/msg_server_update_param_test.go
  x/proof/keeper/msg_update_params_test.go
  x/proof/keeper/params_test.go
  x/proof/types/message_update_param.go
  x/proof/types/params.go
Labels: governance, on-chain, code health, push-image, devnet, devnet-test-e2e, proof

#861 [Service] Refresh service module params logic
  x/service/keeper/msg_server_update_param.go
  x/service/keeper/msg_server_update_param_test.go
  x/service/keeper/msg_update_params_test.go
  x/service/keeper/params_test.go
  x/service/types/errors.go
  x/service/types/genesis_test.go
  x/service/types/message_update_param.go
  x/service/types/message_update_param_test.go
  x/service/types/params.go
Labels: service, on-chain, code health, push-image, devnet, devnet-test-e2e

#863 [On-Chain] Refactor `uint64` type individual param update logic
  api/poktroll/application/tx.pulsar.go
  api/poktroll/proof/tx.pulsar.go
  api/poktroll/shared/tx.pulsar.go
  e2e/tests/parse_params_test.go
  proto/poktroll/application/tx.proto
  proto/poktroll/proof/tx.proto
  proto/poktroll/shared/tx.proto
  testutil/integration/suites/param_configs.go
  testutil/integration/suites/update_params.go
  x/application/keeper/msg_server_update_param.go
  x/application/keeper/msg_server_update_param_test.go
  x/application/types/message_update_param.go
  x/application/types/tx.pb.go
  x/proof/types/message_update_param.go
  x/proof/types/message_update_param_test.go
  x/proof/types/tx.pb.go
  x/shared/keeper/msg_server_update_param.go
  x/shared/keeper/msg_server_update_param_test.go
  x/shared/types/message_update_param.go
  x/shared/types/message_update_param_test.go
  x/shared/types/tx.pb.go
  x/tokenomics/types/tx.pb.go
Labels: on-chain, code health, push-image, devnet, devnet-test-e2e, consensus-breaking

#864 [Tooling, Docs] Refactor params docs generation command & update params docs
  api/poktroll/supplier/tx.pulsar.go
  docusaurus/docs/protocol/governance/params.md
  proto/poktroll/supplier/tx.proto
  tools/scripts/docusaurus/generate_docs_params.go
  tools/scripts/docusaurus/param_field_row_template.md
  tools/scripts/docusaurus/params_doc_template.md
Labels: documentation, tooling

#855 [Code Health] refactor: share helpers to consolidate avoid dependency cycles
  e2e/tests/init_test.go
  load-testing/tests/relays_stress_helpers_test.go
  pkg/client/query/sharedquerier.go
  pkg/crypto/rings/client.go
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  tests/integration/application/application_transfer_test.go
  tests/integration/application/min_stake_test.go
  tests/integration/service/relay_mining_difficulty_test.go
  tests/integration/tokenomics/tokenomics_example_test.go
  testutil/session/session.go
  testutil/testclient/testqueryclients/sharedquerier.go
  x/application/keeper/msg_server_transfer_application_test.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/keeper/msg_server_unstake_application.go
  x/application/keeper/transfer_applications.go
  x/application/keeper/unbond_applications.go
  x/application/types/application.go
  x/application/types/genesis.go
  x/application/types/message_stake_application.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/proof_validation_test.go
  x/proof/keeper/session.go
  x/proof/types/shared_query_client.go
  x/session/keeper/session_hydrator.go
  x/shared/keeper/msg_server_update_param_test.go
  x/shared/keeper/session.go
  x/shared/supplier.go
  x/shared/types/params.go
  x/shared/types/service_configs.go
  x/shared/types/service_test.go
  x/shared/types/session.go
  x/shared/types/session_test.go
  x/shared/types/supplier.go
  x/supplier/config/supplier_configs_reader.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/keeper/unbond_suppliers.go
  x/supplier/types/genesis.go
  x/supplier/types/message_stake_supplier.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
Labels: code health, push-image, devnet, devnet-test-e2e

#882 [Code Health] refactor: simplify `testevents.FilterEvents()`
  tests/integration/service/relay_mining_difficulty_test.go
  testutil/events/filter.go
  x/application/keeper/msg_server_transfer_application_test.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/service/keeper/update_relay_mining_difficulty_test.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/token_logic_modules_test.go
Labels: code health

#875 [Docs] Docker-compose guide: also cleanup cosmovisor history
  Dockerfile.release
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
Labels: documentation

#869 [Gateway] Add missing stake event
  api/poktroll/application/event.pulsar.go
  api/poktroll/gateway/event.pulsar.go
  proto/poktroll/gateway/event.proto
  testutil/integration/app.go
  testutil/integration/suites/base_test.go
  testutil/keeper/gateway.go
  testutil/keeper/proof.go
  testutil/keeper/tokenomics.go
  x/application/keeper/auto_undelegate.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/gateway/keeper/keeper.go
  x/gateway/keeper/msg_server_stake_gateway.go
  x/gateway/keeper/msg_server_stake_gateway_test.go
  x/gateway/keeper/msg_server_unstake_gateway.go
  x/gateway/module/module.go
  x/gateway/types/errors.go
  x/gateway/types/event.pb.go
  x/gateway/types/expected_keepers.go
Labels: gateway, on-chain, code health, push-image, devnet, devnet-test-e2e

#885 [Indexer] Integrate pocketdex into Tiltfile
  Tiltfile
  docusaurus/docs/develop/contributing/_category_.json
  docusaurus/docs/develop/localnet/_category_.json
  docusaurus/docs/develop/localnet/observability.md
  docusaurus/static/img/pocketdex_graphiql_link.png
  docusaurus/static/img/pocketdex_graphiql_screenshot.png
  localnet/kubernetes/values-pocketdex-gql-engine.yaml
  localnet/kubernetes/values-pocketdex-indexer.yaml
  localnet/kubernetes/values-pocketdex-pgadmin.yaml
  localnet/kubernetes/values-pocketdex-postgres.yaml
  tiltfiles/git.tilt
  tiltfiles/pocketdex.tilt
Labels: on-chain, tooling, observability

#883 [Supplier] Add supplier staking fee
  e2e/tests/stake_supplier.feature
  testutil/keeper/supplier.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
Labels: supplier, on-chain, push-image, devnet, devnet-test-e2e

#878 [Tokenomics] Implement Global Mint Reimbursement Request
  api/poktroll/tokenomics/event.pulsar.go
  e2e/tests/0_settlement.feature
  proto/poktroll/tokenomics/event.proto
  tests/integration/application/min_stake_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  testutil/keeper/tokenomics.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/types/errors.go
  x/tokenomics/types/event.pb.go
Labels: application, on-chain, push-image, devnet, devnet-test-e2e, tokenomics

#832 [Observability] Foundation for load testing telemetry
  Tiltfile
  api/poktroll/application/types.pulsar.go
  api/poktroll/tokenomics/event.pulsar.go
  app/app.go
  cmd/poktrolld/cmd/config.go
  config.yml
  go.mod
  localnet/grafana-dashboards/cosmos_sdk_insights.json
  localnet/grafana-dashboards/permissionless_demand_observability.json
  localnet/grafana-dashboards/tokenomics_relays.json
  localnet/kubernetes/observability-prometheus-stack.yaml
  localnet/poktrolld/config/app.toml
  localnet/poktrolld/config/appgate_server_config_localnet_vscode.yaml
  localnet/poktrolld/config/relayminer_config_localnet_vscode.yaml
  pkg/appgateserver/cmd/cmd.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/proxy/metrics.go
  pkg/relayer/proxy/synchronous.go
  telemetry/block.go
  telemetry/common.go
  telemetry/event_counters.go
  telemetry/telemetry.go
  telemetry/tokens.go
  x/application/module/abci.go
  x/application/types/types.pb.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/proof_validation.go
  x/session/keeper/query_get_session.go
  x/session/keeper/session_hydrator.go
  x/supplier/module/abci.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/module/abci.go
  x/tokenomics/types/event.pb.go
Labels: push-image, tooling, devnet, devnet-test-e2e
