Repository pokt-network/poktroll, pull requests merged in 2024-06, with the labels that each got.

#565 [Relayminer] refactor: relayminer to use `claim_window_open_offset_blocks` shared param
  Makefile
  api/poktroll/shared/params.pulsar.go
  config.yml
  e2e/tests/parse_params_test.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  pkg/client/interface.go
  pkg/client/query/sharedquerier.go
  pkg/relayer/protocol/block_heights.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/session_test.go
  proto/poktroll/shared/params.proto
  testutil/testclient/testqueryclients/sharedquerier.go
  tools/scripts/params/shared_all.json
  tools/scripts/params/shared_claim_window_close_offset_blocks.json
  x/proof/types/message_update_param.go
  x/proof/types/shared_query_client.go
  x/shared/keeper/msg_server_update_param.go
  x/shared/keeper/msg_server_update_param_test.go
  x/shared/session.go
  x/shared/types/message_update_param.go
  x/shared/types/params.go
  x/shared/types/params.pb.go
  x/shared/types/params_test.go
  x/tokenomics/types/message_update_param.go
Labels: relayminer, push-image, devnet, devnet-test-e2e

#563 [Ring] Replace `noot/ring-go` with `pokt-network/ring-go`
  go.mod
  go.sum
  pkg/crypto/interface.go
  pkg/crypto/rings/cache.go
  pkg/crypto/rings/client.go
  pkg/crypto/rings/ring.go
  pkg/signer/ring_signer.go
  testutil/testproxy/relayerproxy.go
  x/proof/keeper/msg_server_submit_proof_test.go
Labels: off-chain, on-chain, push-image, devnet, devnet-test-e2e

#575 [Tooling] Updated Makefile target for Grove gateway
  Makefile
Labels: tooling

#569 [On-chain] feat: add `proof_window_open_offset_blocks` as `shared` module parameter
  Makefile
  api/poktroll/shared/params.pulsar.go
  config.yml
  e2e/tests/parse_params_test.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  proto/poktroll/shared/params.proto
  tools/scripts/params/shared_proof_window_open_offset_blocks.json
  x/shared/keeper/msg_server_update_param.go
  x/shared/keeper/msg_server_update_param_test.go
  x/shared/types/message_update_param.go
  x/shared/types/params.go
  x/shared/types/params.pb.go
  x/shared/types/params_test.go
  x/shared/types/tx.pb.go
Labels: on-chain, push-image, devnet, devnet-test-e2e

#574 [Test Utils] Minor developer experience test improvements
  .env.dev
  .github/workflows/run-tests.yml
  Makefile
  docusaurus/docs/develop/developer_guide/quickstart.md
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  load-testing/loadtest_manifest.yaml
  load-testing/localnet_loadtest_manifest.yaml
  x/proof/module/query_claim_test.go
Labels: testing, push-image, devnet, devnet-test-e2e

#554 [AppGateServer] Implement AppGateServer using ShannonSDK
  e2e/tests/init_test.go
  e2e/tests/node.go
  e2e/tests/update_params_test.go
  go.mod
  go.sum
  pkg/appgateserver/cmd/cmd.go
  pkg/appgateserver/endpoint_selector.go
  pkg/appgateserver/sdkadapter/block_client.go
  pkg/appgateserver/sdkadapter/relay_client.go
  pkg/appgateserver/sdkadapter/sdk.go
  pkg/appgateserver/sdkadapter/signer.go
  pkg/appgateserver/server.go
  pkg/appgateserver/synchronous.go
  pkg/client/events/query_client.go
  pkg/deps/config/suppliers.go
  pkg/partials/partial.go
  pkg/partials/partials_test.go
  pkg/relayer/proxy/error_reply.go
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/synchronous.go
  pkg/sdk/application.go
  pkg/sdk/deps_builder.go
  pkg/sdk/deps_builder_test.go
  pkg/sdk/errors.go
  pkg/sdk/interface.go
  pkg/sdk/sdk.go
  pkg/sdk/send_relay.go
  pkg/sdk/session.go
  pkg/sdk/urls.go
  pkg/sdk/urls_test.go
  testutil/testproxy/jsonrpc.go
  testutil/testproxy/relayerproxy.go
Labels: off-chain, code health, push-image, devnet, devnet-test-e2e, sdk

#566 [Proof Module] feat: on-chain claim window validation
  testutil/network/network.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/session.go
  x/proof/module/helpers_test.go
  x/proof/types/errors.go
  x/session/keeper/session_hydrator.go
  x/shared/session.go
Labels: on-chain, push-image, devnet, devnet-test-e2e

#570 [On-chain] feat: add `proof_window_close_offset_blocks` as `shared` module parameter
  Makefile
  api/poktroll/shared/params.pulsar.go
  config.yml
  e2e/tests/parse_params_test.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  proto/poktroll/shared/params.proto
  tools/scripts/params/shared_proof_window_close_offset_blocks.json
  x/shared/keeper/msg_server_update_param.go
  x/shared/keeper/msg_server_update_param_test.go
  x/shared/types/message_update_param.go
  x/shared/types/params.go
  x/shared/types/params.pb.go
  x/shared/types/params_test.go
Labels: on-chain, push-image, devnet, devnet-test-e2e

#592 [Relayminer] refactor: relayminer to use `proof_window_open_offset_blocks`
  pkg/client/interface.go
  pkg/client/query/sharedquerier.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  testutil/testclient/testqueryclients/sharedquerier.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/types/shared_query_client.go
  x/shared/session.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#588 [Proof Module] feat: on-chain proof window validation
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/session.go
  x/proof/types/errors.go
  x/shared/session.go
Labels: on-chain, push-image, devnet, devnet-test-e2e

#571 [Relay Mining] Foundation for integration test helpers + start integrating Relay Mining into EndBlocker
  Makefile
  app/app_config.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  load-testing/config/errors.go
  load-testing/loadtest_manifest.yaml
  pkg/client/supplier/client_integration_test.go
  pkg/client/tx/client_test.go
  pkg/client/tx/errors.go
  pkg/observable/errors.go
  pkg/relayer/protocol/errors.go
  pkg/relayer/proxy/proxy_test.go
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  tests/integration/tokenomics/tokenomics_example_test.go
  testutil/integration/app.go
  testutil/integration/doc.go
  testutil/integration/options.go
  testutil/proof/fixture_generators.go
  testutil/testerrors/require.go
  x/application/types/message_update_params.go
  x/gateway/types/message_update_params.go
  x/proof/module/query_claim_test.go
  x/service/types/message_update_params.go
  x/session/types/message_update_params.go
  x/shared/keeper/msg_update_params.go
  x/shared/session.go
  x/shared/types/msg_update_params.go
  x/shared/types/params.go
  x/supplier/types/message_update_params.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/relay_mining_difficulty.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/settle_session_accounting_test.go
  x/tokenomics/keeper/update_relay_mining_difficulty.go
  x/tokenomics/module/abci.go
Labels: protocol, on-chain

#599 [Grafana] Improve grafana in preparation for relay mining stress test
  Makefile
  Tiltfile
  e2e/tests/update_params_test.go
  load-testing/loadtest_manifest_example.yaml
  load-testing/loadtest_manifest_localnet.yaml
  load-testing/tests/init_load_test.go
  localnet/grafana-dashboards/appgateserver.json
  localnet/grafana-dashboards/application_logs.json
  localnet/grafana-dashboards/claim_proof_logs.json
  localnet/grafana-dashboards/cometbft.json
  localnet/grafana-dashboards/gateway_logs.json
  localnet/grafana-dashboards/go-runtime.json
  localnet/grafana-dashboards/loadtest.json
  localnet/grafana-dashboards/relayminer.json
  localnet/grafana-dashboards/stress-test-dashboard.json
  localnet/grafana-dashboards/supplier_logs.json
Labels: infra, push-image, tooling, devnet, devnet-test-e2e

#595 [Proof Module] Add `proof_requirement_threshold` param
  Makefile
  api/poktroll/proof/params.pulsar.go
  config.yml
  docusaurus/docs/develop/developer_guide/adding_params.md
  docusaurus/yarn.lock
  e2e/tests/parse_params_test.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  proto/poktroll/proof/params.proto
  tools/scripts/params/proof_all.json
  tools/scripts/params/proof_proof_requirement_threshold.json
  x/proof/keeper/msg_server_update_param.go
  x/proof/keeper/msg_server_update_param_test.go
  x/proof/keeper/params_test.go
  x/proof/types/message_update_param.go
  x/proof/types/params.go
  x/proof/types/params.pb.go
Labels: on-chain, push-image, devnet, devnet-test-e2e

#596 [Proof Module] Add proof_missing_penalty param
  Makefile
  api/poktroll/proof/params.pulsar.go
  api/poktroll/proof/tx.pulsar.go
  app/app.go
  app/volatile/constants.go
  config.yml
  e2e/tests/parse_params_test.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  proto/poktroll/proof/params.proto
  proto/poktroll/proof/tx.proto
  tools/scripts/params/proof_all.json
  tools/scripts/params/proof_proof_missing_penalty.json
  x/proof/keeper/msg_server_update_param.go
  x/proof/keeper/msg_server_update_param_test.go
  x/proof/keeper/msg_update_params_test.go
  x/proof/keeper/params_test.go
  x/proof/types/message_update_param.go
  x/proof/types/params.go
  x/proof/types/params.pb.go
  x/proof/types/tx.pb.go
Labels: on-chain, push-image, devnet, devnet-test-e2e

#601 [Testutils] refactor/fix: pre-generated account fixtures
  testutil/testkeyring/accounts.go
  testutil/testkeyring/accounts_table.go
  testutil/testkeyring/expected_keepers.go
  testutil/testkeyring/gen_accounts/gen.go
  testutil/testkeyring/gen_accounts/template.go
  x/proof/keeper/msg_server_submit_proof_test.go
Labels: bug, testing, code health

#603 [Testing] refactor: tokenomics keeper tests
  testutil/keeper/tokenomics.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/types/expected_keepers.go
Labels: testing, code health, push-image, devnet, devnet-test-e2e

#607 [Session test fixes] Fix window bug and make E2E session test deterministic
  e2e/tests/session.feature
  e2e/tests/session_steps_test.go
  pkg/client/tx/client.go
  x/proof/keeper/msg_server_submit_proof.go
  x/shared/session.go
Labels: bug, testing, push-image, e2e_story, devnet, devnet-test-e2e

#567 [RelayMiner] LeanClient
  .github/workflows-helpers/run-e2e-test-job-template.yaml
  .github/workflows-helpers/run-e2e-test.sh
  .github/workflows/main-build.yml
  .gitignore
  api/poktroll/service/relay.pulsar.go
  docusaurus/docs/develop/developer_guide/quickstart.md
  docusaurus/docs/operate/configs/relayminer_config.md
  docusaurus/yarn.lock
  go.mod
  go.sum
  localnet/kubernetes/values-relayminer-1.yaml
  localnet/kubernetes/values-relayminer-2.yaml
  localnet/kubernetes/values-relayminer-3.yaml
  localnet/poktrolld/config/relayminer_config_full_example.yaml
  localnet/poktrolld/config/relayminer_config_localnet_vscode.yaml
  pkg/client/interface.go
  pkg/client/supplier/client.go
  pkg/client/supplier/types.go
  pkg/client/tx/client.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/config/relayminer_configs_reader.go
  pkg/relayer/config/relayminer_configs_reader_test.go
  pkg/relayer/config/supplier_hydrator.go
  pkg/relayer/config/suppliers_config_hydrator.go
  pkg/relayer/config/types.go
  pkg/relayer/interface.go
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/options.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/relay_signer.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/proxy/synchronous.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/errors.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  pkg/relayer/session/sessiontree.go
  pkg/relayer/types.go
  pkg/signer/simple_signer.go
  proto/poktroll/service/relay.proto
  testutil/testclient/testsupplier/client.go
  testutil/testproxy/relayerproxy.go
  testutil/testrelayer/relays.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/service/types/relay.go
  x/service/types/relay.pb.go
Labels: relayminer, push-image, devnet, devnet-test-e2e

#606 [Relay Mining] Updates to reflect SMT changes
  Makefile
  e2e/tests/session.feature
  e2e/tests/session_steps_test.go
  go.mod
  go.sum
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
  pkg/client/supplier/client.go
  pkg/relayer/proxy/server_builder.go
  testutil/proof/fixture_generators.go
  x/session/keeper/session_hydrator.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/settle_session_accounting.go
  x/tokenomics/keeper/settle_session_accounting_test.go
Labels: protocol, on-chain, push-image, devnet, devnet-test-e2e

#597 [Dev Tools] Add .devcontainer support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: tooling

#594 [Off-Chain] Add support to REST RPCType
  .github/workflows-helpers/run-e2e-test-job-template.yaml
  Makefile
  go.mod
  go.sum
  pkg/appgateserver/endpoint_selector.go
  pkg/appgateserver/error_reply.go
  pkg/appgateserver/errors.go
  pkg/appgateserver/sdkadapter/relay_client.go
  pkg/appgateserver/server.go
  pkg/appgateserver/synchronous.go
  pkg/partials/errors.go
  pkg/partials/interface.go
  pkg/partials/partial.go
  pkg/partials/partials_test.go
  pkg/partials/payloads/godoc.go
  pkg/partials/payloads/jsonrpc.go
  pkg/partials/payloads/rest.go
  pkg/relayer/proxy/error_reply.go
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/synchronous.go
  testutil/testproxy/jsonrpc.go
  testutil/testproxy/relayerproxy.go
  x/service/types/relay.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e, sdk

#614 [E2E/Quickfix] Move E2E pre-run script to protocol-infra
  .github/workflows-helpers/run-e2e-test-job-template.yaml
Labels: push-image, devnet, devnet-test-e2e

#604 [Tokenomics] feat: add probabilistic proof requirement case
  testutil/keeper/tokenomics.go
  testutil/proof/fixture_generators.go
  x/tokenomics/keeper/keeper_exports_test.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/proof_requirement_test.go
  x/tokenomics/keeper/random_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/settle_session_accounting_test.go
Labels: protocol, on-chain, push-image, devnet, devnet-test-e2e, tokenomics

#615 [E2E] Make relay feature to wait for the ClaimSettled event
  e2e/tests/init_test.go
  e2e/tests/relay.feature
Labels: bug, testing, push-image, devnet, devnet-test-e2e

#611 [E2E] Test REST Relays
  Makefile
  e2e/tests/init_test.go
  e2e/tests/node.go
  e2e/tests/relay.feature
  e2e/tests/session_steps_test.go
Labels: testing, push-image, e2e_story, devnet, devnet-test-e2e

#605 [Telemetry] chore: add probabilistic proof telemetry
  localnet/grafana-dashboards/stress-test-dashboard.json
  pkg/relayer/session/claim.go
  telemetry/event_counters.go
  testutil/integration/app.go
  testutil/keeper/tokenomics.go
  testutil/proof/fixture_generators.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/types/claim.go
  x/shared/keeper/session.go
  x/tokenomics/keeper/keeper.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/proof_requirement_test.go
  x/tokenomics/keeper/random_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/settle_session_accounting_test.go
  x/tokenomics/module/abci.go
  x/tokenomics/module/module.go
  x/tokenomics/types/expected_keepers.go
Labels: push-image, devnet, devnet-test-e2e, observability

#623 [Docs] Minor improvements to `adding_params.md`
  docusaurus/docs/develop/developer_guide/adding_params.md
  docusaurus/docusaurus.config.js
  docusaurus/yarn.lock
Labels: documentation, push-image, devnet, devnet-test-e2e

#610 [Relay Mining] Emit events and refactor test helpers
  api/poktroll/tokenomics/event.pulsar.go
  docs/static/openapi.yml
  e2e/tests/init_test.go
  e2e/tests/parse_params_test.go
  e2e/tests/reset_params_test.go
  e2e/tests/session_steps_test.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/session/session_test.go
  proto/poktroll/tokenomics/event.proto
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  tests/integration/tokenomics/tokenomics_example_test.go
  testutil/events/filter.go
  testutil/integration/app.go
  testutil/testclient/testsupplier/client.go
  testutil/testkeyring/keyring.go
  testutil/testrelayer/relays.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/session/module/query_get_session_test.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/update_relay_mining_difficulty.go
  x/tokenomics/keeper/update_relay_mining_difficulty_test.go
  x/tokenomics/types/event.pb.go
Labels: protocol, on-chain, push-image, devnet, devnet-test-e2e

#609 [LocalNet] Switch to CosmosSDK defaults
  .env.dev
  Makefile
  Tiltfile
  docusaurus/docs/develop/developer_guide/quickstart.md
  docusaurus/docs/develop/packages/client_events.md
  docusaurus/docs/operate/configs/app_staking_config.md
  docusaurus/docs/operate/configs/gateway_staking_config.md
  docusaurus/docs/operate/configs/supplier_staking_config.md
  e2e/tests/node.go
  load-testing/tests/relays_stress_helpers_test.go
  localnet/kubernetes/values-appgateserver.yaml
  localnet/kubernetes/values-gateway.yaml
  localnet/kubernetes/values-relayminer-1.yaml
  localnet/kubernetes/values-relayminer-2.yaml
  localnet/kubernetes/values-relayminer-3.yaml
  localnet/kubernetes/values-relayminer-common.yaml
  localnet/poktrolld/config/appgate_server_config.yaml
  localnet/poktrolld/config/appgate_server_config_example.yaml
  localnet/poktrolld/config/appgate_server_config_localnet_vscode.yaml
  localnet/poktrolld/config/relayminer_config.yaml
  localnet/poktrolld/config/relayminer_config_full_example.yaml
  pkg/appgateserver/config/appgate_configs_reader_test.go
  pkg/client/events/replay_client_example_test.go
  pkg/relayer/config/relayminer_configs_reader_test.go
  testutil/testclient/localnet.go
Labels: code health, push-image, devnet, devnet-test-e2e

#608 [TODOs] chore: cleanup validate session ID TODOs
  x/proof/keeper/query_claim_test.go
  x/proof/keeper/query_proof_test.go
  x/proof/types/query_validation.go
  x/session/keeper/query_get_session_test.go
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
Labels: code health, push-image, devnet, devnet-test-e2e

#627 [TODO] chore: cleanup done TODOs
  load-testing/tests/relays_stress_helpers_test.go
  pkg/relayer/session/session.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_submit_proof.go
Labels: code health

#616 [Code Health] refactor: block query client interface
  pkg/appgateserver/sdkadapter/block_client.go
  pkg/client/block/client.go
  pkg/client/interface.go
  pkg/client/query/sessionquerier.go
Labels: code health, push-image, devnet, devnet-test-e2e

#478 [Docs] Relay session & claim/proof diagrams
  docusaurus/docs/protocol/primitives/claim_and_proof_lifecycle.md
  docusaurus/docs/protocol/primitives/relay_mining.md
  docusaurus/yarn.lock
Labels: documentation

#617 [Code Health] refactor: tx hash encoding
  pkg/client/tx/client.go
  pkg/client/tx/encoding.go
  pkg/encoding/tx_hash.go
Labels: code health, push-image, devnet, devnet-test-e2e

#618 [Code Health] refactor: random number generation
  pkg/crypto/rand/float.go
  pkg/crypto/rand/float_test.go
  pkg/crypto/rand/integer.go
  pkg/crypto/rand/samples.go
  pkg/relayer/interface.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/sessiontree.go
  x/proof/types/claim.go
  x/tokenomics/keeper/proof_requirement_test.go
  x/tokenomics/keeper/settle_pending_claims.go
Labels: off-chain, on-chain, push-image, devnet, devnet-test-e2e

#635 [E2E] Add logging output from the init-container step
  .github/workflows-helpers/run-e2e-test-job-template.yaml
  .github/workflows-helpers/run-e2e-test.sh
  .github/workflows/main-build.yml
Labels: push-image, devnet, devnet-test-e2e

#634 [Application] Add GetRingAddressesAtSessionEndHeight
  pkg/crypto/rings/client.go
Labels: application, off-chain, push-image, devnet, devnet-test-e2e, sdk

#619 [Relayminer] off-chain claim/proof message distribution
  pkg/client/interface.go
  pkg/client/query/sharedquerier.go
  pkg/relayer/protocol/block_heights.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session_test.go
  testutil/integration/app.go
  testutil/testclient/testqueryclients/sharedquerier.go
  x/proof/keeper/keeper.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/types/shared_query_client.go
  x/shared/session.go
  x/shared/session_test.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#636 [AppGateServer] Refactor the AppGate server to use the new shannon-sdk implementation
  go.mod
  go.sum
  pkg/appgateserver/endpoint_selector.go
  pkg/appgateserver/sdkadapter/block_client.go
  pkg/appgateserver/sdkadapter/relay_client.go
  pkg/appgateserver/sdkadapter/sdk.go
  pkg/appgateserver/sdkadapter/signer.go
  pkg/appgateserver/server.go
  pkg/appgateserver/synchronous.go
  pkg/crypto/rings/client.go
  pkg/crypto/rings/ring.go
  pkg/deps/config/suppliers.go
Labels: off-chain, push-image, devnet, devnet-test-e2e, sdk

#620 [Proof Module] on-chain claim/proof message distribution validation
  pkg/client/query/sharedquerier.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/types.go
  tests/integration/tokenomics/tokenomics_example_test.go
  testutil/keeper/tokenomics.go
  testutil/testclient/testqueryclients/sharedquerier.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/session.go
  x/shared/session_test.go
  x/shared/simulation/update_param.go
Labels: on-chain, push-image, devnet, devnet-test-e2e

#632 [Docs] Add "Session Windows & On-Chain Parameters" section to claim/proof/lifecycle docs
  docusaurus/docs/protocol/primitives/claim_and_proof_lifecycle.md
Labels: documentation

#639 [SDK] Use shannon sdk main branch
  go.mod
  go.sum
  pkg/appgateserver/endpoint_selector.go
  pkg/appgateserver/sdkadapter/sdk.go
Labels: push-image, devnet, devnet-test-e2e, sdk

#629 [On-Chain] Claim/Proof on-chain events
  api/poktroll/proof/event.pulsar.go
  api/poktroll/proof/requirement.pulsar.go
  api/poktroll/proof/stage.pulsar.go
  api/poktroll/proof/tx.pulsar.go
  api/poktroll/tokenomics/event.pulsar.go
  e2e/tests/0_settlement.feature
  e2e/tests/init_test.go
  e2e/tests/relay.feature
  e2e/tests/session.feature
  e2e/tests/session_steps_test.go
  proto/poktroll/proof/event.proto
  proto/poktroll/proof/requirement.proto
  proto/poktroll/proof/stage.proto
  proto/poktroll/proof/tx.proto
  proto/poktroll/tokenomics/event.proto
  telemetry/event_counters.go
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/types/event.pb.go
  x/proof/types/requirement.pb.go
  x/proof/types/stage.pb.go
  x/proof/types/tx.pb.go
  x/shared/types/errors.go
  x/tokenomics/keeper/keeper_exports_test.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/proof_requirement_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/module/abci.go
  x/tokenomics/types/event.pb.go
Labels: on-chain, code health, push-image, devnet, devnet-test-e2e

#642 [LoadTest] Add missing block query client to load test
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
Labels: bug, loadtest
