Repository pokt-network/poktroll, pull requests merged in 2024-08, with the labels that each got.

#704 [Supplier] Supplier unbonding period governance param
  api/poktroll/shared/params.pulsar.go
  docusaurus/docs/protocol/actors/supplier.md
  e2e/tests/init_test.go
  e2e/tests/parse_params_test.go
  e2e/tests/stake_app.feature
  e2e/tests/stake_gateway.feature
  e2e/tests/stake_supplier.feature
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  proto/poktroll/shared/params.proto
  tests/integration/supplier/supplier_lifecycle.go
  testutil/keeper/supplier.go
  x/shared/keeper/msg_server_update_param.go
  x/shared/keeper/msg_server_update_param_test.go
  x/shared/supplier.go
  x/shared/types/genesis_test.go
  x/shared/types/message_update_param.go
  x/shared/types/message_update_params.go
  x/shared/types/params.go
  x/shared/types/params.pb.go
  x/shared/types/params_test.go
  x/shared/types/supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_test.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/keeper/params_test.go
  x/supplier/keeper/query_supplier_test.go
  x/supplier/keeper/supplier_test.go
  x/supplier/keeper/unbond_suppliers.go
  x/supplier/module/genesis_test.go
Labels: supplier, on-chain, push-image, devnet, devnet-test-e2e

#707 [Supplier] Implement supplier service activation
  api/poktroll/shared/supplier.pulsar.go
  config.yml
  e2e/tests/init_test.go
  e2e/tests/stake_supplier.feature
  proto/poktroll/shared/supplier.proto
  testutil/network/network.go
  x/session/keeper/query_get_session.go
  x/session/keeper/session_hydrator.go
  x/shared/session.go
  x/shared/types/supplier.go
  x/shared/types/supplier.pb.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/types/expected_keepers.go
Labels: supplier, session, push-image, devnet, devnet-test-e2e

#702 [Upgrades] Module upgrades and core param changes via authz txs
  Makefile
  app/app.go
  app/export.go
  app/ibc.go
  app/keepers/types.go
  app/sim_bench_test.go
  app/upgrades.go
  app/upgrades/historical.go
  app/upgrades/types.go
  docs/static/openapi.yml
  tools/scripts/params/consensus_block_size_6mb.json
  tools/scripts/upgrades/authz_upgrade_tx_example_v0.0.4_height_30.json
  tools/scripts/upgrades/cosmovisor-start-node.sh
  tools/scripts/upgrades/increase-block-size.sh
Labels: protocol, governance, on-chain, push-image, tooling, devnet-test-e2e

#723 [Tests] Improve & Skip Flaky Tests
  Makefile
  Tiltfile
  config.yml
  e2e/tests/0_settlement.feature
  e2e/tests/init_test.go
  e2e/tests/node.go
  e2e/tests/relay.feature
  e2e/tests/session_steps_test.go
  pkg/client/tx/client_test.go
  pkg/observable/channel/replay_test.go
  pkg/relayer/interface.go
  pkg/relayer/session/errors.go
  pkg/relayer/session/session.go
  pkg/relayer/session/sessiontree.go
  testutil/testproxy/relayerproxy.go
  x/application/module/tx_delegate_to_gateway_test.go
  x/application/module/tx_stake_application_test.go
  x/application/module/tx_undelegate_from_gateway_test.go
  x/application/module/tx_unstake_application_test.go
  x/gateway/module/tx_stake_gateway_test.go
  x/gateway/module/tx_unstake_gateway_test.go
  x/proof/module/query_claim_test.go
  x/proof/module/query_proof_test.go
  x/service/module/tx_add_service_test.go
  x/session/module/query_get_session_test.go
  x/supplier/module/tx_stake_supplier_test.go
  x/supplier/module/tx_unstake_supplier_test.go
  x/tokenomics/keeper/proof_requirement_test.go
  x/tokenomics/keeper/settle_session_accounting_test.go
  x/tokenomics/module/tx_update_params_test.go
  x/tokenomics/types/tx.pb.go
Labels: bug, testing, push-image, devnet, devnet-test-e2e

#726 [Tokenomics] Use service module directly to find a service
  testutil/integration/app.go
  testutil/keeper/tokenomics.go
  x/tokenomics/keeper/keeper.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_session_accounting.go
  x/tokenomics/keeper/settle_session_accounting_test.go
  x/tokenomics/module/module.go
  x/tokenomics/types/errors.go
  x/tokenomics/types/expected_keepers.go
Labels: push-image, devnet, devnet-test-e2e, tokenomics

#708 [Tokenomics] Refactoring claim settlement to enable Token Logic Modules
  Makefile
  api/poktroll/shared/service.pulsar.go
  app/app.go
  config.yml
  e2e/tests/init_test.go
  e2e/tests/relay.feature
  go.mod
  go.sum
  localnet/grafana-dashboards/claim_proof_logs.json
  pkg/crypto/protocol/hasher.go
  pkg/relayer/miner/miner.go
  pkg/relayer/session/session.go
  proto/poktroll/shared/service.proto
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  tests/integration/tokenomics/tokenomics_example_test.go
  testutil/integration/app.go
  testutil/keeper/supplier.go
  testutil/keeper/tokenomics.go
  testutil/proof/fixture_generators.go
  testutil/sample/sample.go
  testutil/testtree/tree.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/proof_validation_test.go
  x/service/module/autocli.go
  x/session/keeper/session_hydrator.go
  x/shared/types/service.pb.go
  x/supplier/keeper/supplier.go
  x/tokenomics/keeper/keeper.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/msg_server_test.go
  x/tokenomics/keeper/msg_update_params_test.go
  x/tokenomics/keeper/query_params_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/keeper/update_relay_mining_difficulty.go
  x/tokenomics/module/genesis_test.go
  x/tokenomics/module/module.go
  x/tokenomics/types/errors.go
  x/tokenomics/types/expected_keepers.go
Labels: protocol, on-chain, push-image, devnet, devnet-test-e2e, tokenomics

#728 [Cleanup] Minor PR #708 FOllowup
  x/tokenomics/keeper/settle_session_accounting.go
  x/tokenomics/keeper/token_logic_modules_test.go
Labels: code health

#733 [Docs] add mockgen instructions to quickstart and makefile helper
  Makefile
  docusaurus/docs/develop/developer_guide/quickstart.md
Labels: documentation, code health

#716 [Supplier] Implement non-custodial staking
  api/poktroll/application/application.pulsar.go
  api/poktroll/application/event.pulsar.go
  api/poktroll/application/tx.pulsar.go
  api/poktroll/gateway/event.pulsar.go
  api/poktroll/service/relay.pulsar.go
  api/poktroll/service/tx.pulsar.go
  api/poktroll/session/query.pulsar.go
  api/poktroll/session/session.pulsar.go
  api/poktroll/shared/supplier.pulsar.go
  api/poktroll/supplier/tx.pulsar.go
  load-testing/tests/relays_stress_helpers_test.go
  proto/poktroll/application/application.proto
  proto/poktroll/application/event.proto
  proto/poktroll/application/tx.proto
  proto/poktroll/gateway/event.proto
  proto/poktroll/service/relay.proto
  proto/poktroll/service/tx.proto
  proto/poktroll/session/query.proto
  proto/poktroll/session/session.proto
  proto/poktroll/shared/supplier.proto
  proto/poktroll/supplier/tx.proto
  testutil/integration/app.go
  x/shared/types/errors.go
  x/shared/types/supplier.go
  x/shared/types/supplier.pb.go
  x/supplier/config/errors.go
  x/supplier/config/supplier_configs_reader.go
  x/supplier/config/supplier_configs_reader_test.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier.go
  x/supplier/keeper/unbond_suppliers.go
  x/supplier/module/tx_stake_supplier.go
  x/supplier/module/tx_unstake_supplier.go
  x/supplier/types/errors.go
  x/supplier/types/message_stake_supplier.go
  x/supplier/types/message_unstake_supplier.go
  x/supplier/types/tx.pb.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/module/module.go
  x/tokenomics/types/errors.go
  x/tokenomics/types/tx.pb.go
Labels: supplier, on-chain

#718 [Supplier] Refactor/non custodial staking tests
  Makefile
  api/poktroll/supplier/tx.pulsar.go
  config.yml
  e2e/tests/init_test.go
  proto/poktroll/supplier/tx.proto
  testutil/integration/app.go
  testutil/keeper/supplier.go
  testutil/keeper/tokenomics.go
  testutil/network/network.go
  x/supplier/config/supplier_configs_reader_test.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/module/tx_stake_supplier_test.go
  x/supplier/module/tx_unstake_supplier_test.go
  x/supplier/types/message_stake_supplier_test.go
  x/supplier/types/message_unstake_supplier_test.go
  x/supplier/types/tx.pb.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/token_logic_modules_test.go
Labels: supplier, testing, on-chain, push-image, devnet, devnet-test-e2e

#729 [Supplier] Implement supplier revenue share
  api/poktroll/shared/service.pulsar.go
  config.yml
  docusaurus/docs/operate/configs/supplier_staking_config.md
  localnet/poktrolld/config/supplier1_stake_config.yaml
  proto/poktroll/shared/service.proto
  testutil/integration/app.go
  testutil/keeper/tokenomics.go
  x/shared/helpers/service_configs.go
  x/shared/types/errors.go
  x/shared/types/service.pb.go
  x/supplier/config/supplier_configs_reader.go
  x/supplier/config/supplier_configs_reader_test.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/keeper/unbond_suppliers.go
  x/supplier/types/genesis_test.go
  x/supplier/types/message_stake_supplier_test.go
  x/supplier/types/message_unstake_supplier.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/types/errors.go
Labels: supplier, on-chain, push-image, devnet, devnet-test-e2e

#725 [E2E] Add simple rest service for e2e tests
  Tiltfile
  config.yml
  e2e/tests/init_test.go
  e2e/tests/node.go
  e2e/tests/relay.feature
  localnet/kubernetes/rest.yaml
  localnet/kubernetes/values-relayminer-1.yaml
  x/tokenomics/types/tx.pb.go
Labels: testing, infra, push-image, devnet, devnet-test-e2e

#736 [SDK] Upgrade shannon sdk dependency
  e2e/tests/relay.feature
  go.mod
  go.sum
Labels: push-image, devnet, devnet-test-e2e, sdk, dependencies

#741 [Tiltfile] Add rest to TiltFile
  Tiltfile
  x/tokenomics/types/tx.pb.go
Labels: bug, push-image, devnet, devnet-test-e2e

#719 [Docs] Protocol upgrades
  docusaurus/docs/operate/run_a_node/appgate_server.md
  docusaurus/docs/operate/run_a_node/full_node_cosmovisor.md
  docusaurus/docs/operate/run_a_node/full_node_docker.md
  docusaurus/docs/operate/run_a_node/relay_miner.md
  docusaurus/docs/protocol/upgrades/_category_.json
  docusaurus/docs/protocol/upgrades/module_params.md
  docusaurus/docs/protocol/upgrades/protocol_upgrades.md
  docusaurus/docs/protocol/upgrades/upgrade_list.md
  docusaurus/docs/protocol/upgrades/upgrade_procedure.md
Labels: documentation

#738 [Docs] Shannon Governance Parameter Documentation Page
  .github/workflows/upload-pages-artifact.yml
  Makefile
  docusaurus/docs/develop/packages/appgate_server.md
  docusaurus/docs/develop/packages/sdk.md
  docusaurus/docs/protocol/actors/_category_.json
  docusaurus/docs/protocol/governance/_category_.json
  docusaurus/docs/protocol/governance/params.md
  docusaurus/docs/protocol/primitives/_category_.json
  proto/poktroll/application/params.proto
  tools/scripts/generate_docs_params.go
Labels: documentation, tooling

#748 Update pull_request_template.md
  .github/pull_request_template.md
Labels: tooling

#757 [Docs] Move over docs from poktroll-docker-compose-example
  docusaurus/docs/operate/infrastructure/_category_.json
  docusaurus/docs/operate/networks/_category_.json
  docusaurus/docs/operate/quickstart/_category_.json
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
  docusaurus/docs/operate/run_a_node/_category_.json
  docusaurus/docs/operate/testing/_category_.json
  docusaurus/docs/operate/user_guide/_category_.json
Labels: documentation

#735 [Application] Implement unbonding period
  api/poktroll/application/types.pulsar.go
  api/poktroll/shared/params.pulsar.go
  e2e/tests/init_test.go
  e2e/tests/parse_params_test.go
  e2e/tests/stake_app.feature
  e2e/tests/stake_supplier.feature
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  proto/poktroll/application/types.proto
  proto/poktroll/shared/params.proto
  testutil/keeper/application.go
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_unstake_application.go
  x/application/keeper/msg_server_unstake_application_test.go
  x/application/keeper/unbond_applications.go
  x/application/module/abci.go
  x/application/types/application.go
  x/application/types/errors.go
  x/application/types/types.pb.go
  x/session/keeper/session_hydrator.go
  x/session/types/errors.go
  x/shared/keeper/msg_server_update_param.go
  x/shared/keeper/msg_server_update_param_test.go
  x/shared/types/genesis_test.go
  x/shared/types/message_update_param.go
  x/shared/types/params.go
  x/shared/types/params.pb.go
  x/shared/types/params_test.go
  x/tokenomics/types/tx.pb.go
Labels: application, on-chain, push-image, devnet, devnet-test-e2e

#720 [Docs] Document (non-)custodial staking
  Makefile
  docusaurus/docs/operate/configs/supplier_staking_config.md
  localnet/poktrolld/config/supplier1_stake_config.yaml
  localnet/poktrolld/config/supplier2_stake_config.yaml
  localnet/poktrolld/config/supplier3_stake_config.yaml
  localnet/poktrolld/config/supplier_stake_config_example.yaml
  x/supplier/module/tx_stake_supplier.go
Labels: documentation, supplier, on-chain

#766 [Docs] Cleanup & Deprecation
  api/poktroll/service/relay.pulsar.go
  api/poktroll/tokenomics/relay_mining_difficulty.pulsar.go
  docs/static/openapi.yml
  docusaurus/docs/develop/contributing/code_review_guidelines.md
  docusaurus/docs/develop/contributing/img/code_review_pyramid.png
  docusaurus/docs/develop/contributing/img/github_line_comment.png
  docusaurus/docs/develop/contributing/img/line_comment_dialog_start.png
  docusaurus/docs/develop/contributing/img/submit_review.png
  docusaurus/docs/develop/contributing/observability.md
  docusaurus/docs/develop/packages/appgate_server.md
  docusaurus/docs/develop/packages/sdk.md
  docusaurus/docs/develop/packages/shannon_sdk.md
  docusaurus/docs/explore/block_explorer.md
  docusaurus/docs/explore/faucet.md
  docusaurus/docs/explore/roadmap.md
  docusaurus/docs/explore/tools.md
  docusaurus/docs/operate/configs/app_staking_config.md
  docusaurus/docs/operate/configs/appgate_server_config.md
  docusaurus/docs/operate/configs/gateway_staking_config.md
  docusaurus/docs/operate/configs/relayminer_config.md
  docusaurus/docs/operate/configs/supplier_staking_config.md
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
  docusaurus/docs/operate/run_a_node/appgate_server.md
  docusaurus/docs/operate/run_a_node/full_node_cosmovisor.md
  docusaurus/docs/operate/run_a_node/full_node_docker.md
  docusaurus/docs/operate/run_a_node/relay_miner.md
  docusaurus/docs/operate/testing/_category_.json
  docusaurus/docs/operate/user_guide/check-balance.md
  docusaurus/docs/operate/user_guide/create-new-wallet.md
  docusaurus/docs/operate/user_guide/install.md
  docusaurus/docs/operate/user_guide/recover-with-mnemonic.md
  docusaurus/docs/operate/user_guide/send-tokens.md
  docusaurus/docs/planning/roadmap/_category_.json
  docusaurus/docs/planning/roadmap/roadmap.md
  docusaurus/docs/planning/roadmap/roadmap_changelog.md
  docusaurus/docs/protocol/actors/appgate_server.md
  docusaurus/docs/protocol/architecture/_category_.json
  docusaurus/docs/protocol/architecture/network.md
  docusaurus/docs/protocol/governance/params.md
  docusaurus/docs/protocol/primitives/claim_and_proof_lifecycle.md
  docusaurus/docs/protocol/primitives/relay_mining.md
  docusaurus/docusaurus.config.js
  docusaurus/sidebars.js
  load-testing/loadtest_manifest_example.yaml
  load-testing/loadtest_manifest_localnet.yaml
  load-testing/loadtest_manifest_localnet_single_supplier.yaml
  pkg/polylog/polyzero/logger.go
  proto/poktroll/service/relay.proto
  proto/poktroll/tokenomics/relay_mining_difficulty.proto
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/gateway/keeper/msg_server_stake_gateway.go
  x/proof/keeper/proof_validation.go
  x/service/types/relay.pb.go
  x/shared/helpers/service.go
  x/tokenomics/types/relay_mining_difficulty.pb.go
Labels: documentation

#764 Update `adding_params.md` to use `ignite`
  docusaurus/docs/develop/developer_guide/adding_params.md
Labels: documentation

#770 [Tooling] Add `protocheck` CLI tool
  Makefile
  go.mod
  tools/scripts/protocheck/cmd/codes.go
  tools/scripts/protocheck/cmd/root.go
  tools/scripts/protocheck/cmd/unstable.go
Labels: bug, on-chain, code health, tooling, p0

#750 [Docs] Tokenomics Documentation
  docusaurus/docs/protocol/tokenomics/_category_.json
  docusaurus/docs/protocol/tokenomics/resources.md
  docusaurus/docs/protocol/tokenomics/token_logic_modules.md
  docusaurus/docs/protocol/upgrades/_category_.json
  docusaurus/yarn.lock
  proto/poktroll/application/types.proto
Labels: documentation
