Repository pokt-network/poktroll, pull requests merged in 2024-05, with the labels that each got.

#488 [LocalNet] Documentation for MVT/LocalNet
  Makefile
  docusaurus/docs/develop/internal_infrastructure/localnet.md
  docusaurus/docs/operate/networks/_category_.json
  docusaurus/docs/operate/networks/private_testnet.md
Labels: documentation

#508 [LocalNet] Add infrastructure to run LLM inference
  Tiltfile
  config.yml
  localnet/kubernetes/values-relayminer-1.yaml
  localnet/kubernetes/values-relayminer-2.yaml
  localnet/kubernetes/values-relayminer-3.yaml
  localnet/poktrolld/config/supplier1_stake_config.yaml
  localnet/poktrolld/config/supplier2_stake_config.yaml
  localnet/poktrolld/config/supplier3_stake_config.yaml
  x/supplier/config/supplier_configs_reader.go
Labels: infra, push-image, tooling, devnet, devnet-test-e2e

#442 Zero retryLimit Support in ReplayClient
  pkg/client/block/client.go
  pkg/client/block/client_test.go
  pkg/client/block/options.go
  pkg/client/delegation/client.go
  pkg/client/delegation/options.go
  pkg/client/events/options.go
  pkg/client/events/replay_client.go
  pkg/client/interface.go
  pkg/client/tx/client.go
  pkg/client/tx/options.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  pkg/retry/retry.go
  pkg/retry/retry_test.go
  pkg/sdk/deps_builder.go
  pkg/sdk/sdk.go
Labels: enhancement, off-chain, push-image, devnet, devnet-test-e2e, sdk

#515 [Code Health] chore: cleanup localnet testutils
  Makefile
  testutil/testclient/localnet.go
Labels: code health, push-image, devnet, devnet-test-e2e

#501 [Docs] Update `Quickstart` guide to onboard new devs
  .gitignore
  config.yml
  docusaurus/docs/develop/developer_guide/code_review_guidelines.md
  docusaurus/docs/develop/developer_guide/debug_tips.md
  docusaurus/docs/develop/developer_guide/img/quickstart_accounts.png
  docusaurus/docs/develop/developer_guide/img/quickstart_applist.png
  docusaurus/docs/develop/developer_guide/img/quickstart_full_relay.png
  docusaurus/docs/develop/developer_guide/img/quickstart_grafana_supplier.png
  docusaurus/docs/develop/developer_guide/img/quickstart_localnet.png
  docusaurus/docs/develop/developer_guide/img/quickstart_relayminer.png
  docusaurus/docs/develop/developer_guide/img/quickstart_relayminer_grafana.png
  docusaurus/docs/develop/developer_guide/img/quickstart_suppliers.png
  docusaurus/docs/develop/developer_guide/img/quickstart_tilt_supplier.png
  docusaurus/docs/develop/developer_guide/quickstart.md
  docusaurus/docs/explore/_category_.json
  docusaurus/docs/explore/block_explorer.md
  docusaurus/docs/explore/faucet.md
  docusaurus/docs/operate/configs/app_staking_config.md
  docusaurus/docs/operate/configs/gateway_staking_config.md
  docusaurus/docusaurus.config.js
  docusaurus/sidebars.js
  e2e/tests/node.go
  localnet/kubernetes/anvil.yaml
  localnet/poktrolld/config/relayminer_config.yaml
  localnet/poktrolld/config/supplier1_stake_config.yaml
  pkg/sdk/interface.go
  x/supplier/config/supplier_configs_reader.go
Labels: documentation, push-image, tooling, devnet, devnet-test-e2e

#522 [Docs] Added QuickStart video
  docusaurus/docs/develop/developer_guide/quickstart.md
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/yarn.lock
Labels: documentation

#523 [CI] Release artifacts job: binaries and containers
  .github/workflows/main-build.yml
  .github/workflows/release-artifacts.yml
  .github/workflows/reviewdog.yml
  .github/workflows/run-tests.yml
  .gitignore
  .tool-versions
  Dockerfile.dev
  Dockerfile.release
  Makefile
  Tiltfile
  go.mod
Labels: infra, push-image, tooling, devnet, devnet-test-e2e

#524 [Documentation] Improve RelayMiner staking related documentation
  docusaurus/docs/operate/configs/relayminer_config.md
  docusaurus/docs/operate/configs/supplier_staking_config.md
Labels: documentation, supplier, relayminer

#432 [Load Testing] gherkin/go implementation of test plan #1
  Makefile
  app/app_config.go
  config.yml
  load-testing/config/errors.go
  load-testing/config/index.js
  load-testing/config/load_test_manifest_reader.go
  load-testing/modules/sendJsonRPCRequest.js
  load-testing/scenarios/requestBlockNumberEtherium.js
  load-testing/tests/anvil.feature
  load-testing/tests/anvil.js
  load-testing/tests/anvil_test.go
  load-testing/tests/appGateServerEtherium.js
  load-testing/tests/init_load_test.go
  load-testing/tests/relays_stress.feature
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
  loadtest_manifest.yaml
  localnet/grafana-dashboards/loadtest.json
  pkg/appgateserver/cmd/cmd.go
  pkg/appgateserver/endpoint_selector.go
  pkg/appgateserver/server.go
  pkg/appgateserver/synchronous.go
  pkg/client/block/block.go
  pkg/client/block/block_result.go
  pkg/client/interface.go
  pkg/polylog/context_example_test.go
  pkg/polylog/polyzero/levels.go
  pkg/polylog/polyzero/logger_example_test.go
  pkg/polylog/polyzero/logger_test.go
  pkg/polylog/polyzero/options.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/options.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  pkg/sync2/LICENSE
  pkg/sync2/limiter.go
  pkg/sync2/limiter_test.go
  pkg/sync2/nocopy.go
  testutil/testclient/localnet.go
  testutil/testclient/testblock/client.go
  testutil/testclient/testeventsquery/client.go
  testutil/testclient/testtx/context.go
  testutil/testpolylog/logger.go
Labels: loadtest

#518 [Application] feat: Add past delegation proofs
  Makefile
  api/poktroll/application/application.pulsar.go
  pkg/appgateserver/config/appgate_configs_reader.go
  pkg/client/delegation/redelegation.go
  pkg/client/query/accquerier.go
  pkg/crypto/interface.go
  pkg/crypto/pubkey_client/client.go
  pkg/crypto/pubkey_client/errors.go
  pkg/crypto/rings/cache.go
  pkg/crypto/rings/cache_test.go
  pkg/crypto/rings/client.go
  pkg/relayer/interface.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/sessiontree.go
  pkg/sdk/send_relay.go
  proto/poktroll/application/application.proto
  testutil/network/network.go
  testutil/testclient/testdelegation/client.go
  x/application/keeper/application.go
  x/application/keeper/application_test.go
  x/application/keeper/msg_server_stake_application.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/keeper/prune_undelegations.go
  x/application/keeper/query_application.go
  x/application/module/abci.go
  x/application/module/module.go
  x/application/module/simulation.go
  x/proof/keeper/msg_server_submit_proof_test.go
Labels: application, gateway, protocol, push-image, devnet, devnet-test-e2e

#521 [Load Testing] gherkin load test follow-up
  Makefile
  Tiltfile
  load-testing/tests/relays_stress.feature
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
  localnet/grafana-dashboards/stress-test-dashboard.json
  pkg/appgateserver/cmd/cmd.go
  pkg/appgateserver/server.go
  pkg/client/interface.go
  pkg/client/query/accquerier.go
  pkg/client/supplier/client.go
  pkg/client/supplier/client_test.go
  pkg/deps/config/suppliers.go
  pkg/either/types.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/interface.go
  pkg/relayer/miner/miner.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/proxy/synchronous.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/sessiontree.go
  pkg/relayer/types.go
  pkg/sdk/send_relay.go
  testutil/testclient/testsupplier/client.go
Labels: relayminer, push-image, devnet, devnet-test-e2e, loadtest

#536 [Bug] Ring address ordering makes valid subsets beings rejected
  pkg/crypto/rings/client.go
Labels: bug, push-image, devnet, devnet-test-e2e

#537 [Quickfix] Add gcompact to container images
  Dockerfile.release
Labels: bug, infra

#539 [Documentation] Add poktrolld release binaries
  .github/workflows/release-artifacts.yml
  docusaurus/docs/operate/user_guide/install-poktrolld.md
  docusaurus/docs/operate/user_guide/install.md
Labels: documentation

#541 [Docs][Quickfix] Fix broken links
  docusaurus/docs/operate/user_guide/check-balance.md
  docusaurus/docs/operate/user_guide/create-new-wallet.md
  docusaurus/docs/operate/user_guide/recover-with-mnemonic.md
  docusaurus/docs/operate/user_guide/send-tokens.md
Labels: documentation

#540 [Testing] Stress / load test ephemeral & persistent chains
  Makefile
  load-testing/config/errors.go
  load-testing/config/load_test_manifest_reader.go
  load-testing/loadtest_manifest.yaml
  load-testing/localnet_loadtest_manifest.yaml
  load-testing/tests/init_load_test.go
  load-testing/tests/relays_stress.feature
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
  loadtest_manifest.yaml
Labels: push-image, devnet, devnet-test-e2e, loadtest

#545 [On-chain] scaffold: module shared
  api/poktroll/shared/genesis.pulsar.go
  api/poktroll/shared/module/module.pulsar.go
  api/poktroll/shared/params.pulsar.go
  api/poktroll/shared/query.pulsar.go
  api/poktroll/shared/query_grpc.pb.go
  api/poktroll/shared/tx.pulsar.go
  api/poktroll/shared/tx_grpc.pb.go
  app/app.go
  app/app_config.go
  docs/static/openapi.yml
  proto/poktroll/shared/genesis.proto
  proto/poktroll/shared/module/module.proto
  proto/poktroll/shared/params.proto
  proto/poktroll/shared/query.proto
  proto/poktroll/shared/tx.proto
  testutil/keeper/shared.go
  x/application/keeper/query_application.go
  x/application/module/tx.go
  x/shared/keeper/keeper.go
  x/shared/keeper/msg_server.go
  x/shared/keeper/msg_server_test.go
  x/shared/keeper/msg_update_params.go
  x/shared/keeper/msg_update_params_test.go
  x/shared/keeper/params.go
  x/shared/keeper/params_test.go
  x/shared/keeper/query.go
  x/shared/keeper/query_params.go
  x/shared/keeper/query_params_test.go
  x/shared/module/autocli.go
  x/shared/module/genesis.go
  x/shared/module/genesis_test.go
  x/shared/module/module.go
  x/shared/module/simulation.go
  x/shared/simulation/helpers.go
  x/shared/types/codec.go
  x/shared/types/errors.go
  x/shared/types/expected_keepers.go
  x/shared/types/genesis.go
  x/shared/types/genesis.pb.go
  x/shared/types/genesis_test.go
  x/shared/types/keys.go
  x/shared/types/msg_update_params.go
  x/shared/types/params.go
  x/shared/types/params.pb.go
  x/shared/types/query.pb.go
  x/shared/types/query.pb.gw.go
  x/shared/types/tx.pb.go
  x/shared/types/types.go
  x/tokenomics/simulation/update_param.go
Labels: on-chain, push-image, devnet, devnet-test-e2e

#546 refactor: move `num_blocks_per_session` param to shared module
  Makefile
  api/poktroll/session/params.pulsar.go
  api/poktroll/shared/params.pulsar.go
  config.yml
  e2e/tests/parse_params_test.go
  e2e/tests/reset_params_test.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  pkg/relayer/session/proof.go
  proto/poktroll/session/params.proto
  proto/poktroll/shared/params.proto
  tools/scripts/authz/dao_genesis_authorizations.json
  tools/scripts/goimports/filters/filters.go
  tools/scripts/goimports/main.go
  tools/scripts/params/shared_all.json
  x/proof/keeper/msg_server_submit_proof.go
  x/session/keeper/msg_update_params.go
  x/session/keeper/msg_update_params_test.go
  x/session/module/genesis_test.go
  x/session/types/errors.go
  x/session/types/params.go
  x/session/types/params.pb.go
  x/shared/keeper/msg_update_params.go
  x/shared/keeper/msg_update_params_test.go
  x/shared/types/errors.go
  x/shared/types/genesis.go
  x/shared/types/genesis_test.go
  x/shared/types/msg_update_params.go
  x/shared/types/params.go
  x/shared/types/params.pb.go
  x/shared/types/params_test.go
Labels: on-chain, push-image, devnet, devnet-test-e2e

#549 [Relay Mining] Add Relay Mining math helpers
  .prompts/test_suggestions.prompt
  .prompts/unit_tests.prompt
  e2e/tests/update_params.feature
  x/tokenomics/keeper/update_relay_mining_difficulty.go
  x/tokenomics/keeper/update_relay_mining_difficulty_test.go
  x/tokenomics/types/errors.go
Labels: protocol, on-chain

#538 [Relayminer] Query for on-chain session param `num_blocks_per_session`
  load-testing/tests/relays_stress_helpers_test.go
  pkg/client/interface.go
  pkg/client/query/errors.go
  pkg/client/query/sessionquerier.go
  pkg/client/query/sharedquerier.go
  pkg/crypto/rings/client.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  testutil/testclient/testqueryclients/sessionquerier.go
  testutil/testclient/testqueryclients/sharedquerier.go
  testutil/testproxy/relayerproxy.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/keeper/prune_undelegations.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/proof_test.go
  x/proof/module/helpers_test.go
  x/proof/module/query_claim_test.go
  x/proof/types/message_submit_proof_test.go
  x/session/keeper/session_hydrator.go
  x/shared/session.go
  x/shared/types/types.go
  x/tokenomics/keeper/keeper_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/settle_session_accounting_test.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#558 [Code Health] test: add makefile target for E2E param update tests
  Makefile
Labels: code health

#492 [Docs] Update Infra docs
  .github/label-actions.yml
  .github/workflows/label-actions.yml
  docusaurus/docs/develop/developer_guide/quickstart.md
  docusaurus/docs/develop/internal_infrastructure/_category_.json
  docusaurus/docs/operate/configs/_category_.json
  docusaurus/docs/operate/infrastructure/_category_.json
  docusaurus/docs/operate/infrastructure/access_dashboard_on_service.png
  docusaurus/docs/operate/infrastructure/devnet.md
  docusaurus/docs/operate/infrastructure/gcp_workloads.png
  docusaurus/docs/operate/infrastructure/grafana_explore_logs.png
  docusaurus/docs/operate/infrastructure/grafana_save_dashboard.png
  docusaurus/docs/operate/infrastructure/localnet.md
  docusaurus/docs/operate/infrastructure/private_testnet.md
  docusaurus/docs/operate/infrastructure/repositories.md
  docusaurus/docs/operate/infrastructure/testnet.md
  docusaurus/docs/operate/run_a_node/_category_.json
  docusaurus/docs/operate/testing/_category_.json
  docusaurus/docs/operate/testing/load_testing.md
  docusaurus/docs/operate/testing/load_testing_plan_1.md
Labels: documentation, infra, push-image, devnet, devnet-test-e2e

#550 [Relayminer] Fix: relayminer on time sessions
  pkg/relayer/session/session.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#555 [Application] Refactor app module to fetch on-chain params
  load-testing/tests/relays_stress_helpers_test.go
  pkg/crypto/rings/client.go
  testutil/keeper/application.go
  testutil/keeper/proof.go
  testutil/keeper/tokenomics.go
  testutil/testclient/testqueryclients/sessionquerier.go
  testutil/testproxy/relayerproxy.go
  x/application/keeper/keeper.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/keeper/prune_undelegations.go
  x/application/module/module.go
  x/application/types/expected_keepers.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/proof_test.go
  x/proof/module/helpers_test.go
  x/proof/types/message_submit_proof_test.go
  x/session/keeper/session_hydrator.go
  x/shared/keeper/session.go
  x/shared/session.go
  x/tokenomics/keeper/keeper_test.go
  x/tokenomics/keeper/settle_session_accounting_test.go
Labels: application, push-image, devnet, devnet-test-e2e

#562 [LoadTest] Switch funding account to key name instead of address
  load-testing/config/load_test_manifest_reader.go
  load-testing/loadtest_manifest.yaml
  load-testing/localnet_loadtest_manifest.yaml
  load-testing/tests/relays_stress_test.go
Labels: loadtest

#556 [Ring Client] refactor: ring client to use on-chain params
  pkg/appgateserver/cmd/cmd.go
  pkg/crypto/rings/cache_test.go
  pkg/crypto/rings/client.go
  testutil/keeper/proof.go
  testutil/keeper/tokenomics.go
  testutil/testcrypto/rings/cache.go
  testutil/testproxy/relayerproxy.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/proof/keeper/keeper.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/module/module.go
  x/proof/types/expected_keepers.go
  x/proof/types/shared_query_client.go
Labels: off-chain, on-chain, push-image, devnet, devnet-test-e2e

#557 [Session Module] refactor: session module fetches on-chain params
  testutil/keeper/proof.go
  testutil/keeper/session.go
  testutil/keeper/tokenomics.go
  testutil/testclient/testqueryclients/sessionquerier.go
  testutil/testproxy/relayerproxy.go
  x/session/keeper/keeper.go
  x/session/keeper/session_hydrator.go
  x/session/module/module.go
  x/session/types/expected_keepers.go
Labels: session, on-chain, push-image, devnet, devnet-test-e2e

#559 [Code Health] chore: resolve & cleanup outstanding `TODO_TECHDEBT(#517)` comments
  Makefile
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
  pkg/client/interface.go
  pkg/client/tx/context.go
  pkg/relayer/proxy/proxy_test.go
  testutil/keeper/application.go
  testutil/session/session.go
  testutil/testclient/testqueryclients/sessionquerier.go
  testutil/testproxy/relayerproxy.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/proof_test.go
  x/proof/module/helpers_test.go
  x/proof/module/query_claim_test.go
  x/proof/types/message_submit_proof_test.go
  x/session/keeper/session_hydrator.go
  x/shared/session.go
  x/tokenomics/keeper/keeper_test.go
  x/tokenomics/keeper/settle_session_accounting_test.go
Labels: code health, push-image, devnet, devnet-test-e2e
