Repository pokt-network/poktroll, pull requests merged in 2024-11, with the labels that each got.

#896 [Workflow] Enforce `TODO_UPNEXT` comments to have an associated username
  .github/workflows/reviewdog.yml
Labels: infra

#900 [TODOs] Update #2 to `TODO_BETA` to only reflect ACTUAL blockers
  cmd/poktrolld/cmd/config.go
  cmd/poktrolld/cmd/root.go
  config.yml
  makefiles/todos.mk
  pkg/appgateserver/config/appgate_configs_reader.go
  pkg/relayer/session/session_test.go
  pkg/relayer/session/sessiontree.go
  proto/poktroll/application/types.proto
  proto/poktroll/service/relay_mining_difficulty.proto
  proto/poktroll/service/tx.proto
  proto/poktroll/shared/service.proto
  x/proof/keeper/msg_server_submit_proof.go
  x/session/keeper/session_hydrator.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
Labels: code health

#907 [Session Params] Add `num_suppliers_per_session` param to session module
  api/poktroll/session/params.pulsar.go
  config.yml
  docusaurus/docs/protocol/governance/params.md
  makefiles/params.mk
  proto/poktroll/session/params.proto
  testutil/integration/suites/param_configs.go
  tools/scripts/params/session_all.json
  tools/scripts/params/session_num_suppliers_per_session.json
  x/session/keeper/msg_server_update_param.go
  x/session/keeper/msg_server_update_param_test.go
  x/session/keeper/msg_update_params_test.go
  x/session/keeper/params_test.go
  x/session/module/genesis_test.go
  x/session/types/errors.go
  x/session/types/message_update_param.go
  x/session/types/message_update_param_test.go
  x/session/types/params.go
  x/session/types/params.pb.go
Labels: session, governance, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#908 [Supplier] refactor: `NumSuppliersPerSession` var usage to param usage
  testutil/keeper/tokenomics.go
  x/session/keeper/session_hydrator.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/types/expected_keepers.go
Labels: session, governance, on-chain, push-image, devnet, devnet-test-e2e

#920 [quick-pr] change full-node.sh script links
  docusaurus/docs/operate/run_a_node/full_node_cosmovisor.md
  tools/installer/full-node.sh
Labels: code health

#910 [Tokenomics] refactor: `MintAllocationDao` var usage to param usage
  x/tokenomics/keeper/keeper.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/module/abci.go
  x/tokenomics/module/module.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#911 [Tokenomics] feat: add `mint_allocation_proposer` param to tokenomics module
  api/poktroll/tokenomics/params.pulsar.go
  config.yml
  makefiles/params.mk
  proto/poktroll/tokenomics/params.proto
  testutil/integration/suites/param_configs.go
  tools/scripts/params/tokenomics_all.json
  tools/scripts/params/tokenomics_mint_allocation_proposer.json
  x/tokenomics/keeper/msg_server_update_param.go
  x/tokenomics/keeper/msg_server_update_param_test.go
  x/tokenomics/keeper/params_test.go
  x/tokenomics/types/message_update_param.go
  x/tokenomics/types/params.go
  x/tokenomics/types/params.pb.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#912 [Tokenomics] refactor: `MintAllocationProposer` var usage to param usage
  x/tokenomics/keeper/keeper.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
Labels: governance, on-chain, tokenomics, consensus-breaking

#913 [Tokenomics] feat: add `mint_allocation_supplier` param to tokenomics module
  api/poktroll/tokenomics/params.pulsar.go
  config.yml
  makefiles/params.mk
  proto/poktroll/tokenomics/params.proto
  testutil/integration/suites/param_configs.go
  tools/scripts/params/tokenomics_all.json
  tools/scripts/params/tokenomics_mint_allocation_supplier.json
  x/tokenomics/keeper/msg_server_update_param.go
  x/tokenomics/keeper/msg_server_update_param_test.go
  x/tokenomics/keeper/params_test.go
  x/tokenomics/types/message_update_param.go
  x/tokenomics/types/params.go
  x/tokenomics/types/params.pb.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#914 [Tokenomics] refactor: `MintAllocationSupplier` var usage to param usage
  x/tokenomics/keeper/keeper.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#915 [Tokenomics] feat: add `mint_allocation_source_owner` param to tokenomics module
  api/poktroll/tokenomics/params.pulsar.go
  config.yml
  makefiles/params.mk
  proto/poktroll/tokenomics/params.proto
  testutil/integration/suites/param_configs.go
  tools/scripts/params/tokenomics_all.json
  tools/scripts/params/tokenomics_mint_allocation_source_owner.json
  x/tokenomics/keeper/msg_server_update_param.go
  x/tokenomics/keeper/msg_server_update_param_test.go
  x/tokenomics/keeper/params_test.go
  x/tokenomics/types/message_update_param.go
  x/tokenomics/types/params.go
  x/tokenomics/types/params.pb.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#917 [Tokenomics] feat: add `mint_allocation_application` param to tokenomics module
  api/poktroll/tokenomics/params.pulsar.go
  config.yml
  proto/poktroll/tokenomics/params.proto
  testutil/integration/suites/param_configs.go
  tools/scripts/params/tokenomics_all.json
  tools/scripts/params/tokenomics_mint_allocation_application.json
  x/tokenomics/keeper/msg_server_update_param.go
  x/tokenomics/keeper/msg_server_update_param_test.go
  x/tokenomics/keeper/params_test.go
  x/tokenomics/types/message_update_param.go
  x/tokenomics/types/params.go
  x/tokenomics/types/params.pb.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#918 [Tokenomics] refactor: `MintAllocationApplication` var usage to param usage
  api/poktroll/proof/tx.pulsar.go
  api/poktroll/tokenomics/params.pulsar.go
  tests/integration/params/update_param_test.go
  testutil/integration/suites/param_configs.go
  x/tokenomics/keeper/keeper.go
  x/tokenomics/keeper/msg_server_update_param.go
  x/tokenomics/keeper/msg_server_update_param_test.go
  x/tokenomics/keeper/msg_update_params_test.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/module/abci.go
  x/tokenomics/module/helpers_test.go
  x/tokenomics/module/module.go
  x/tokenomics/module/tx_update_params.go
  x/tokenomics/module/tx_update_params_test.go
  x/tokenomics/types/genesis_test.go
  x/tokenomics/types/message_update_params_test.go
  x/tokenomics/types/params.go
  x/tokenomics/types/params.pb.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#926 [Service] Return the default RelayMinerDifficuly for services that have none.
  pkg/client/query/servicequerier.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/proof_validation.go
  x/service/keeper/query_relay_mining_difficulty.go
  x/service/keeper/query_relay_mining_difficulty_test.go
  x/service/keeper/relay_mining_difficulty.go
  x/service/keeper/relay_mining_difficulty_test.go
  x/service/types/errors.go
Labels: service, code health, push-image, devnet, devnet-test-e2e

#922 [Tokenomics] feat: add `dao_reward_address` param to tokenomics module
  api/poktroll/tokenomics/params.pulsar.go
  api/poktroll/tokenomics/tx.pulsar.go
  config.yml
  proto/poktroll/tokenomics/params.proto
  proto/poktroll/tokenomics/tx.proto
  testutil/integration/suites/param_configs.go
  x/tokenomics/keeper/msg_server_update_param.go
  x/tokenomics/keeper/msg_server_update_param_test.go
  x/tokenomics/keeper/msg_update_params_test.go
  x/tokenomics/keeper/params_test.go
  x/tokenomics/types/genesis_test.go
  x/tokenomics/types/message_update_param.go
  x/tokenomics/types/message_update_params_test.go
  x/tokenomics/types/params.go
  x/tokenomics/types/params.pb.go
  x/tokenomics/types/tx.pb.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#927 [C&P] Populate NumEstimatedComputeUnits and ClaimedUpokt of Claim and Proof events
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, proof

#923 [Tokenomics] Consolidate `mint_allocation_<actor>` params & CLI cleanup
  api/poktroll/tokenomics/params.pulsar.go
  api/poktroll/tokenomics/tx.pulsar.go
  config.yml
  e2e/tests/parse_params_test.go
  makefiles/params.mk
  proto/poktroll/tokenomics/params.proto
  proto/poktroll/tokenomics/tx.proto
  tests/integration/params/update_param_test.go
  testutil/integration/suites/param_configs.go
  testutil/integration/suites/update_params.go
  tools/scripts/params/tokenomics_all.json
  tools/scripts/params/tokenomics_mint_allocation_application.json
  tools/scripts/params/tokenomics_mint_allocation_dao.json
  tools/scripts/params/tokenomics_mint_allocation_percentages.json
  tools/scripts/params/tokenomics_mint_allocation_proposer.json
  tools/scripts/params/tokenomics_mint_allocation_source_owner.json
  tools/scripts/params/tokenomics_mint_allocation_supplier.json
  x/tokenomics/keeper/msg_server_update_param.go
  x/tokenomics/keeper/msg_update_params_test.go
  x/tokenomics/keeper/params_test.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/module/tx.go
  x/tokenomics/module/tx_update_params.go
  x/tokenomics/types/message_update_param.go
  x/tokenomics/types/message_update_param_test.go
  x/tokenomics/types/message_update_params_test.go
  x/tokenomics/types/mint_allocation_percentage.go
  x/tokenomics/types/params.go
  x/tokenomics/types/params.pb.go
  x/tokenomics/types/tx.pb.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#889 [Tokenomics] Harden settlement (part 1: TLM isolation)
  .tool-versions
  api/poktroll/tokenomics/event.pulsar.go
  api/poktroll/tokenomics/types.pulsar.go
  config.yml
  e2e/tests/session_steps_test.go
  pkg/pokterrors/split.go
  pkg/relayer/session/proof.go
  proto/poktroll/tokenomics/event.proto
  proto/poktroll/tokenomics/types.proto
  tests/integration/application/min_stake_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  tests/integration/tokenomics/token_logic_modules/commutative_test.go
  tests/integration/tokenomics/token_logic_modules/permute_test.go
  tests/integration/tokenomics/token_logic_modules/tlm_suite_test.go
  tests/integration/tokenomics/token_logic_modules/unhaltable_test.go
  testutil/integration/app.go
  testutil/integration/options.go
  testutil/keeper/session.go
  testutil/keeper/tokenomics.go
  testutil/sample/sample.go
  x/application/module/helpers_test.go
  x/gateway/module/helpers_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/query_claim.go
  x/proof/keeper/query_claim_test.go
  x/proof/keeper/query_proof.go
  x/session/keeper/session_hydrator_test.go
  x/supplier/module/helpers_test.go
  x/tokenomics/keeper/keeper.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/msg_server_update_param_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/module/abci.go
  x/tokenomics/module/helpers_test.go
  x/tokenomics/module/module.go
  x/tokenomics/token_logic_module/distribution.go
  x/tokenomics/token_logic_module/global_mint.go
  x/tokenomics/token_logic_module/reimbursement_requests.go
  x/tokenomics/token_logic_module/relay_burn_equals_mint.go
  x/tokenomics/token_logic_module/settlement_results.go
  x/tokenomics/token_logic_module/types.go
  x/tokenomics/token_logic_module/validation.go
  x/tokenomics/types/errors.go
  x/tokenomics/types/event.pb.go
  x/tokenomics/types/expected_keepers.go
  x/tokenomics/types/settlement_result.go
  x/tokenomics/types/types.go
  x/tokenomics/types/types.pb.go
Labels: on-chain, code health, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#872 [Supplier] Add missing event
  api/poktroll/application/event.pulsar.go
  api/poktroll/application/types.pulsar.go
  api/poktroll/supplier/event.pulsar.go
  api/poktroll/supplier/tx.pulsar.go
  e2e/tests/init_test.go
  proto/poktroll/application/event.proto
  proto/poktroll/supplier/event.proto
  tests/integration/application/min_stake_test.go
  x/application/keeper/msg_server_stake_application_test.go
  x/application/keeper/msg_server_unstake_application.go
  x/application/keeper/msg_server_unstake_application_test.go
  x/application/keeper/unbond_applications.go
  x/application/types/event.pb.go
  x/shared/types/supplier.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/keeper/unbond_suppliers.go
  x/supplier/types/errors.go
  x/supplier/types/event.pb.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/types/expected_keepers.go
Labels: supplier, on-chain, push-image, devnet, devnet-test-e2e

#839 [Docs] Update "Adding On-Chain Module Parameters"
  docusaurus/docs/develop/developer_guide/adding_params.md
  docusaurus/docs/protocol/governance/params.md
  tools/scripts/docusaurus/params_doc_template.md
Labels: documentation, governance, on-chain

#790 [Application, Docs] application transfer
  docusaurus/docs/operate/user_guide/app-transfer.md
  docusaurus/docs/operate/user_guide/transfer-application.md
Labels: documentation, application

#933 [Docs] Update gov params docs
  api/poktroll/tokenomics/params.pulsar.go
  docusaurus/docs/protocol/governance/params.md
  docusaurus/yarn.lock
  proto/poktroll/tokenomics/params.proto
  x/tokenomics/types/params.pb.go
Labels: documentation, governance

#935 [Docs] Add support for `diff` syntax highlighting in docusaurus
  docusaurus/docusaurus.config.js
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/yarn.lock
Labels: documentation

#932 [Docs] E2E Preparation for Beta TestNet release
  README.md
  app/app.go
  docusaurus/docs/explore/genesis.md
  docusaurus/docs/explore/roadmap.md
  docusaurus/docs/explore/rpc.md
  docusaurus/docs/explore/tools.md
  docusaurus/docs/operate/infrastructure/_category_.json
  docusaurus/docs/operate/quickstart/gateway_cheatsheet.md
  docusaurus/docs/operate/quickstart/service_cheatsheet.md
  docusaurus/docs/operate/quickstart/supplier_cheatsheet.md
  docusaurus/docs/operate/quickstart/validator_cheatsheet.md
  docusaurus/docs/operate/run_a_node/_category_.json
  docusaurus/docs/operate/run_a_node/full_node_cosmovisor.md
  docusaurus/docs/operate/run_a_node/full_node_docker.md
  docusaurus/docs/operate/run_a_node/gateway_walkthrough.md
  docusaurus/docs/operate/run_a_node/supplier_walkthrough.md
  docusaurus/docs/operate/run_a_node/validator_walkthrough.md
  docusaurus/yarn.lock
Labels: documentation

#949 [Docs] Update documentation on installing the `poktrolld` CLI
  docusaurus/docs/operate/user_guide/install.md
Labels: documentation

#950 [Docs] Update links to RPC & explorers
  docusaurus/docs/explore/rpc.md
  docusaurus/docs/explore/tools.md
Labels: documentation

#958 [Docs] adding params - fix gRPC status error code
  docusaurus/docs/develop/developer_guide/adding_params.md
Labels: documentation, governance, on-chain

#928 [Docs] Upgrade list
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
  docusaurus/docs/protocol/upgrades/upgrade_list.md
  tools/scripts/tx_jsons/staking_params.json
  tools/scripts/tx_jsons/staking_validator2.json
  tools/scripts/tx_jsons/staking_validator3.json
Labels: documentation

#941 [Docs/Tools] Validator: support multiple networks + cheat sheet
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/full_node_cheatsheet.md
  docusaurus/docs/operate/quickstart/validator_cheatsheet.md
  docusaurus/docs/operate/run_a_node/full_node_cosmovisor.md
  docusaurus/docs/operate/run_a_node/full_node_walkthrough.md
  docusaurus/docs/operate/run_a_node/validator_walkthrough.md
  docusaurus/docs/protocol/upgrades/protocol_upgrades.md
  docusaurus/docs/protocol/upgrades/upgrade_procedure.md
  tools/installer/full-node.sh
Labels: documentation, code health
