Repository pokt-network/poktroll, pull requests merged in 2024-03, with the labels that each got.

#411 [Proof] refactor: ring client for on-chain use
  pkg/crypto/interface.go
  pkg/crypto/rings/cache.go
  pkg/crypto/rings/client.go
  pkg/crypto/rings/errors.go
  pkg/crypto/rings/ring.go
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/relay_verifier.go
  testutil/keeper/proof.go
  x/proof/keeper/keeper.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/option.go
  x/proof/module/module.go
  x/proof/types/account_query_client.go
  x/proof/types/application_query_client.go
  x/proof/types/expected_keepers.go
Labels: sequencer, on-chain

#398 [CI/Infra] Fix DevNet e2e tests post-migration with validators
  .github/workflows-helpers/run-e2e-test-job-template.yaml
  .github/workflows-helpers/run-e2e-test.sh
  .github/workflows/main-build.yml
  .gitignore
  Makefile
  Tiltfile
  config.yml
  docs/static/openapi.yml
  docusaurus/docs/README.md
  docusaurus/docs/architecture/network.md
  docusaurus/docs/infrastructure/localnet.md
  docusaurus/docs/infrastructure/testing/load_testing_plan_1.md
  docusaurus/docs/quickstart.md
  docusaurus/docs/roadmap/roadmap_changelog.md
  docusaurus/docusaurus.config.js
  e2e/tests/session_steps_test.go
  go.mod
  go.sum
  localnet/kubernetes/celestia-rollkit.yaml
  localnet/kubernetes/validator-volume.yaml
  localnet/kubernetes/values-appgateserver.yaml
  localnet/kubernetes/values-relayminer.yaml
  localnet/kubernetes/values-sequencer.yaml
  localnet/kubernetes/values-validator.yaml
  localnet/poktrolld/config/app.toml
  localnet/poktrolld/config/appgate_server_config.yaml
  localnet/poktrolld/config/appgate_server_config_example.yaml
  localnet/poktrolld/config/appgate_server_config_localnet_vscode.yaml
  localnet/poktrolld/config/config.toml
  localnet/poktrolld/config/relayminer_config.yaml
  localnet/poktrolld/config/relayminer_config_full_example.yaml
  pkg/client/block/block.go
  pkg/client/block/client_integration_test.go
  pkg/client/block/client_test.go
  pkg/client/tx/client.go
  pkg/client/tx/client_integration_test.go
  pkg/client/tx/client_test.go
  pkg/deps/config/suppliers.go
  testutil/testclient/localnet.go
  testutil/testclient/testblock/client.go
  testutil/testclient/testdelegation/client.go
  testutil/testclient/testeventsquery/client.go
  testutil/testclient/testsupplier/client.go
  testutil/testclient/testtx/client.go
  testutil/testclient/testtx/context.go
  x/session/keeper/query_get_session.go
Labels: push-image, devnet, devnet-test-e2e

#408 [Session] Make first session start block height to be 1
  docusaurus/docs/actors/application.md
  docusaurus/docs/actors/gateway.md
  docusaurus/docs/actors/supplier.md
  docusaurus/docs/configs/relayminer_config.md
  docusaurus/docs/protocol/claim_and_proof_lifecycle.md
  testutil/keeper/session.go
  x/session/keeper/block_hash.go
  x/session/keeper/query_get_session_test.go
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
Labels: bug, session, on-chain, push-image, devnet, devnet-test-e2e

#416 [RingClient] refactor: to use PubKeyClient
  pkg/crypto/rings/client.go
Labels: off-chain, on-chain, code health

#413 [PubKeyClient] Implement PubKeyClient for on/off-chain usage
  pkg/appgateserver/cmd/cmd.go
  pkg/crypto/interface.go
  pkg/crypto/pubkey_client/client.go
  pkg/crypto/pubkey_client/errors.go
  pkg/crypto/rings/client.go
  pkg/deps/config/suppliers.go
  pkg/sdk/deps_builder.go
  pkg/sdk/relay_verifier.go
  pkg/sdk/sdk.go
  pkg/sdk/send_relay.go
  testutil/keeper/proof.go
  x/proof/keeper/keeper.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/module/module.go
  x/service/types/errors.go
  x/service/types/relay.go
Labels: service, off-chain, on-chain, crypto

#410 [Bug] Address go-routines leak
  localnet/poktrolld/config/config/app.toml
  localnet/poktrolld/config/config/client.toml
  localnet/poktrolld/config/config/config.toml
  localnet/poktrolld/config/config/genesis.json
  localnet/poktrolld/config/config/node_key.json
  localnet/poktrolld/config/config/priv_validator_key.json
  pkg/client/events/replay_client.go
  pkg/client/tx/client.go
  pkg/observable/channel/map.go
  pkg/observable/channel/observable.go
  pkg/observable/channel/replay.go
  pkg/relayer/session/session.go
Labels: bug, off-chain, push-image, devnet, devnet-test-e2e

#407 fix: Ignore externally initiated transactions
  pkg/client/tx/client.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#420 Remove accidentally added config files
  localnet/poktrolld/config/config/app.toml
  localnet/poktrolld/config/config/client.toml
  localnet/poktrolld/config/config/config.toml
  localnet/poktrolld/config/config/genesis.json
  localnet/poktrolld/config/config/node_key.json
  localnet/poktrolld/config/config/priv_validator_key.json
  pkg/client/tx/client.go
Labels: code health

#418 [Test] Replace time waiting with message submission waiting
  e2e/tests/session.feature
  e2e/tests/session_steps_test.go
Labels: testing, push-image, devnet, devnet-test-e2e

#414 [LocalNet] Allow to scale up actors
  Tiltfile
  config.yml
  docusaurus/docs/configs/supplier_staking_config.md
  localnet/kubernetes/values-relayminer-1.yaml
  localnet/kubernetes/values-relayminer-2.yaml
  localnet/kubernetes/values-relayminer-3.yaml
  localnet/kubernetes/values-relayminer-common.yaml
  localnet/poktrolld/config/supplier1_stake_config.yaml
  localnet/poktrolld/config/supplier2_stake_config.yaml
  localnet/poktrolld/config/supplier3_stake_config.yaml
Labels: infra

#422 [Cleanup] Wrap errors by type not by `sdkerrors` import's `Wrapf` method.
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/proxy/synchronous.go
  x/service/types/params.go
  x/session/keeper/session_hydrator.go
Labels: code health

#431 [Quick change] Bump default gas limit
  pkg/client/tx/client.go
Labels: tooling

#426 [Docs] Add code review guidelines & developer tips
  docusaurus/docs/developer_guide/_category_.json
  docusaurus/docs/developer_guide/code_review_guidelines.md
  docusaurus/docs/developer_guide/dev_tips.md
  docusaurus/docs/developer_guide/img/code_review_pyramid.png
  docusaurus/docs/developer_guide/img/github_line_comment.png
  docusaurus/docs/developer_guide/img/line_comment_dialog_start.png
  docusaurus/docs/developer_guide/img/quickstart_accounts.png
  docusaurus/docs/developer_guide/img/quickstart_applist.png
  docusaurus/docs/developer_guide/img/quickstart_localnet.png
  docusaurus/docs/developer_guide/img/submit_review.png
  docusaurus/docs/developer_guide/quickstart.md
  tools/scripts/itest.sh
Labels: documentation

#415 [CI] Delete validator pod if stuck during E2E test
  .github/workflows-helpers/run-e2e-test.sh
Labels: infra, push-image, devnet, devnet-test-e2e

#424 [LocalNet] Fix/localnet regenesis
  .github/workflows-helpers/run-e2e-test.sh
  Makefile
Labels: bug, infra, push-image, devnet, devnet-test-e2e

#435 [Redelegation] fix: EventRedelegation unmarshaling failure
  .github/workflows-helpers/run-e2e-test.sh
  pkg/client/delegation/redelegation.go
  pkg/client/tx/client.go
  pkg/client/tx/client_test.go
  testutil/testclient/testdelegation/client.go
Labels: application, off-chain, push-image, devnet, devnet-test-e2e

#406 [Proof] Relay signature & Merkle proof validation
  Makefile
  api/poktroll/service/relay.pulsar.go
  e2e/tests/tokenomics.feature
  go.mod
  go.sum
  pkg/client/interface.go
  pkg/client/query/accquerier.go
  pkg/client/query/errors.go
  pkg/client/supplier/client_test.go
  pkg/client/tx/client_test.go
  pkg/crypto/interface.go
  pkg/crypto/rings/cache.go
  pkg/crypto/rings/client.go
  pkg/crypto/rings/errors.go
  pkg/crypto/rings/ring.go
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/proxy/synchronous.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  pkg/sdk/deps_builder.go
  pkg/sdk/relay_verifier.go
  pkg/sdk/sdk.go
  pkg/sdk/send_relay.go
  proto/poktroll/service/relay.proto
  testutil/keeper/proof.go
  testutil/testclient/testblock/client.go
  testutil/testclient/testqueryclients/accquerier.go
  testutil/testproxy/relayerproxy.go
  testutil/testrelayer/relays.go
  x/proof/keeper/keeper.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/module/module.go
  x/proof/module/simulation.go
  x/proof/simulation/create_claim.go
  x/proof/simulation/submit_proof.go
  x/proof/types/account_query_client.go
  x/proof/types/application_query_client.go
  x/proof/types/errors.go
  x/proof/types/expected_keepers.go
  x/service/types/errors.go
  x/service/types/relay.go
Labels: supplier, on-chain, push-image, devnet, devnet-test-e2e

#439 [RelayMiner] feat: Make the RelayMiner wait for its corresponding Supllier to stake
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/relayminer.go
Labels: relayminer, push-image, devnet, devnet-test-e2e

#443 [AppGateServer] feat: Use round-robin endpoint selection strategy
  pkg/appgateserver/endpoint_selector.go
  pkg/appgateserver/server.go
Labels: application, gateway, off-chain, push-image, devnet, devnet-test-e2e

#412 [Proof] refactor claim creation tests & session hydrator errors
  pkg/crypto/pubkey_client/client.go
  pkg/crypto/pubkey_client/errors.go
  testutil/keeper/proof.go
  testutil/proof/fixtures.go
  x/proof/keeper/claim_test.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_test.go
  x/proof/keeper/params_test.go
  x/proof/keeper/proof_test.go
  x/proof/keeper/query_claim_test.go
  x/proof/keeper/query_params_test.go
  x/proof/keeper/query_proof_test.go
  x/proof/module/genesis_test.go
  x/proof/types/expected_keepers.go
  x/service/types/relay.go
  x/session/keeper/session_hydrator.go
Labels: sequencer, session, on-chain

#417 [Proof] add proof submission integration tests
  api/poktroll/proof/params.pulsar.go
  pkg/client/supplier/client_test.go
  pkg/client/tx/client_test.go
  pkg/relayer/miner/miner.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session_test.go
  proto/poktroll/proof/params.proto
  testutil/keeper/proof.go
  x/application/types/genesis_test.go
  x/application/types/message_stake_application_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/types/expected_keepers.go
  x/proof/types/params.go
  x/service/types/relay.go
  x/shared/helpers/service.go
  x/shared/helpers/service_test.go
  x/supplier/types/message_stake_supplier_test.go
Labels: sequencer, testing, on-chain, push-image, devnet, devnet-test-e2e
