Repository pokt-network/poktroll, pull requests merged in 2024-09, with the labels that each got.

#792 [Docs] Minor doc updates across the board
  .github/pull_request_template.md
  api/poktroll/application/types.pulsar.go
  docusaurus/docs/explore/roadmap.md
  docusaurus/docs/explore/rpc.md
  docusaurus/docs/explore/tools.md
  docusaurus/yarn.lock
  x/application/types/types.pb.go
  x/tokenomics/types/tx.pb.go
Labels: documentation

#793 [Tilt] Enable rest service by default in Tilt
  Tiltfile
Labels: testing, tooling

#745 [Relay Mining] Use per-service difficulty in the relayer
  Makefile
  pkg/client/interface.go
  pkg/client/query/errors.go
  pkg/client/query/servicequerier.go
  pkg/client/query/tokenomicsquerier.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/miner/gen/gen_fixtures.go
  pkg/relayer/miner/gen/template.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/miner/options.go
  pkg/relayer/miner/relay_fixtures_test.go
  pkg/relayer/session/errors.go
  pkg/relayer/session/service.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  testutil/integration/app.go
  testutil/keeper/proof.go
  testutil/keeper/tokenomics.go
  testutil/testclient/testqueryclients/servicequerier.go
  testutil/testclient/testqueryclients/tokenomicsquerier.go
  x/proof/keeper/keeper.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/service.go
  x/proof/module/module.go
  x/proof/types/errors.go
  x/proof/types/expected_keepers.go
Labels: enhancement, relayminer, on-chain, push-image, devnet, devnet-test-e2e

#784 [Small PR][CI] Add check for stable marshalers
  .github/workflows/run-tests.yml
Labels: tooling

#797 [Dependencies] Bump go and cosmos-sdk
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/release-artifacts.yml
  .github/workflows/run-tests.yml
  .github/workflows/upload-pages-artifact.yml
  .tool-versions
  Dockerfile.dev
  Makefile
  Tiltfile
  go.mod
  go.sum
  localnet/poktrolld/config/config.toml
  pkg/client/tx/client.go
  pkg/relayer/proxy/proxy.go
  x/application/types/genesis.go
  x/application/types/message_stake_application.go
  x/proof/keeper/proof_validation.go
  x/supplier/config/supplier_configs_reader.go
  x/supplier/types/genesis.go
  x/supplier/types/message_stake_supplier.go
Labels: code health, push-image, tooling, devnet, devnet-test-e2e

#783 [Docs] how to create a new release
  Makefile
  docusaurus/docs/protocol/upgrades/release_process.md
  docusaurus/docs/protocol/upgrades/upgrade_list.md
Labels: documentation

#778 [Service] Align add service fee param with other params implementation
  Makefile
  api/poktroll/service/params.pulsar.go
  api/poktroll/service/tx.pulsar.go
  api/poktroll/service/tx_grpc.pb.go
  config.yml
  e2e/tests/parse_params_test.go
  e2e/tests/reset_params_test.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  proto/poktroll/service/params.proto
  proto/poktroll/service/tx.proto
  tools/scripts/authz/dao_genesis_authorizations.json
  tools/scripts/params/service_add_service_fee.json
  tools/scripts/params/service_all.json
  x/service/keeper/msg_server_add_service.go
  x/service/keeper/msg_server_add_service_test.go
  x/service/keeper/msg_server_update_param.go
  x/service/keeper/msg_server_update_param_test.go
  x/service/types/errors.go
  x/service/types/genesis.go
  x/service/types/genesis_test.go
  x/service/types/message_update_param.go
  x/service/types/message_update_params.go
  x/service/types/params.go
  x/service/types/params.pb.go
  x/service/types/tx.pb.go
Labels: service, governance, on-chain, code health, push-image, devnet, devnet-test-e2e

#779 [Proof] Proof submission fee param
  Makefile
  api/poktroll/proof/params.pulsar.go
  config.yml
  e2e/tests/parse_params_test.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  proto/poktroll/proof/params.proto
  tools/scripts/params/proof_all.json
  tools/scripts/params/proof_proof_submission_fee.json
  x/proof/keeper/msg_server_update_param.go
  x/proof/keeper/msg_server_update_param_test.go
  x/proof/keeper/msg_update_params_test.go
  x/proof/keeper/params_test.go
  x/proof/types/message_update_param.go
  x/proof/types/params.go
  x/proof/types/params.pb.go
  x/tokenomics/types/tx.pb.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, proof

#780 Feat/payable proof submission
  app/app_config.go
  e2e/tests/init_test.go
  e2e/tests/session_steps_test.go
  testutil/integration/app.go
  testutil/keeper/proof.go
  testutil/keeper/tokenomics.go
  x/proof/keeper/keeper.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/module/module.go
  x/proof/types/errors.go
  x/proof/types/expected_keepers.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, proof

#798 [E2E Test] Remove redundant logging
  Makefile
  e2e/tests/init_test.go
  e2e/tests/node.go
Labels: testing

#800 [SDK] Update shannon sdk dependency
  cmd/poktrolld/cmd/config.go
  go.mod
  go.sum
Labels: sdk

#765 [SessionManager] Implement off-chain proof params usage
  e2e/tests/0_settlement.feature
  e2e/tests/init_test.go
  e2e/tests/session.feature
  e2e/tests/session_steps_test.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  testutil/testclient/testqueryclients/proofquerier.go
  testutil/testclient/testqueryclients/servicequerier.go
  testutil/testclient/testsupplier/client.go
  x/proof/types/claim.go
  x/proof/types/params.go
  x/tokenomics/keeper/settle_pending_claims.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#787 Use a descriptive error if service ID is not found
  x/service/keeper/query_service.go
  x/service/keeper/query_service_test.go
Labels: enhancement, push-image, devnet, devnet-test-e2e

#796 [CI] Add cosmovisor to container images
  .github/workflows/release-artifacts.yml
  .gitignore
  Dockerfile.dev
  Dockerfile.release
  Makefile
Labels: push-image, tooling

#768 [Documentation] Cosmovisor
  cmd/poktrolld/cmd/commands.go
  cmd/poktrolld/cmd/config.go
  cmd/poktrolld/cmd/root.go
  config.yml
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
  docusaurus/docs/operate/run_a_node/appgate_server.md
  docusaurus/docs/operate/run_a_node/full_node_cosmovisor.md
  docusaurus/docs/operate/run_a_node/full_node_docker.md
  docusaurus/docs/operate/run_a_node/hardware_requirements.md
  docusaurus/docs/operate/run_a_node/relay_miner.md
  docusaurus/docs/protocol/upgrades/upgrade_list.md
  localnet/poktrolld/config/app.toml
  localnet/poktrolld/config/config.toml
  tools/installer/full-node.sh
Labels: documentation

#801 [GATEWAY POC] A couple helpers to help deploy a PATH gateway
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
Labels: documentation

#805 [Quick PR][LocalNet] Turn off minimum-gas-prices
  config.yml
  localnet/poktrolld/config/app.toml
  x/tokenomics/types/tx.pb.go
Labels: tooling

#755 [Tokenomics] Preparation for Global Mint Reimbursement Request
  .github/workflows/main-build.yml
  api/poktroll/shared/service.pulsar.go
  api/poktroll/tokenomics/event.pulsar.go
  config.yml
  e2e/tests/0_settlement.feature
  e2e/tests/init_test.go
  pkg/crypto/rings/cache_test.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/session/sessiontree.go
  proto/poktroll/shared/service.proto
  proto/poktroll/tokenomics/event.proto
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  testutil/integration/app.go
  testutil/keeper/tokenomics.go
  testutil/sample/sample.go
  testutil/testrelayer/relays.go
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
  x/shared/types/service.pb.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/keeper/update_relay_mining_difficulty.go
  x/tokenomics/types/errors.go
  x/tokenomics/types/event.pb.go
  x/tokenomics/types/expected_keepers.go
Labels: push-image, devnet, devnet-test-e2e, tokenomics

#782 [Session,Service] Ensure SessionHeader and Service basic validation.
  x/application/module/config/application_configs_reader.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/types/message_create_claim.go
  x/proof/types/message_submit_proof.go
  x/proof/types/message_submit_proof_test.go
  x/service/types/message_add_service.go
  x/session/keeper/session_hydrator.go
  x/session/types/query_get_session_request.go
  x/session/types/session_header.go
  x/shared/helpers/service_configs.go
  x/shared/helpers/service_test.go
  x/shared/types/errors.go
  x/shared/types/service.go
  x/supplier/config/supplier_configs_reader.go
  x/supplier/keeper/msg_server_unstake_supplier.go
Labels: service, session, off-chain, on-chain, code health, push-image, devnet, devnet-test-e2e, consensus-breaking

#786 [Docs] Add a debugging tip: using transaction hashes
  docusaurus/docs/develop/developer_guide/debug_tips.md
Labels: documentation

#814 [Tooling] fix and add makefile targets
  Makefile
Labels: code health, tooling

#816 [Tooling, Code Health] refactor: split Makefile into multiple files
  Makefile
  makefiles/applications.mk
  makefiles/checks.mk
  makefiles/claims.mk
  makefiles/gateways.mk
  makefiles/localnet.mk
  makefiles/params.mk
  makefiles/query.mk
  makefiles/relay.mk
  makefiles/session.mk
  makefiles/suppliers.mk
  makefiles/testnet.mk
  makefiles/tests.mk
  makefiles/todos.mk
  makefiles/warnings.mk
Labels: code health, push-image, tooling, devnet, devnet-test-e2e

#822 [Proof] Prevent proof submission when not required
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/proof_requirement_test.go
  x/proof/types/errors.go
  x/tokenomics/keeper/keeper_exports_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/types/expected_keepers.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, proof

#829 [Container image] Change base image for release
  Dockerfile.release
Labels: tooling

#830 [Documentation] Change container names in the quickstart
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
Labels: documentation

#771 [Tokenomics] Preparation for proportional relay mining rewards based on difficulty
  api/poktroll/tokenomics/event.pulsar.go
  app/app.go
  docusaurus/docs/develop/contributing/observability.md
  e2e/tests/0_settlement.feature
  pkg/client/supplier/client_test.go
  pkg/client/tx/client_test.go
  pkg/crypto/protocol/difficulty.go
  pkg/crypto/protocol/difficulty_test.go
  pkg/crypto/protocol/relay_difficulty.go
  pkg/crypto/protocol/relay_difficulty_test.go
  pkg/relayer/session/session_test.go
  proto/poktroll/tokenomics/event.proto
  telemetry/event_counters.go
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  testutil/integration/app.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/proof_validation.go
  x/proof/keeper/proof_validation_test.go
  x/proof/types/claim.go
  x/proof/types/errors.go
  x/proof/types/params.go
  x/service/keeper/msg_server_add_service_test.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/scale_difficulty_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/keeper/update_relay_mining_difficulty.go
  x/tokenomics/keeper/update_relay_mining_difficulty_test.go
  x/tokenomics/module/abci.go
  x/tokenomics/tokenomics.go
  x/tokenomics/types/event.pb.go
  x/tokenomics/types/expected_keepers.go
  x/tokenomics/types/tx.pb.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, tokenomics, utility

#743 [Application] feat: app stake transfer
  api/poktroll/application/tx.pulsar.go
  api/poktroll/application/tx_grpc.pb.go
  e2e/tests/stake_app_transfer.feature
  e2e/tests/stake_app_transfer_steps_test.go
  proto/poktroll/application/tx.proto
  x/application/keeper/msg_server_transfer_application_stake.go
  x/application/keeper/msg_server_transfer_application_stake_test.go
  x/application/module/autocli.go
  x/application/module/simulation.go
  x/application/simulation/transfer_application_stake.go
  x/application/types/codec.go
  x/application/types/errors.go
  x/application/types/message_transfer_application_stake.go
  x/application/types/message_transfer_application_stake_test.go
  x/application/types/tx.pb.go
Labels: application, on-chain, push-image, devnet, devnet-test-e2e

#815 [Testing] Fix non-idempotency in (and speed up) supplier staking tests
  config.yml
  e2e/tests/init_test.go
  e2e/tests/params_tx_test.go
  e2e/tests/params_types_test.go
  e2e/tests/parse_params_test.go
  e2e/tests/stake_supplier.feature
  e2e/tests/stake_supplier_steps_test.go
  e2e/tests/update_params.feature
  e2e/tests/update_params_test.go
  testutil/keeper/session.go
  tools/scripts/params/shared_all.json
  x/proof/module/helpers_test.go
  x/proof/module/query_claim_test.go
  x/session/keeper/query_get_session_test.go
  x/session/keeper/session_hydrator_test.go
  x/shared/keeper/msg_server_update_param_test.go
  x/shared/supplier.go
  x/shared/types/params.go
  x/supplier/keeper/unbond_suppliers.go
Labels: testing, push-image, devnet, devnet-test-e2e

#806 [Docs] Add operations documentation about proof submission fee
  docusaurus/docs/operate/configs/relayminer_config.md
Labels: documentation, proof

#788 [Code Health] refactor: rename `ApplicationTransfer` msgs
  api/poktroll/application/tx.pulsar.go
  api/poktroll/application/tx_grpc.pb.go
  e2e/tests/stake_app_transfer.feature
  proto/poktroll/application/tx.proto
  x/application/keeper/msg_server_transfer_application_stake.go
  x/application/keeper/msg_server_transfer_application_stake_test.go
  x/application/module/autocli.go
  x/application/module/simulation.go
  x/application/simulation/transfer_application_stake.go
  x/application/types/codec.go
  x/application/types/message_transfer_application_stake.go
  x/application/types/message_transfer_application_stake_test.go
  x/application/types/tx.pb.go
  x/tokenomics/types/tx.pb.go
Labels: application, on-chain, code health

#817 [SessionManager] Skip claims creation if supplier operator balance is too low
  pkg/client/interface.go
  pkg/client/query/bankquerier.go
  pkg/client/query/errors.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  testutil/testclient/testqueryclients/bankquerier.go
Labels: relayminer, session, push-image, devnet, devnet-test-e2e, proof

#823 [SMST] feat: Use compact SMST proofs
  api/poktroll/proof/tx.pulsar.go
  api/poktroll/proof/types.pulsar.go
  pkg/client/interface.go
  pkg/relayer/interface.go
  pkg/relayer/session/sessiontree.go
  pkg/relayer/session/sessiontree_test.go
  proto/poktroll/proof/tx.proto
  proto/poktroll/proof/types.proto
  testutil/testtree/tree.go
  x/proof/keeper/proof.go
  x/proof/keeper/proof_validation.go
  x/proof/keeper/proof_validation_test.go
  x/proof/types/tx.pb.go
  x/proof/types/types.pb.go
Labels: off-chain, on-chain, push-image, devnet, devnet-test-e2e, smt, proof, consensus-breaking

#821 [Testing] refactor: E2E param test helpers
  e2e/tests/0_settlement.feature
  e2e/tests/params_tx_test.go
  e2e/tests/params_types_test.go
  e2e/tests/session.feature
  e2e/tests/session_steps_test.go
Labels: testing, push-image, devnet, devnet-test-e2e

#820 [Supplier] feat: add supplier un/stake events
  api/poktroll/supplier/event.pulsar.go
  e2e/tests/stake_supplier.feature
  go.mod
  proto/poktroll/supplier/event.proto
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier.go
  x/supplier/keeper/unbond_suppliers.go
  x/supplier/types/event.pb.go
Labels: supplier, testing, code health, push-image, devnet, devnet-test-e2e

#776 [Docs][Misc] Add iavl tree diff
  docusaurus/docs/develop/developer_guide/chain_halt_troubleshooting.md
  docusaurus/docs/develop/developer_guide/img/cyberchef_1.png
  docusaurus/docs/develop/developer_guide/img/cyberchef_2.png
  tools/iavl-tree-diff/README.md
  tools/iavl-tree-diff/go.mod
  tools/iavl-tree-diff/go.sum
  tools/iavl-tree-diff/main.go
Labels: documentation, tooling

#827 [Testing] refactor: integration app / feat: add `IntegrationAppSuite`
  tests/integration/tokenomics/relay_mining_difficulty_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  tests/integration/tokenomics/tokenomics_example_test.go
  testutil/events/attributes.go
  testutil/events/filter.go
  testutil/integration/app.go
  testutil/integration/options.go
  testutil/integration/suites/base.go
  testutil/integration/suites/base_test.go
  testutil/integration/suites/interface.go
  testutil/keeper/tokenomics.go
  testutil/sample/sample.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/token_logic_modules_test.go
Labels: testing

#826 [Testing] refractor: param update E2E tests as integration tests
  Makefile
  docusaurus/docs/develop/developer_guide/adding_params.md
  docusaurus/docs/develop/developer_guide/test_suites.md
  docusaurus/docs/protocol/governance/params.md
  docusaurus/docs/protocol/upgrades/module_params.md
  docusaurus/yarn.lock
  e2e/tests/stake_supplier_steps_test.go
  e2e/tests/update_params.feature
  tests/integration/params/update_param_test.go
  tests/integration/params/update_params_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  testutil/cases/cases.go
  testutil/integration/suites/authz.go
  testutil/integration/suites/param_configs.go
  testutil/integration/suites/update_params.go
  tools/scripts/docusaurus/generate_docs_params.go
  tools/scripts/docusaurus/params_template.md
Labels: testing, code health, push-image, devnet, devnet-test-e2e

#833 [Tooling] chore: re-organize params.mk targets
  makefiles/params.mk
  tools/scripts/params/shared_compute_units_to_tokens_multiplier.json
Labels: tooling

#842 [Docs] Update README(s)
  README.md
  docusaurus/docs/README.md
Labels: documentation

#808 [Gateway] chore: add `MsgUpdateParam` to gateway module
  api/poktroll/gateway/tx.pulsar.go
  api/poktroll/gateway/tx_grpc.pb.go
  proto/poktroll/gateway/tx.proto
  x/gateway/keeper/msg_server_update_param.go
  x/gateway/module/autocli.go
  x/gateway/module/simulation.go
  x/gateway/simulation/update_param.go
  x/gateway/types/codec.go
  x/gateway/types/message_update_param.go
  x/gateway/types/message_update_param_test.go
  x/gateway/types/tx.pb.go
Labels: gateway, governance, on-chain, consensus-breaking
