Repository pokt-network/poktroll, pull requests merged in 2024-12, with the labels that each got.

#930 [Tokenomics] feat: add `target_num_relays` param to service module
  api/poktroll/service/params.pulsar.go
  api/poktroll/service/tx.pulsar.go
  config.yml
  makefiles/params.mk
  proto/poktroll/service/params.proto
  proto/poktroll/service/tx.proto
  tests/integration/application/min_stake_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  testutil/integration/suites/param_configs.go
  testutil/keeper/tokenomics.go
  tools/scripts/params/service_all.json
  tools/scripts/params/service_target_num_relays.json
  x/application/types/message_update_param.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/proof_validation_test.go
  x/proof/types/expected_keepers.go
  x/service/keeper/msg_server_update_param.go
  x/service/keeper/msg_server_update_param_test.go
  x/service/keeper/msg_update_params_test.go
  x/service/keeper/params_test.go
  x/service/keeper/relay_mining_difficulty.go
  x/service/keeper/update_relay_mining_difficulty.go
  x/service/keeper/update_relay_mining_difficulty_test.go
  x/service/types/message_update_param.go
  x/service/types/message_update_param_test.go
  x/service/types/params.go
  x/service/types/params.pb.go
  x/service/types/tx.pb.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/types/expected_keepers.go
  x/tokenomics/types/message_update_param.go
Labels: service, governance, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#955 [Code Health] fix: gateway module gRPC status error returns
  x/gateway/keeper/msg_server_stake_gateway.go
  x/gateway/keeper/msg_server_unstake_gateway.go
  x/gateway/keeper/msg_server_unstake_gateway_test.go
  x/gateway/keeper/msg_update_params.go
  x/gateway/keeper/query_gateway.go
Labels: gateway, on-chain, code health, push-image, devnet, devnet-test-e2e, consensus-breaking

#956 [Code Health] fix: proof module gRPC status error returns
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/msg_update_params.go
  x/proof/keeper/query_claim.go
  x/proof/keeper/query_proof.go
Labels: on-chain, code health, push-image, devnet, devnet-test-e2e, proof, consensus-breaking

#959 [Code Health] fix: service module gRPC status error returns
  x/service/keeper/msg_server_add_service.go
  x/service/keeper/msg_update_params.go
  x/service/keeper/query_relay_mining_difficulty.go
  x/service/keeper/query_service.go
Labels: service, on-chain, code health, consensus-breaking

#960 [Code Health] fix: session module gRPC status return errors
  x/proof/keeper/session.go
  x/session/keeper/msg_update_params.go
  x/session/keeper/query_get_session.go
Labels: session, on-chain, code health, push-image, devnet, devnet-test-e2e, consensus-breaking

#961 [Code Health] fix: shared module gRPC return errors
  x/shared/keeper/msg_update_params.go
Labels: on-chain, code health, push-image, devnet, devnet-test-e2e, consensus-breaking

#954 [Code Health] fix: application module gRPC status error returns
  x/application/keeper/msg_server_delegate_to_gateway.go
  x/application/keeper/msg_server_delegate_to_gateway_test.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/keeper/msg_server_unstake_application.go
  x/application/keeper/msg_server_unstake_application_test.go
  x/application/keeper/msg_server_update_param.go
  x/application/keeper/msg_update_params.go
  x/application/keeper/query_application.go
Labels: application, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#963 [Code Health] fix: tokenomics module gRPC return errors
  x/tokenomics/keeper/msg_server_update_param.go
  x/tokenomics/keeper/msg_update_params.go
Labels: on-chain, code health, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#979 chore: add localnet_config option to disable hot-reloading
  Tiltfile
Labels: tooling

#948 [Supplier] refactor: `SupplierStakingFee` var usage to param usage
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
Labels: supplier, governance, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#978 [Bug, Tooling] fix: app/gateway/supplier stake/unstake make targets
  localnet/poktrolld/config/application1_stake_config.yaml
  localnet/poktrolld/config/application2_stake_config.yaml
  localnet/poktrolld/config/application3_stake_config.yaml
  localnet/poktrolld/config/gateway1_stake_config.yaml
  localnet/poktrolld/config/gateway2_stake_config.yaml
  localnet/poktrolld/config/gateway3_stake_config.yaml
  makefiles/suppliers.mk
Labels: bug, tooling

#951 feat: add global_inflation_per_claim param to tokenomics module
  api/poktroll/tokenomics/params.pulsar.go
  api/poktroll/tokenomics/tx.pulsar.go
  config.yml
  makefiles/params.mk
  proto/poktroll/tokenomics/params.proto
  proto/poktroll/tokenomics/tx.proto
  testutil/integration/suites/param_configs.go
  tools/scripts/params/tokenomics_all.json
  tools/scripts/params/tokenomics_dao_reward_address.json
  tools/scripts/params/tokenomics_global_inflation_per_claim.json
  x/tokenomics/keeper/msg_server_update_param.go
  x/tokenomics/keeper/msg_server_update_param_test.go
  x/tokenomics/keeper/msg_update_params_test.go
  x/tokenomics/keeper/params_test.go
  x/tokenomics/types/message_update_param.go
  x/tokenomics/types/message_update_param_test.go
  x/tokenomics/types/params.go
  x/tokenomics/types/params.pb.go
  x/tokenomics/types/tx.pb.go
Labels: governance, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#980 [Bug, Testing] fix: app transfer module-integration test
  tests/integration/application/application_transfer_test.go
  testutil/integration/suites/application.go
  testutil/integration/suites/gateway.go
Labels: application, testing

#964 [Docs] Add PATH gateway cheat sheet
  api/poktroll/service/tx.pulsar.go
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/gateway_cheatsheet.md
  docusaurus/docs/operate/user_guide/install.md
Labels: documentation, gateway

#957 [Application] Support filtering apps by delegatee gateway address
  api/poktroll/application/query.pulsar.go
  proto/poktroll/application/query.proto
  x/application/keeper/application_test.go
  x/application/keeper/query_application.go
  x/application/keeper/query_application_test.go
  x/application/types/errors.go
  x/application/types/query.pb.go
  x/application/types/query_validation.go
Labels: application, push-image, devnet, devnet-test-e2e

#981 [Docs] Full Node Documentation Update (#941 followup)
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
  docusaurus/docs/operate/quickstart/full_node_cheatsheet.md
  docusaurus/docs/operate/quickstart/gateway_cheatsheet.md
  docusaurus/docs/operate/quickstart/service_cheatsheet.md
  docusaurus/docs/operate/quickstart/validator_cheatsheet.md
  docusaurus/docs/operate/run_a_node/full_node_walkthrough.md
  docusaurus/docs/operate/run_a_node/gateway_walkthrough.md
  docusaurus/docs/operate/run_a_node/validator_walkthrough.md
  tools/installer/full-node.sh
Labels: documentation

#986 [Docs] How do I access my CometBFT endpoint externally?
  docusaurus/docs/operate/run_a_node/full_node_walkthrough.md
Labels: documentation

#971 [Code Health] Ensure supplier module msg responses are non-empty
  api/poktroll/supplier/tx.pulsar.go
  proto/poktroll/supplier/tx.proto
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/types/tx.pb.go
Labels: supplier, on-chain, code health, consensus-breaking

#972 [Code Health] Ensure gateway module msg responses are non-empty
  api/poktroll/gateway/tx.pulsar.go
  proto/poktroll/gateway/tx.proto
  x/gateway/keeper/msg_server_unstake_gateway.go
  x/gateway/keeper/msg_server_unstake_gateway_test.go
  x/gateway/types/tx.pb.go
Labels: gateway, on-chain, code health, consensus-breaking

#973 [Code Health] Ensure service module msg responses are non-empty
  api/poktroll/service/tx.pulsar.go
  proto/poktroll/service/tx.proto
  x/service/keeper/msg_server_add_service.go
  x/service/keeper/msg_server_add_service_test.go
  x/service/types/tx.pb.go
Labels: service, on-chain, code health, consensus-breaking

#975 [Code Health] Ensure tokenomics module msg responses are non-empty
  api/poktroll/application/query.pulsar.go
  api/poktroll/tokenomics/tx.pulsar.go
  proto/poktroll/tokenomics/tx.proto
  x/application/types/query.pb.go
  x/tokenomics/keeper/msg_update_params.go
  x/tokenomics/keeper/msg_update_params_test.go
  x/tokenomics/types/tx.pb.go
Labels: on-chain, code health, tokenomics, consensus-breaking

#974 [Code Health] Ensure application module msg responses are non-empty
  api/poktroll/application/tx.pulsar.go
  proto/poktroll/application/tx.proto
  x/application/keeper/msg_server_delegate_to_gateway_test.go
  x/application/keeper/msg_server_stake_application_test.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/keeper/msg_server_unstake_application.go
  x/application/keeper/msg_server_unstake_application_test.go
  x/application/types/tx.pb.go
Labels: application, on-chain, code health, consensus-breaking

#989 chore: fix some function names in comment
  x/application/types/message_update_param.go
  x/service/types/relay.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
Labels: code health

#946 [Supplier] Allow Supplier to downstake
  docusaurus/docs/operate/configs/supplier_staking_config.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
Labels: supplier, on-chain, push-image, devnet, devnet-test-e2e

#879 [LocalNet] Replace `AppGateServer` with `Path` in `LocalNet`
  .env.dev
  .github/workflows-helpers/run-e2e-test-job-template.yaml
  Makefile
  Tiltfile
  cmd/poktrolld/cmd/root.go
  e2e/tests/init_test.go
  e2e/tests/node.go
  e2e/tests/relay.feature
  go.mod
  go.sum
  load-testing/loadtest_manifest_localnet.yaml
  load-testing/loadtest_manifest_localnet_single_supplier.yaml
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
  localnet/grafana-dashboards/appgateserver.json
  localnet/kubernetes/config-path-1.yaml
  localnet/kubernetes/config-path-2.yaml
  localnet/kubernetes/config-path-3.yaml
  localnet/kubernetes/values-appgateserver.yaml
  localnet/kubernetes/values-gateway.yaml
  localnet/poktrolld/config/appgate_server_config.yaml
  localnet/poktrolld/config/appgate_server_config_example.yaml
  localnet/poktrolld/config/appgate_server_config_localnet_vscode.yaml
  makefiles/localnet.mk
  makefiles/query.mk
  makefiles/relay.mk
  makefiles/tests.mk
  pkg/appgateserver/cmd/cmd.go
  pkg/appgateserver/config/appgate_configs_reader.go
  pkg/appgateserver/config/appgate_configs_reader_test.go
  pkg/appgateserver/config/errors.go
  pkg/appgateserver/endpoint_selector.go
  pkg/appgateserver/error_reply.go
  pkg/appgateserver/errors.go
  pkg/appgateserver/metrics.go
  pkg/appgateserver/options.go
  pkg/appgateserver/sdkadapter/block_client.go
  pkg/appgateserver/sdkadapter/sdk.go
  pkg/appgateserver/sdkadapter/signer.go
  pkg/appgateserver/server.go
  pkg/appgateserver/synchronous.go
  pkg/client/events/replay_client.go
  pkg/deps/config/suppliers.go
  pkg/relayer/config/relayminer_configs_reader.go
  pkg/relayer/proxy/synchronous.go
Labels: gateway, infra, push-image, devnet, devnet-test-e2e, loadtest, observability

#945 [Gateway Docs] Replace References to `AppGateServer` with `PATH`
  docusaurus/docs/develop/contributing/observability.md
  docusaurus/docs/develop/developer_guide/performance_troubleshooting.md
  docusaurus/docs/develop/developer_guide/quickstart.md
  docusaurus/docs/develop/packages/appgate_server.md
  docusaurus/docs/operate/configs/appgate_server_config.md
  docusaurus/docs/operate/infrastructure/devnet.md
  docusaurus/docs/operate/infrastructure/localnet.md
  docusaurus/docs/operate/infrastructure/private_testnet.md
  docusaurus/docs/operate/infrastructure/repositories.md
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
  docusaurus/docs/operate/run_a_node/gateway_walkthrough.md
  docusaurus/docs/operate/run_a_node/hardware_requirements.md
  docusaurus/docs/operate/run_a_node/supplier_walkthrough.md
  docusaurus/docs/operate/testing/load_testing_devnet.md
  docusaurus/docs/operate/testing/load_testing_plan_1.md
  docusaurus/docs/protocol/actors/actors.md
  docusaurus/docs/protocol/actors/appgate_server.md
  docusaurus/docs/protocol/actors/path_gateway.md
  docusaurus/docs/protocol/actors/relay_miner.md
Labels: documentation, gateway

#982 [UPDATE BASE BEFORE MERGING][Docs] Update docker walkthrough & cheatsheet
  docusaurus/docs/operate/quickstart/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
  docusaurus/docs/operate/quickstart/gateway_cheatsheet.md
Labels: documentation

#1007 fix: Nil session tree logger
  api/poktroll/application/tx.pulsar.go
  pkg/relayer/session/session.go
  pkg/relayer/session/sessiontree.go
  testutil/testtree/tree.go
  x/proof/keeper/proof_validation_test.go
Labels: bug, relayminer, push-image, devnet, devnet-test-e2e

#1004 Updated cheat sheat docs with an example after installation
  docusaurus/docs/operate/quickstart/full_node_cheatsheet.md
Labels: devex

#1008 fix: E2E tests - RPC URL path
  e2e/tests/node.go
Labels: testing, push-image, devnet, devnet-test-e2e

#993 [Relayminer, Bug] fix: sessiontree logger never initialized
  pkg/relayer/session/sessiontree.go
Labels: bug, relayminer, off-chain

#947 [Docs] Beta TestNet - Supplier Cheatsheet
  docusaurus/docs/operate/quickstart/gateway_cheatsheet.md
  docusaurus/docs/operate/quickstart/supplier_cheatsheet.md
Labels: documentation
