Repository pokt-network/poktroll, pull requests merged in 2024-01, with the labels that each got.

#297 [SMT] Update to use v0.8.2
  go.mod
  go.sum
  pkg/client/supplier/client_test.go
  pkg/relayer/interface.go
  pkg/relayer/session/sessiontree.go
Labels: off-chain

#284 [Configs] Add foundation for RelayMiner operation configs.
  localnet/kubernetes/values-appgateserver.yaml
  localnet/kubernetes/values-relayminer.yaml
  localnet/poktrolld/config/appgate_server_config.yaml
  localnet/poktrolld/config/appgate_server_config_example.yaml
  localnet/poktrolld/config/relayminer_config.yaml
  localnet/poktrolld/config/relayminer_config_full_example.yaml
  pkg/appgateserver/cmd/cmd.go
  pkg/appgateserver/config/appgate_configs_reader.go
  pkg/appgateserver/config/appgate_configs_reader_test.go
  pkg/appgateserver/config/errors.go
  pkg/client/query/supplierquerier.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/config/errors.go
  pkg/relayer/config/pocket_node_config_hydrator.go
  pkg/relayer/config/proxies_config_hydrator.go
  pkg/relayer/config/proxy_http_config_parser.go
  pkg/relayer/config/relayminer_configs_reader.go
  pkg/relayer/config/relayminer_configs_reader_test.go
  pkg/relayer/config/supplier_hydrator.go
  pkg/relayer/config/suppliers_config_hydrator.go
  pkg/relayer/config/types.go
  pkg/relayer/interface.go
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/options.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/proxy/synchronous.go
  testutil/testproxy/relayerproxy.go
Labels: relayminer, proxy, push-image, tooling, devnet, devnet-test-e2e

#288 [docs] Relayminer config documentation
  docusaurus/docs/configs/_category_.json
  docusaurus/docs/configs/relayminer_config.md
Labels: documentation, relayminer

#298 [Bug] Fix observable error logging
  .gitignore
  docs/static/openapi.yml
  docusaurus/docs/infrastructure/localnet.md
  go.mod
  pkg/observable/logging/logging.go
  pkg/relayer/session/claim.go
Labels: bug, documentation

#286 [Docs] Load Test #1 - Plan
  docusaurus/docs/infrastructure/testing/_category_.json
  docusaurus/docs/infrastructure/testing/load_test_1.md
Labels: documentation, infra, loadtest

#299 [Configs] feat: Add stake amount in the app stake config
  .github/workflows-helpers/run-e2e-test-job-template.yaml
  Makefile
  localnet/poktrolld/config/application1_stake_config.yaml
  localnet/poktrolld/config/application2_stake_config.yaml
  localnet/poktrolld/config/application3_stake_config.yaml
  x/application/client/cli/tx_stake_application.go
  x/application/client/cli/tx_stake_application_test.go
  x/application/client/config/application_configs_reader.go
  x/application/client/config/application_configs_reader_test.go
  x/application/client/config/errors.go
Labels: application, code health, push-image, devnet, devnet-test-e2e

#300 [Configs] feat: Add stake amount to supplier staking config
  .github/workflows-helpers/run-e2e-test-job-template.yaml
  Makefile
  localnet/poktrolld/config/supplier1_stake_config.yaml
  localnet/poktrolld/config/supplier2_stake_config.yaml
  localnet/poktrolld/config/supplier3_stake_config.yaml
  x/supplier/client/cli/tx_stake_supplier.go
  x/supplier/client/cli/tx_stake_supplier_test.go
  x/supplier/client/config/errors.go
  x/supplier/client/config/supplier_configs_reader.go
  x/supplier/client/config/supplier_configs_reader_test.go
Labels: supplier, push-image, tooling, devnet, devnet-test-e2e

#305 [SMT] Path Bump to v0.8.2
  go.mod
  go.sum
Labels: bug

#239 [RingCache] Invalidate Cache On Redelegation Events
  go.mod
  pkg/appgateserver/cmd/cmd.go
  pkg/client/block/client_integration_test.go
  pkg/client/delegation/client.go
  pkg/client/delegation/client_test.go
  pkg/client/delegation/redelegation.go
  pkg/client/events/replay_client.go
  pkg/client/events/replay_client_integration_test.go
  pkg/client/query/accquerier.go
  pkg/client/query/errors.go
  pkg/crypto/interface.go
  pkg/crypto/rings/cache.go
  pkg/crypto/rings/cache_test.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/proxy/proxy.go
  pkg/sdk/deps_builder.go
  pkg/sdk/sdk.go
  proto/pocket/application/event.proto
  testutil/testclient/testdelegation/client.go
  testutil/testcrypto/rings/cache.go
  testutil/testproxy/relayerproxy.go
  x/application/keeper/msg_server_delegate_to_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
Labels: off-chain, push-image, devnet, devnet-test-e2e, crypto

#302 [Configs] feat: Add staking config parser of gateway staking
  Makefile
  e2e/tests/init_test.go
  localnet/poktrolld/config/gateway1_stake_config.yaml
  localnet/poktrolld/config/gateway2_stake_config.yaml
  localnet/poktrolld/config/gateway3_stake_config.yaml
  x/gateway/client/cli/tx_stake_gateway.go
  x/gateway/client/cli/tx_stake_gateway_test.go
  x/gateway/client/config/errors.go
  x/gateway/client/config/gateway_config_reader.go
  x/gateway/client/config/gateway_config_reader_test.go
Labels: gateway, push-image, tooling, devnet, devnet-test-e2e

#263 [Supplier] refactor: claim & proof protobufs +
  proto/pocket/supplier/claim.proto
  proto/pocket/supplier/proof.proto
  proto/pocket/supplier/query.proto
  x/supplier/client/cli/helpers_test.go
  x/supplier/client/cli/query_claim.go
  x/supplier/client/cli/query_claim_test.go
  x/supplier/keeper/claim.go
  x/supplier/keeper/claim_test.go
  x/supplier/keeper/msg_server_create_claim.go
  x/supplier/keeper/msg_server_create_claim_test.go
  x/supplier/keeper/msg_server_submit_proof.go
  x/supplier/keeper/proof.go
  x/supplier/keeper/proof_test.go
  x/supplier/keeper/query_claim_test.go
  x/supplier/keeper/query_proof_test.go
  x/supplier/types/query_validation.go
Labels: supplier, on-chain, code health, push-image, devnet, devnet-test-e2e

#264 [Supplier] refactor: supplier module keys
  x/supplier/keeper/claim.go
  x/supplier/types/key_claim.go
  x/supplier/types/keys.go
Labels: supplier, on-chain, code health

#265 [Supplier] refactor: supplier module errors
  x/supplier/client/cli/query_claim_test.go
  x/supplier/keeper/query_claim.go
  x/supplier/keeper/query_claim_test.go
  x/supplier/types/errors.go
  x/supplier/types/query_validation.go
Labels: supplier, on-chain, code health

#289 [Testing, Tooling] chore: in-memory network interface & config types
  testutil/network/config.go
  testutil/network/interface.go
  testutil/network/types.go
  x/session/keeper/query_get_session.go
  x/session/keeper/session_hydrator.go
Labels: testing, tooling

#311 feat: update SMT to v0.9.2
  go.mod
  go.sum
Labels: enhancement

#312 [Service] Scaffold the AddService command and nothing else
  docs/static/openapi.yml
  go.mod
  proto/pocket/service/tx.proto
  x/service/client/cli/tx.go
  x/service/client/cli/tx_add_service.go
  x/service/keeper/msg_server_add_service.go
  x/service/keeper/msg_server_test.go
  x/service/module_simulation.go
  x/service/simulation/add_service.go
  x/service/types/codec.go
  x/service/types/message_add_service.go
  x/service/types/message_add_service_test.go
Labels: service, on-chain

#314 [LocalNet] Update Kubernetes DNS Endpoint for secret-update-sidecar
  localnet/kubernetes/celestia-rollkit.yaml
Labels: bug, infra

#277 [LocalNet] Add sequencer block persistence
  .github/label-actions.yml
  Tiltfile
  cmd/signals/on_exit.go
  docs/static/openapi.yml
  localnet/kubernetes/sequencer-volume.yaml
  localnet/kubernetes/values-sequencer.yaml
Labels: infra, push-image, devnet, devnet-test-e2e

#318 [Config, Docs] Add supplier staking config documentation
  docusaurus/docs/configs/supplier_staking_config.md
Labels: documentation

#317 [Docs] Add AppGateServer config documentation
  docusaurus/docs/configs/appgate_server_config.md
  pkg/appgateserver/server.go
Labels: documentation, off-chain

#321 [Config, Docs] Add gateway staking config documentation
  docusaurus/docs/configs/gateway_staking_config.md
Labels: documentation

#320 [Config, Docs] Add application staking config documentation
  docusaurus/docs/configs/app_staking_config.md
Labels: documentation

#278 [Testing] Add load-testing foundation
  .gitignore
  Makefile
  docs/static/openapi.yml
  docusaurus/docs/infrastructure/testing/load_testing.md
  docusaurus/docs/infrastructure/testing/load_testing_plan.md
  load-testing/README.md
  load-testing/config/index.js
  load-testing/modules/sendJsonRPCRequest.js
  load-testing/scenarios/requestBlockNumberEtherium.js
  load-testing/tests/anvil.js
  load-testing/tests/appGateServerEtherium.js
  summary.html
Labels: testing, infra

#327 [Supplier] refactor: proof store indices (2)
  proto/pocket/supplier/query.proto
  x/supplier/client/cli/flags.go
  x/supplier/client/cli/query_claim.go
  x/supplier/client/cli/query_proof.go
  x/supplier/client/cli/tx_submit_proof.go
  x/supplier/keeper/msg_server_create_claim.go
  x/supplier/keeper/proof.go
  x/supplier/keeper/proof_test.go
  x/supplier/keeper/query_proof.go
  x/supplier/keeper/query_proof_test.go
  x/supplier/keeper/session.go
  x/supplier/types/key_proof.go
  x/supplier/types/query_validation.go
Labels: supplier, on-chain, push-image, devnet, devnet-test-e2e

#316 [Service] Implement AddService with extensive tests
  .gitignore
  docs/static/openapi.yml
  proto/pocket/service/genesis.proto
  proto/pocket/service/query.proto
  proto/pocket/service/relay.proto
  proto/pocket/service/tx.proto
  x/service/client/cli/tx_add_service.go
  x/service/client/cli/tx_add_service_test.go
  x/service/genesis.go
  x/service/keeper/msg_server_add_service.go
  x/service/keeper/msg_server_add_service_test.go
  x/service/keeper/service.go
  x/service/keeper/service_test.go
  x/service/simulation/add_service.go
  x/service/types/errors.go
  x/service/types/genesis.go
  x/service/types/genesis_test.go
  x/service/types/key_service.go
  x/service/types/keys.go
  x/service/types/message_add_service.go
  x/service/types/message_add_service_test.go
Labels: service, on-chain, push-image, devnet, devnet-test-e2e

#338 [Service] NIT followups to `AddService` in #316
  go.mod
  pkg/relayer/proxy/relay_verifier.go
  x/service/client/cli/tx_add_service.go
  x/service/client/cli/tx_add_service_test.go
  x/service/keeper/service_test.go
  x/service/simulation/add_service.go
  x/service/types/genesis_test.go
  x/service/types/message_add_service_test.go
  x/shared/helpers/service_test.go
Labels: documentation, on-chain, code health, push-image, devnet, devnet-test-e2e

#330 [Off-chain] Simplify `TxClient` with `EventsQueryClient`
  pkg/client/block/block.go
  pkg/client/block/client.go
  pkg/client/delegation/client.go
  pkg/client/events/replay_client.go
  pkg/client/events/replay_client_example_test.go
  pkg/client/events/replay_client_integration_test.go
  pkg/client/interface.go
  pkg/client/tx/client.go
  pkg/client/tx/client_test.go
  pkg/observable/channel/replay.go
  testutil/testclient/testeventsquery/client.go
Labels: off-chain, code health, push-image, devnet, devnet-test-e2e

#341 [Tooling] Act helpers to run github workflows locally
  Makefile
Labels: tooling

#287 [Tokenomics] Post-scaffold cleanup & parameter updates foundation
  Makefile
  app/app.go
  cmd/signals/on_exit.go
  config.yml
  docs/static/openapi.yml
  docusaurus/docs/configs/app_staking_config.md
  docusaurus/docs/configs/appgate_server_config.md
  docusaurus/docs/configs/gateway_staking_config.md
  docusaurus/docs/configs/supplier_staking_config.md
  go.mod
  go.sum
  proto/pocket/application/params.proto
  proto/pocket/supplier/params.proto
  proto/pocket/tokenomics/genesis.proto
  proto/pocket/tokenomics/params.proto
  proto/pocket/tokenomics/query.proto
  proto/pocket/tokenomics/tx.proto
  proto/poktroll/tokenomics/params.proto
  proto/poktroll/tokenomics/tx.proto
  testutil/keeper/tokenomics.go
  testutil/network/network.go
  testutil/tokenomics/mocks/mocks.go
  x/application/client/config/application_configs_reader_test.go
  x/supplier/client/cli/query_supplier_test.go
  x/tokenomics/client/cli/helpers_test.go
  x/tokenomics/client/cli/tx.go
  x/tokenomics/client/cli/tx_update_params.go
  x/tokenomics/client/cli/tx_update_params_test.go
  x/tokenomics/genesis_test.go
  x/tokenomics/keeper/keeper.go
  x/tokenomics/keeper/msg_server_test.go
  x/tokenomics/keeper/msg_server_update_params.go
  x/tokenomics/keeper/msg_server_update_params_test.go
  x/tokenomics/keeper/params.go
  x/tokenomics/keeper/params_test.go
  x/tokenomics/keeper/query_params_test.go
  x/tokenomics/keeper/settle_session_accounting.go
  x/tokenomics/module.go
  x/tokenomics/module_simulation.go
  x/tokenomics/simulation/helpers.go
  x/tokenomics/simulation/update_params.go
  x/tokenomics/types/codec.go
  x/tokenomics/types/errors.go
  x/tokenomics/types/expected_keepers.go
  x/tokenomics/types/genesis_test.go
  x/tokenomics/types/message_update_params.go
  x/tokenomics/types/message_update_params_test.go
  x/tokenomics/types/params.go
Labels: protocol, push-image, devnet, devnet-test-e2e, tokenomics

#337 [Service] Add `AddServiceFee` enforce and deduct it during the `AddService` command
  Makefile
  app/app.go
  config.yml
  docs/static/openapi.yml
  proto/pocket/service/params.proto
  testutil/keeper/service.go
  testutil/service/mocks/mocks.go
  x/service/genesis_test.go
  x/service/keeper/keeper.go
  x/service/keeper/msg_server_add_service.go
  x/service/keeper/msg_server_add_service_test.go
  x/service/types/errors.go
  x/service/types/expected_keepers.go
  x/service/types/genesis.go
  x/service/types/genesis_test.go
  x/service/types/message_add_service.go
  x/service/types/params.go
Labels: service, on-chain, push-image, devnet, devnet-test-e2e

#345 Fix upload-pages-artifact.yml
  .github/workflows/upload-pages-artifact.yml
Labels: bug

#346 Update upload-pages-artifact.yml
  .github/workflows/upload-pages-artifact.yml
Labels: bug

#326 feat: Implement session rollover logic
  e2e/tests/session.feature
  pkg/relayer/interface.go
  pkg/relayer/proxy/relay_verifier.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/errors.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  pkg/relayer/session/sessiontree.go
  testutil/testclient/testqueryclients/sessionquerier.go
  testutil/testproxy/relayerproxy.go
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
Labels: session, push-image, devnet, devnet-test-e2e

#292 [Observability] Add prometheus metrics
  Tiltfile
  docs/static/openapi.yml
  docusaurus/docs/configs/appgate_server_config.md
  docusaurus/docs/configs/relayminer_config.md
  docusaurus/docs/contributing/observability.md
  go.mod
  go.sum
  localnet/kubernetes/values-appgateserver.yaml
  localnet/kubernetes/values-relayminer.yaml
  localnet/poktrolld/config/appgate_server_config.yaml
  localnet/poktrolld/config/appgate_server_config_example.yaml
  localnet/poktrolld/config/relayminer_config.yaml
  localnet/poktrolld/config/relayminer_config_full_example.yaml
  pkg/appgateserver/cmd/cmd.go
  pkg/appgateserver/config/appgate_configs_reader.go
  pkg/appgateserver/error_reply.go
  pkg/appgateserver/metrics.go
  pkg/appgateserver/server.go
  pkg/appgateserver/synchronous.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/config/relayminer_configs_reader.go
  pkg/relayer/config/types.go
  pkg/relayer/proxy/error_reply.go
  pkg/relayer/proxy/metrics.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/proxy/synchronous.go
  pkg/relayer/relayminer.go
  pkg/relayer/session/session.go
Labels: push-image, devnet, devnet-test-e2e

#349 [Documentation] Add POKTRollSDK documentation
  docusaurus/docs/packages/pkg/sdk/_category_.json
  docusaurus/docs/packages/pkg/sdk/sdk.md
  docusaurus/package-lock.json
  docusaurus/yarn.lock
  go.mod
Labels: documentation, sdk

#332 [Session, Test] Session rollover test
  pkg/relayer/proxy/proxy_test.go
  testutil/testproxy/relayerproxy.go
Labels: testing, session, push-image, devnet, devnet-test-e2e

#355 [Bug] Update error_reply.go
  pkg/appgateserver/error_reply.go
Labels: bug, push-image, devnet, devnet-test-e2e
