Repository pokt-network/poktroll, pull requests merged in 2025-01, with the labels that each got.

#1018 [RelayMiner] Use gas for claim and proof txs
  e2e/tests/node.go
  e2e/tests/session_steps_test.go
  makefiles/relay.mk
  pkg/client/interface.go
  pkg/client/tx/client.go
  pkg/client/tx/context.go
  pkg/client/tx/options.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  testutil/testclient/testtx/context.go
Labels: bug, relayminer, push-image, devnet, devnet-test-e2e

#1002 [LoadTest] Revamp load test suite
  Tiltfile
  load-testing/config/load_test_manifest_reader.go
  load-testing/loadtest_manifest_example.yaml
  load-testing/loadtest_manifest_localnet.yaml
  load-testing/loadtest_manifest_localnet_single_supplier.yaml
  load-testing/tests/relays_stress.feature
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_single_supplier.feature
  load-testing/tests/relays_stress_test.go
  makefiles/tests.mk
  pkg/client/interface.go
  pkg/client/query/appquerier.go
  testutil/delays/waitall.go
  testutil/events/filter.go
  testutil/keeper/tokenomics.go
  x/proof/types/application_query_client.go
  x/proof/types/expected_keepers.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/types/expected_keepers.go
Labels: push-image, devnet, devnet-test-e2e, loadtest

#1027 [RelayMiner] Allow big transactions simulation
  .github/workflows-helpers/run-e2e-test-job-template.yaml
  config.yml
  pkg/client/tx/context.go
Labels: relayminer, push-image, devnet, devnet-test-e2e, scalability

#1026 [RelayMiner] Fix non deleted smt when funds are insufficient to submit C&P
  Tiltfile
  pkg/relayer/session/claim.go
  pkg/relayer/session/session_test.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#1028 [CLI] Filter Suppliers by ServiceID
  .github/workflows-helpers/run-e2e-test-job-template.yaml
  api/poktroll/application/types.pulsar.go
  api/poktroll/shared/service.pulsar.go
  api/poktroll/shared/supplier.pulsar.go
  api/poktroll/supplier/query.pulsar.go
  config.yml
  docusaurus/docs/README.md
  docusaurus/docs/develop/contributing/code_review_guidelines.md
  docusaurus/docs/develop/developer_guide/walkthrough.md
  docusaurus/docs/operate/configs/supplier_staking_config.md
  docusaurus/docs/operate/quickstart/docker_compose_walkthrough.md
  docusaurus/docs/operate/quickstart/gateway_cheatsheet.md
  docusaurus/docs/operate/quickstart/service_cheatsheet.md
  docusaurus/docs/operate/quickstart/supplier_cheatsheet.md
  docusaurus/docs/operate/run_a_node/full_node_walkthrough.md
  docusaurus/docs/operate/user_guide/check-balance.md
  docusaurus/docs/operate/user_guide/create-new-wallet.md
  docusaurus/docs/operate/user_guide/poktrolld_cli.md
  docusaurus/docs/operate/user_guide/recover-with-mnemonic.md
  docusaurus/docs/operate/user_guide/send-tokens.md
  e2e/tests/init_test.go
  e2e/tests/node.go
  e2e/tests/stake_supplier.feature
  localnet/poktrolld/config/config.toml
  localnet/poktrolld/config/supplier1_stake_config.yaml
  localnet/poktrolld/config/supplier_stake_config_example.yaml
  makefiles/suppliers.mk
  makefiles/testnet.mk
  proto/poktroll/application/types.proto
  proto/poktroll/shared/service.proto
  proto/poktroll/shared/supplier.proto
  proto/poktroll/supplier/query.proto
  testutil/integration/app.go
  testutil/keeper/tokenomics.go
  x/application/types/types.pb.go
  x/proof/keeper/query_proof.go
  x/proof/types/query_validation.go
  x/service/keeper/query_service.go
  x/service/keeper/query_service_test.go
  x/shared/types/service.pb.go
  x/shared/types/service_configs.go
  x/shared/types/supplier.pb.go
  x/supplier/config/supplier_configs_reader.go
  x/supplier/config/supplier_configs_reader_test.go
  x/supplier/keeper/query_supplier.go
  x/supplier/keeper/query_supplier_test.go
  x/supplier/keeper/supplier_test.go
  x/supplier/module/autocli.go
  x/supplier/module/flags.go
  x/supplier/module/query.go
  x/supplier/module/query_supplier.go
  x/supplier/module/query_supplier_test.go
  x/supplier/types/errors.go
  x/supplier/types/query.pb.go
  x/supplier/types/query_validation.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/token_logic_module/distribution.go
Labels: on-chain, push-image, tooling, devnet, devnet-test-e2e

#1041 [Workflows] Update GitHub actions from v3 to v4
  .github/workflows/main-build.yml
  .github/workflows/release-artifacts.yml
  .github/workflows/run-tests.yml
  .github/workflows/upload-pages-artifact.yml
Labels: bug

#837 [Docs] upgrade/chain halt recovery
  Dockerfile.release
  app/upgrades/historical.go
  docusaurus/docs/develop/developer_guide/chain_halt_troubleshooting.md
  docusaurus/docs/develop/developer_guide/recovery_from_chain_halt.md
  docusaurus/docs/protocol/upgrades/contigency_plans.md
  docusaurus/docs/protocol/upgrades/release_process.md
  docusaurus/docs/protocol/upgrades/upgrade_procedure.md
  makefiles/localnet.mk
  tools/scripts/upgrades/authz_cancel_upgrade_tx.json
  tools/scripts/upgrades/upgrade_tx_v0.0.9.json
Labels: documentation, push-image

#1040 [Off-chain] fix: duplicate log fields
  x/tokenomics/keeper/settle_pending_claims.go
Labels: bug, off-chain

#967 [Upgrade] Alpha TestNet v0.0.11
  app/upgrades.go
  app/upgrades/v0.0.11.go
  cmd/poktrolld/cmd/config.go
  telemetry/defaults.go
  telemetry/telemetry.go
Labels: code health

#1031 [Proof] Implement scalable proof validation
  api/poktroll/proof/event.pulsar.go
  api/poktroll/proof/types.pulsar.go
  pkg/crypto/protocol/hasher.go
  pkg/crypto/protocol/proof_path.go
  pkg/relayer/session/sessiontree.go
  pkg/relayer/session/sessiontree_test.go
  proto/poktroll/proof/event.proto
  proto/poktroll/proof/types.proto
  tests/integration/service/relay_mining_difficulty_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  testutil/testtree/tree.go
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/proof.go
  x/proof/keeper/proof_validation.go
  x/proof/keeper/proof_validation_test.go
  x/proof/keeper/validate_proofs.go
  x/proof/module/abci.go
  x/proof/module/module.go
  x/proof/types/event.pb.go
  x/proof/types/query.pb.go
  x/proof/types/types.pb.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/types/expected_keepers.go
Labels: push-image, devnet, devnet-test-e2e, scalability, proof

#1042 [Tokenomics] Reduce MinProofSubmissionFee
  x/proof/types/params.go
Labels: consensus-breaking
