Repository pokt-network/poktroll, pull requests merged in 2025-09, with the labels that each got.

#1569 [IBC] chore: localnet Axelar IBC
  Makefile
  Tiltfile
  app/upgrades.go
  localnet/dockerfiles/agoric-validator.dockerfile
  localnet/dockerfiles/axelar-validator.dockerfile
  localnet/dockerfiles/ibc-relayer.dockerfile
  localnet/ibc-relayer/README.md
  localnet/kubernetes/values-agoric.yaml
  localnet/kubernetes/values-axelar.yaml
  localnet/kubernetes/values-ibc-relayer-cli.yaml
  localnet/kubernetes/values-ibc-relayer-common.yaml
  localnet/kubernetes/values-ibc-relayer-config-agoriclocal.yaml
  localnet/kubernetes/values-ibc-relayer-config-axelar.yaml
  localnet/kubernetes/values-ibc-relayer-config-pocket.yaml
  localnet/kubernetes/values-ibc-relayer-daemon.yaml
  makefiles/ibc.mk
  makefiles/query.mk
  tiltfiles/defaults.Tiltfile
  tiltfiles/ibc.tilt
  tools/scripts/ibc-channels.sh
  tools/scripts/restart-ibc-setup.sh
Labels: infra, push-image, devnet, devnet-test-e2e, devex, ibc, localnet

#1753 [Tokenomics] feat: expand proposer reward distribution to all validators
  e2e/tests/0_tokenomics.feature
  e2e/tests/init_test.go
  e2e/tests/tokenomics_steps_test.go
  pkg/client/events/godoc.go
  pkg/relayer/proxy/http_utils.go
  proto/pocket/tokenomics/params.proto
  proto/pocket/tokenomics/types.proto
  tests/integration/tokenomics/token_logic_modules/multi_validator_test.go
  tests/integration/tokenomics/token_logic_modules/tlm_suite_test.go
  testutil/integration/app.go
  testutil/keeper/tokenomics.go
  x/tokenomics/keeper/params_test.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/token_logic_module/distribution.go
  x/tokenomics/token_logic_module/tlm_global_mint.go
  x/tokenomics/token_logic_module/tlm_relay_burn_equals_mint.go
  x/tokenomics/token_logic_module/types.go
  x/tokenomics/token_logic_module/validator_distribution_test.go
  x/tokenomics/types/expected_keepers.go
  x/tokenomics/types/params.pb.go
  x/tokenomics/types/types.pb.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#1765 fix: --network flag not working
  cmd/rpc.go
Labels: bug, off-chain

#1767 [Bug] fix: non-deterministic onchain iteration
  docusaurus/docs/4_develop/upgrades/2_release_procedure.md
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/token_logic_module/distribution_sorting.go
  x/tokenomics/token_logic_module/distribution_supplier.go
  x/tokenomics/token_logic_module/distribution_validator.go
  x/tokenomics/token_logic_module/settlement_results.go
  x/tokenomics/token_logic_module/tlm_global_mint.go
  x/tokenomics/token_logic_module/tlm_relay_burn_equals_mint.go
  x/tokenomics/token_logic_module/validator_distribution_determinism_test.go
Labels: bug, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#1773 [Recovery Allowlist} Add two addresses to the recovery allowlist (#1772)
  x/migration/recovery/recovery_allowlist.go
Labels: consensus-breaking

#1774 [Docs] Cancelling upgrades
  docusaurus/docs/4_develop/upgrades/3_mainnet_release_procedure.md
  tools/scripts/upgrades/cancel_upgrade_alpha.json
  tools/scripts/upgrades/cancel_upgrade_beta.json
  tools/scripts/upgrades/cancel_upgrade_main.json
  tools/scripts/upgrades/submit_upgrade.sh
  tools/scripts/upgrades/upgrade_tx_v0.1.29_main.json
Labels: documentation, upgrade

#1776 [v0.1.29] Post `v0.1.29` upgrade docs & tooling improvements
  .github/workflows/telegram-broadcast.yml
  .github/workflows/telegram-notify-release.yml
  app/upgrades/v0.1.16.go
  app/upgrades/v0.1.20.go
  docusaurus/docs/1_operate/1_cheat_sheets/4_supplier_cheatsheet.md
  docusaurus/docs/1_operate/1_cheat_sheets/5_gateway_cheatsheet.md
  docusaurus/docs/1_operate/5_playbooks/2_validator_rewards.md
  docusaurus/docs/2_explore/2_account_management/8_tx_gas_fees.md
  docusaurus/docs/2_explore/4_morse_migration/7_claiming_supplier.md
  docusaurus/docs/3_protocol/tokenomics/7_tokenomics_inspection_cheatsheet.md
  docusaurus/docs/4_develop/upgrades/3_mainnet_release_procedure.md
  docusaurus/docs/4_develop/upgrades/6_upgrade_list.md
  makefiles/telegram.mk
  pkg/relayer/cmd/cmd_relay.go
  tools/rc_helpers/queries.sh
  tools/scripts/upgrades/prepare_upgrade_release_notes.sh
  tools/scripts/upgrades/submit_upgrade.sh
Labels: documentation, tooling, upgrade

#1779 [RelayMiner] Add detailed timing measurements to relay command
  pkg/relayer/cmd/cmd_relay.go
Labels: relayminer, off-chain, devex

#1782 [Morse Recovery] - Ledger Recovery (Sept 18, 2025)
  x/migration/recovery/recovery_allowlist.go
Labels: consensus-breaking, migration

#1663 [Docs] 📂 leveldb stores
  docusaurus/docs/1_operate/4_faq/9_disk_utilization_faq.md
Labels: documentation, on-chain

#1757 refactor: use the built-in max/min to simplify the code
  pkg/cache/memory/historical_kvcache.go
Labels: duplicate, code health

#1764 [RelayMiner] Use a customized HTTP client in RelayMiner
  pkg/network/concurrency/buffer_pool.go
  pkg/network/concurrency/concurrency_limiter.go
  pkg/network/http/http_client.go
  pkg/relayer/proxy/http_server.go
  pkg/relayer/proxy/sync.go
Labels: relayminer, push-image, devnet, devnet-test-e2e

#1792 [Performance] Update `go_dleq` dependencies
  .github/workflows/main-build.yml
  Dockerfile.dev
  Dockerfile.release
  Makefile
  Tiltfile
  docusaurus/docs/4_develop/developer_guide/open_api.md
  go.mod
  go.sum
  makefiles/docs.mk
  makefiles/ignite.mk
  makefiles/release.mk
  pkg/crypto/rings/client.go
  pkg/crypto/rings/ring.go
  pkg/relayer/cmd/cmd_relay.go
  pkg/relayer/session/session_storage_mode_test.go
  pkg/relayer/session/sessiontree.go
  pkg/signer/ring_signer.go
  proto/Dockerfile.ignite
  testutil/testkeyring/keyring.go
  testutil/testproxy/relayerproxy.go
  tiltfiles/env.Tiltfile
  x/proof/keeper/proof_validation_test.go
Labels: push-image, devnet, devnet-test-e2e, consensus-breaking, performance

#1788 [RelayMiningDifficulty] Improve relay mining difficulty cache clearing strategy
  pkg/client/query/cache/options.go
  pkg/relayer/cmd/deps.go
  x/proof/keeper/msg_server_create_claim.go
  x/proof/keeper/proof_validation.go
  x/service/keeper/update_relay_mining_difficulty.go
Labels: bug, relayminer, service, push-image, devnet, devnet-test-e2e, consensus-breaking

#1770 [RelayMiner] Implement optimistic relaying and late validation with session tracking
  docusaurus/docs/1_operate/3_configs/4_relayminer_config.md
  localnet/pocketd/config/relayminer_config_full_example.yaml
  pkg/client/query/accquerier.go
  pkg/relayer/cmd/cmd_start.go
  pkg/relayer/config/relayminer_configs_reader.go
  pkg/relayer/config/servers_config_hydrator.go
  pkg/relayer/config/types.go
  pkg/relayer/metrics.go
  pkg/relayer/proxy/http_server.go
  pkg/relayer/proxy/sync.go
  pkg/retry/retry.go
Labels: relayminer, proxy, push-image, devnet, devnet-test-e2e, scalability

#1796 [Performance] Update `MainNet` builds with improved `crypto` dependencies
  .dockerignore
  .github/workflows/main-build.yml
  .github/workflows/release-artifacts.yml
  .gitignore
  .serena/memories/development_commands_and_workflows.md
  .serena/memories/suggested_shell_commands.md
  CLAUDE.md
  Dockerfile.dev
  Dockerfile.release
  Dockerfile.release.cgo
  Makefile
  docusaurus/docs/2_explore/2_account_management/1_pocketd_cli.md
  docusaurus/docs/4_develop/developer_guide/adding_params.md
  go.mod
  go.sum
  makefiles/ignite.mk
  makefiles/localnet.mk
  makefiles/release.mk
Labels: protocol, on-chain, push-image, devnet, devnet-test-e2e
