Repository pokt-network/poktroll, pull requests merged in 2025-03, with the labels that each got.

#1050 [RelayMiner] Implement relayminer query caching
  api/poktroll/migration/event.pulsar.go
  pkg/client/interface.go
  pkg/client/query/accquerier.go
  pkg/client/query/appquerier.go
  pkg/client/query/bankquerier.go
  pkg/client/query/cache/noop.go
  pkg/client/query/cache/options.go
  pkg/client/query/cache/paramscache.go
  pkg/client/query/proofquerier.go
  pkg/client/query/querycache_test.go
  pkg/client/query/servicequerier.go
  pkg/client/query/sessionquerier.go
  pkg/client/query/sharedquerier.go
  pkg/client/query/supplierquerier.go
  pkg/client/query/types.go
  pkg/client/query/types/context.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/session/session_test.go
  testutil/integration/suites/application.go
  testutil/testclient/testqueryclients/grpcserver.go
Labels: relayminer, push-image, devnet, devnet-test-e2e

#1059 [Morse->Shannon Migration] feat: implement claim Morse account
  Makefile
  api/poktroll/migration/event.pulsar.go
  api/poktroll/migration/tx.pulsar.go
  app/app_config.go
  cmd/poktrolld/cmd/migrate/migrate_test.go
  pkg/client/query/bankquerier.go
  proto/poktroll/migration/event.proto
  proto/poktroll/migration/tx.proto
  tests/integration/application/application_transfer_test.go
  tests/integration/migration/morse_account_import_and_claim_test.go
  testutil/integration/app.go
  testutil/integration/suites/application.go
  testutil/integration/suites/base.go
  testutil/integration/suites/base_test.go
  testutil/integration/suites/interface.go
  testutil/integration/suites/migration.go
  testutil/integration/suites/param_configs.go
  testutil/integration/suites/update_params.go
  testutil/keeper/migration.go
  testutil/keeper/tokenomics.go
  testutil/migration/mocks/mocks.go
  testutil/testcache/mocks.go
  testutil/testmigration/fixtures.go
  x/migration/keeper/keeper.go
  x/migration/keeper/morse_claimable_account.go
  x/migration/keeper/msg_server_claim_morse_account.go
  x/migration/keeper/msg_server_claim_morse_acount_test.go
  x/migration/keeper/msg_server_import_morse_claimable_accounts.go
  x/migration/keeper/msg_server_import_morse_claimable_accounts_test.go
  x/migration/module/module.go
  x/migration/types/errors.go
  x/migration/types/event.pb.go
  x/migration/types/expected_keepers.go
  x/migration/types/message_claim_morse_account.go
  x/migration/types/message_claim_morse_account_test.go
  x/migration/types/message_import_morse_claimable_accounts.go
  x/migration/types/message_import_morse_claimable_accounts_test.go
  x/migration/types/morse_claimable_account.go
  x/migration/types/tx.pb.go
  x/migration/types/types.go
  x/tokenomics/types/expected_keepers.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking, migration

#1076 [Morse->Shannon Migration] s/`QueryGetMorseClaimable(.+)`/`QueryMorseClaimable$1`/g
  api/poktroll/migration/query.pulsar.go
  api/poktroll/migration/query_grpc.pb.go
  proto/poktroll/migration/query.proto
  testutil/integration/suites/migration.go
  x/migration/keeper/query_morse_claimable_account.go
  x/migration/keeper/query_morse_claimable_account_test.go
  x/migration/types/query.pb.go
  x/migration/types/query.pb.gw.go
Labels: on-chain, code health, migration

#1079 [Morse->Shannon Migration] chore: add gateway, app & supplier keeper deps
  testutil/integration/app.go
  testutil/keeper/migration.go
  testutil/keeper/tokenomics.go
  x/migration/keeper/keeper.go
  x/migration/module/module.go
  x/migration/types/expected_keepers.go
Labels: on-chain, code health, migration

#1108 [Code Health] fix: support zero kvcache TTL
  pkg/cache/memory/config.go
  pkg/cache/memory/kvcache.go
  pkg/cache/memory/kvcache_test.go
  pkg/client/query/querycache_test.go
Labels: off-chain, code health, push-image, devnet, devnet-test-e2e

#1112 refactor: replace golang.org/x/exp with stdlib
  pkg/relayer/proxy/server_builder.go
Labels: code health

#1080 [Morse->Shannon Migration] scaffold `MsgClaimMorseApplication` message
  api/poktroll/application/types.pulsar.go
  api/poktroll/migration/tx.pulsar.go
  api/poktroll/migration/tx_grpc.pb.go
  proto/poktroll/migration/tx.proto
  testutil/integration/suites/base.go
  x/application/types/types.pb.go
  x/migration/keeper/msg_server_claim_morse_application.go
  x/migration/module/autocli.go
  x/migration/module/simulation.go
  x/migration/simulation/claim_morse_application.go
  x/migration/types/codec.go
  x/migration/types/message_claim_morse_application.go
  x/migration/types/message_claim_morse_application_test.go
  x/migration/types/tx.pb.go
Labels: on-chain, consensus-breaking, migration

#1091 [Morse->Shannon Migration] refactor: app staking logic as keeper methods
  x/application/keeper/msg_server_stake_application.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking, migration

#1082 [Morse->Shannon Migration] implement `MsgClaimMorseApplication` handler
  api/poktroll/application/types.pulsar.go
  api/poktroll/migration/event.pulsar.go
  api/poktroll/migration/tx.pulsar.go
  pkg/client/query/appquerier.go
  proto/poktroll/migration/event.proto
  proto/poktroll/migration/tx.proto
  tests/integration/migration/morse_claim_account_test.go
  tests/integration/migration/morse_claim_app_test.go
  tests/integration/migration/morse_import_test.go
  testutil/integration/suites/application.go
  testutil/integration/suites/migration.go
  testutil/testmigration/fixtures.go
  x/application/keeper/query_application.go
  x/application/keeper/query_application_test.go
  x/application/types/types.pb.go
  x/migration/keeper/msg_server_claim_morse_account_test.go
  x/migration/keeper/msg_server_claim_morse_application.go
  x/migration/keeper/msg_server_claim_morse_application_test.go
  x/migration/types/errors.go
  x/migration/types/event.pb.go
  x/migration/types/expected_keepers.go
  x/migration/types/message_claim_morse_application.go
  x/migration/types/message_claim_morse_application_test.go
  x/migration/types/message_import_morse_claimable_accounts.go
  x/migration/types/tx.pb.go
Labels: on-chain, consensus-breaking, migration

#1093 [Morse->Shannon Migration] refactor: supplier `msgServer` methods to `Keeper`
  x/supplier/keeper/msg_server_stake_supplier.go
Labels: on-chain, code health, push-image, devnet, devnet-test-e2e, consensus-breaking, migration

#1117 [Migration Module] refactor: remove unused gateway keeper dependency
  testutil/integration/app.go
  testutil/keeper/migration.go
  testutil/keeper/tokenomics.go
  x/migration/keeper/keeper.go
  x/migration/module/module.go
  x/migration/types/expected_keepers.go
Labels: consensus-breaking, migration

#1120 [Docs] Update titles for guides and deployments with approximate time & deprecation
  docusaurus/docs/operate/cheat_sheets/_category_.json
  docusaurus/docs/operate/cheat_sheets/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/cheat_sheets/full_node_cheatsheet.md
  docusaurus/docs/operate/cheat_sheets/gateway_cheatsheet.md
  docusaurus/docs/operate/cheat_sheets/service_cheatsheet.md
  docusaurus/docs/operate/cheat_sheets/supplier_cheatsheet.md
  docusaurus/docs/operate/cheat_sheets/validator_cheatsheet.md
  docusaurus/docs/operate/walkthroughs/_category_.json
  docusaurus/docs/operate/walkthroughs/docker_compose_walkthrough.md
  docusaurus/docs/operate/walkthroughs/full_node_docker.md
  docusaurus/docs/operate/walkthroughs/full_node_walkthrough.md
  docusaurus/docs/operate/walkthroughs/gateway_walkthrough.md
  docusaurus/docs/operate/walkthroughs/supplier_walkthrough.md
  docusaurus/docs/operate/walkthroughs/validator_walkthrough.md
Labels: documentation

#1095 [Morse->Shannon Migration] feat: implement `MsgClaimMorseSupplier` handler
  api/poktroll/migration/event.pulsar.go
  api/poktroll/migration/tx.pulsar.go
  pkg/client/interface.go
  pkg/client/query/servicequerier.go
  pkg/client/query/supplierquerier.go
  pkg/relayer/miner/miner_test.go
  proto/poktroll/migration/event.proto
  proto/poktroll/migration/tx.proto
  tests/integration/migration/morse_claim_supplier_test.go
  tests/integration/migration/morse_import_test.go
  testutil/integration/app.go
  testutil/integration/suites/application.go
  testutil/integration/suites/migration.go
  testutil/integration/suites/service.go
  testutil/integration/suites/supplier.go
  testutil/testmigration/fixtures.go
  x/migration/keeper/msg_server_claim_morse_application_test.go
  x/migration/keeper/msg_server_claim_morse_supplier.go
  x/migration/keeper/msg_server_claim_morse_supplier_test.go
  x/migration/simulation/claim_morse_supplier.go
  x/migration/types/errors.go
  x/migration/types/event.pb.go
  x/migration/types/expected_keepers.go
  x/migration/types/message_claim_morse_supplier.go
  x/migration/types/message_claim_morse_supplier_test.go
  x/migration/types/tx.pb.go
  x/supplier/keeper/query_supplier.go
  x/supplier/keeper/query_supplier_test.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking, migration

#1099 [E2E] Test websockets implementation
  docusaurus/docs/protocol/primitives/async_service_mining.md
  e2e/tests/init_test.go
  e2e/tests/relay.feature
  e2e/tests/session_steps_test.go
Labels: relayminer, testing, push-image, e2e_story, devnet, devnet-test-e2e

#1037 [RelayMiner]: add `proxy.Ping(...)` capability to test connectivity between relay servers and backend URLs
  Makefile
  Tiltfile
  docusaurus/docs/operate/configs/relayminer_config.md
  go.mod
  go.sum
  localnet/kubernetes/values-relayminer-1.yaml
  localnet/kubernetes/values-relayminer-2.yaml
  localnet/kubernetes/values-relayminer-3.yaml
  localnet/kubernetes/values-relayminer-common.yaml
  localnet/poktrolld/config/relayminer_config.yaml
  localnet/poktrolld/config/relayminer_config_full_example.yaml
  localnet/poktrolld/config/relayminer_config_localnet_vscode.yaml
  makefiles/ping.mk
  pkg/relayer/cmd/cmd.go
  pkg/relayer/config/relayminer_configs_reader.go
  pkg/relayer/config/types.go
  pkg/relayer/interface.go
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/http_server.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/relayminer.go
  pkg/relayer/relayminer_test.go
  testutil/testproxy/relayerproxy.go
  testutil/testrelayer/proxy.go
Labels: push-image, tooling, devnet, devnet-test-e2e, community, nice-to-have

#1125 [Review] Review of #1092 for Full Node Snapshots
  .gitignore
  .markdownlint.json
  CLAUDE.md
  docusaurus/docs/operate/cheat_sheets/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/cheat_sheets/full_node_cheatsheet.md
  docusaurus/docs/operate/cheat_sheets/gateway_cheatsheet.md
  docusaurus/docs/operate/cheat_sheets/service_cheatsheet.md
  docusaurus/docs/operate/cheat_sheets/supplier_cheatsheet.md
  docusaurus/docs/operate/configs/app_staking_config.md
  docusaurus/docs/operate/configs/gateway_staking_config.md
  docusaurus/docs/operate/configs/hardware_requirements.md
  docusaurus/docs/operate/configs/relayminer_config.md
  docusaurus/docs/operate/configs/supplier_staking_config.md
  docusaurus/docs/operate/walkthroughs/docker_compose_walkthrough.md
  docusaurus/docs/operate/walkthroughs/full_node_docker.md
  docusaurus/docs/operate/walkthroughs/full_node_walkthrough.md
  docusaurus/docs/operate/walkthroughs/gateway_walkthrough.md
  docusaurus/docs/operate/walkthroughs/supplier_walkthrough.md
  docusaurus/docs/tools/endpoints/shannon_rpc.md
  docusaurus/docs/tools/playbooks/_category_.json
  docusaurus/docs/tools/playbooks/vultr.md
  tools/scripts/snapshots/README.md
  tools/scripts/snapshots/create_snapshot.sh
Labels: documentation, infra

#1103 [Session,Supplier] Implement deterministic session suppliers
  api/poktroll/shared/supplier.pulsar.go
  api/poktroll/supplier/event.pulsar.go
  app/app_config.go
  config.yml
  e2e/tests/init_test.go
  localnet/poktrolld/config/supplier1_stake_config.yaml
  localnet/poktrolld/config/supplier2_stake_config.yaml
  localnet/poktrolld/config/supplier3_stake_config.yaml
  pkg/relayer/proxy/http_server.go
  proto/poktroll/shared/supplier.proto
  proto/poktroll/supplier/event.proto
  tests/integration/application/min_stake_test.go
  tests/integration/migration/morse_claim_supplier_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  tests/integration/tokenomics/token_logic_modules/tlm_suite_test.go
  testutil/integration/app.go
  testutil/keeper/proof.go
  testutil/keeper/session.go
  testutil/network/network.go
  x/migration/keeper/msg_server_claim_morse_supplier_test.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
  x/shared/types/session.go
  x/shared/types/supplier.go
  x/shared/types/supplier.pb.go
  x/supplier/keeper/activate_services.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier.go
  x/supplier/keeper/msg_server_unstake_supplier_test.go
  x/supplier/keeper/prune_supplier_service_config_history.go
  x/supplier/keeper/supplier.go
  x/supplier/keeper/unbond_suppliers.go
  x/supplier/module/abci.go
  x/supplier/types/event.pb.go
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
Labels: supplier, session, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#1113 [RelayMiner] Fix goroutine leak, remove ring cache and redelegation
  load-testing/tests/relays_stress_helpers_test.go
  pkg/client/delegation/client.go
  pkg/client/delegation/client_integration_test.go
  pkg/client/delegation/client_test.go
  pkg/client/delegation/godoc.go
  pkg/client/delegation/options.go
  pkg/client/delegation/redelegation.go
  pkg/client/interface.go
  pkg/crypto/godoc.go
  pkg/crypto/interface.go
  pkg/crypto/rings/cache.go
  pkg/crypto/rings/cache_test.go
  pkg/crypto/rings/errors.go
  pkg/crypto/rings/godoc.go
  pkg/deps/config/suppliers.go
  pkg/observable/channel/replay.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/interface.go
  pkg/relayer/proxy/http_server.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/sync.go
  pkg/relayer/relay_authenticator/relay_authenticator.go
  pkg/relayer/relay_authenticator/relay_authenticator_test.go
  pkg/relayer/relay_authenticator/relay_verifier.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  pkg/relayer/session/sessiontree.go
  testutil/testclient/testdelegation/client.go
  testutil/testclient/testdelegation/godoc.go
  testutil/testcrypto/rings/cache.go
  testutil/testcrypto/rings/godoc.go
  testutil/testproxy/relayerproxy.go
  testutil/testtree/tree.go
Labels: bug, relayminer, off-chain, code health, push-image, devnet, devnet-test-e2e

#1128 [Container image] Enhance Docker Image Build Pipeline with Multiple Trigger Options
  .github/workflows/release-artifacts.yml
Labels: infra

#1129 [Tokenomics] Duplicate unbonding of slashed suppliers
  x/tokenomics/keeper/keeper_settle_pending_claims_test.go
  x/tokenomics/keeper/settle_pending_claims.go
Labels: bug, supplier, on-chain, push-image, devnet, devnet-test-e2e, tokenomics

#1134 [DOCS] Add a video walkthrough for the Fullnode Cheatsheet
  .markdownlint.json
  docusaurus/docs/operate/cheat_sheets/full_node_cheatsheet.md
Labels: documentation, enhancement, nice-to-have, devex

#1131 [Docs Review] Review of #1115 - First version of migration docs
  docusaurus/docs/operate/morse_migration/claiming.md
  docusaurus/docs/operate/morse_migration/data_structures.md
  docusaurus/docs/operate/morse_migration/faq.md
  docusaurus/docs/operate/morse_migration/migration.md
  docusaurus/docs/operate/morse_migration/overview.md
  docusaurus/docs/operate/morse_migration/roadmap.md
  docusaurus/docusaurus.config.js
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/yarn.lock
Labels: documentation

#1137 [Tooling] chore: add support for local grove helm-charts repo in Tilt localnet
  Tiltfile
Labels: code health, tooling

#1115 [Morse -> Shannon Migration] Documentation
  docusaurus/docs/operate/morse_migration/claiming.md
  docusaurus/docs/operate/morse_migration/data_structures.md
  docusaurus/docs/operate/morse_migration/faq.md
  docusaurus/docs/operate/morse_migration/morse-migration.md
  docusaurus/docs/operate/morse_migration/overview.md
  docusaurus/docs/operate/morse_migration/roadmap.md
  docusaurus/docusaurus.config.js
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/yarn.lock
Labels: documentation, migration

#1144 [Bug] Fix missing supplier begin blocker
  tests/integration/migration/morse_claim_supplier_test.go
  x/supplier/module/module.go
Labels: bug, supplier, on-chain, push-image, devnet, devnet-test-e2e

#1156 fix: update gateway cheatsheet to stake anvil not F00C
  docusaurus/docs/operate/cheat_sheets/gateway_cheatsheet.md
Labels: documentation

#1155 [LocalNet] Add Grove Helm charts dependency warning to localnet and test setup
  makefiles/localnet.mk
  makefiles/warnings.mk
Labels: code health, tooling

#1159 [MainNet] Update `config_mainnet` authorization address
  authorizations/grove_authorizations.json
  authorizations/pnf_authorizations.json
  config_mainnet.yml
  docusaurus/docs/operate/morse_migration/claiming.md
Labels: migration

#1164 [MainNet] Shannon Shadow MainNet - Doc Updates
  authorizations/README.md
  authorizations/grove_authorizations.json
  authorizations/pnf_authorizations.json
  docusaurus/docs/operate/cheat_sheets/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/morse_migration/roadmap.md
  docusaurus/docs/operate/upgrades/upgrade_list.md
  docusaurus/docs/tools/endpoints/shannon_rpc.md
  docusaurus/docs/tools/tools/shannon_alpha.md
  docusaurus/docs/tools/tools/shannon_beta.md
  docusaurus/docs/tools/tools/shannon_mainnet.md
  docusaurus/docs/tools/tools/source_code.md
  tools/installer/full-node.sh
Labels: migration
