Repository pokt-network/poktroll, pull requests merged in 2025-08, with the labels that each got.

#1706 [Session Rollover] Separating C&P
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
Labels: relayminer, off-chain, scalability, proof

#1703 [RelayMiner] Add comprehensive relay timing and gRPC call metrics
  pkg/client/query/meteredquerier.go
  pkg/deps/config/suppliers.go
  pkg/relayer/metrics.go
  pkg/relayer/miner/miner.go
  pkg/relayer/proxy/error_reply.go
  pkg/relayer/proxy/sync.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_persistence_test.go
  pkg/relayer/session/session_test.go
  testutil/testclient/testsupplier/client.go
Labels: relayminer, miner, proxy, push-image, devnet, devnet-test-e2e, scalability

#1705 [Session Rollovers] First attempt at solving session rollovers from RelayMiner's POV
  pkg/client/interface.go
  pkg/observable/channel/observable.go
  pkg/relayer/proxy/http_server.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/sync.go
  pkg/relayer/relay_authenticator/relay_signer.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
Labels: protocol, session

#1717 [CometBFT] Use Pocket's fork temporarily
  go.mod
  go.sum
Labels: protocol

#1722 [Upgrade]: Update v0.1.28 upgrade list docs
  docusaurus/docs/4_develop/upgrades/4_upgrade_list.md
Labels: documentation, upgrade

#1725 [Validator] Documentation / Playbook to track rewards
  docusaurus/docs/1_operate/5_playbooks/2_validator_rewards.md
  docusaurus/docs/3_protocol/tokenomics/7_tokenomics_inspection_cheatsheet.md
  makefiles/tools.mk
  tools/rc_helpers/queries.sh
Labels: Validator

#1735 [Docs] fix path config link
  docusaurus/docs/3_protocol/actors/4_path_gateway.md
Labels: documentation

#1726 [Telegram] Minor improvements to TG bot helpers
  .github/workflows/telegram-broadcast.yml
  makefiles/telegram.mk
  pkg/relayer/cmd/deps.go
Labels: tooling

#1612 [`pocketd`] Improve CLI docs for `unstake-supplier`
  x/application/module/autocli.go
  x/supplier/module/autocli.go
  x/supplier/module/tx.go
  x/supplier/module/tx_unstake_supplier.go
Labels: tooling
