Repository pokt-network/poktroll, pull requests merged in 2025-07, with the labels that each got.

#1606 feat: Remove settlement result from EventClaimSettled
  proto/pocket/tokenomics/event.proto
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/types/event.pb.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, proof, consensus-breaking

#1619 [Morse Recovery] Update Allowlist
  x/migration/recovery/recovery_allowlist.go
Labels: consensus-breaking, nice-to-have

#1604 [State bloat] use the relay response payload hash as the SMST value
  go.mod
  makefiles/query.mk
  pkg/relayer/miner/gen/gen_fixtures.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/relay_fixtures_test.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/websockets/bridge.go
  proto/pocket/service/relay.proto
  testutil/testrelayer/relays.go
  testutil/testtree/tree.go
  tools/scripts/proof_payload_hash_analysis.go
  x/proof/keeper/proof_validation_test.go
  x/service/types/relay.go
  x/service/types/relay.pb.go
  x/service/types/relay_test.go
Labels: protocol, off-chain, push-image, devnet, devnet-test-e2e, smt, consensus-breaking

#1630 [Code only] fix: implement backward compatible relay response signatures (from #1629)
  x/service/types/relay.go
Labels: relayminer, push-image, devnet, devnet-test-e2e, consensus-breaking

#1635 upgrade: Prepare upgrade plan for v0.1.26
  app/upgrades.go
  app/upgrades/v0.1.26.go
Labels: upgrade

#1634 [Telegram] Add Korbit channel to broadcast workflow
  .github/workflows/telegram-send-message.yml
Labels: nice-to-have

#1636 [RelayMiner] Avoid concurrent access to shared logger
  pkg/relayer/proxy/http_server.go
  pkg/relayer/proxy/relay_meter.go
  pkg/relayer/relayminer.go
  pkg/relayer/session/session.go
  testutil/testrelayer/relays.go
  testutil/testtree/tree.go
Labels: bug, relayminer, push-image, tooling, devnet, devnet-test-e2e

#1643 Revert "feat: Remove settlement result from EventClaimSettled"
  proto/pocket/tokenomics/event.proto
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/types/event.pb.go
Labels: push-image, devnet, devnet-test-e2e, consensus-breaking

#1647 Remove settlement result from `EventClaimSettled` in `v0.127` release.
  proto/pocket/tokenomics/event.proto
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/types/event.pb.go
Labels: consensus-breaking

#1649 feat: Improve relay request unmarshaling error handling and logging
  makefiles/tools.mk
  pkg/relayer/proxy/errors.go
  pkg/relayer/proxy/relay_builders.go
  tools/scripts/decode_relay/main.go
  tools/scripts/proof_payload_hash_analysis/main.go
Labels: relayminer, proxy, off-chain, push-image, devnet, devnet-test-e2e

#1640 Refactor Tiltfile structure and enhance Pocketdex support.
  .gitignore
  Tiltfile
  docusaurus/docs/4_develop/developer_guide/img/pocketdex_tilt_error.png
  docusaurus/docs/4_develop/developer_guide/pocketdex_indexer.md
  go.mod
  tiltfiles/config.Tiltfile
  tiltfiles/defaults.Tiltfile
  tiltfiles/git.Tiltfile
  tiltfiles/git.tilt
  tiltfiles/pocketdex.Tiltfile
  tiltfiles/pocketdex.tilt
  tiltfiles/utils.Tiltfile
Labels: enhancement, code health, tooling

#1656 [Morse Recovery] Add recovery addresses for issue #1654
  x/migration/recovery/recovery_allowlist.go
Labels: consensus-breaking, migration

#1657 [RelayMiner] Add timeout support and improved logging to query clients
  pkg/client/query/accquerier.go
  pkg/client/query/appquerier.go
  pkg/client/query/bankquerier.go
  pkg/client/query/proofquerier.go
  pkg/client/query/servicequerier.go
  pkg/client/query/sessionquerier.go
  pkg/client/query/sharedquerier.go
  pkg/client/query/supplierquerier.go
  pkg/client/tx/client.go
  pkg/retry/retry.go
  pkg/retry/retry_test.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#1667 [Morse Recovery] Added new addresses for recovery
  x/migration/recovery/recovery_allowlist.go
Labels: consensus-breaking, migration

#1669 [Review] Review of #1633
  docusaurus/docs/1_operate/3_configs/4_relayminer_config.md
  localnet/pocketd/config/relayminer_config_full_example.yaml
  pkg/relayer/cmd/cmd_relay.go
  pkg/relayer/config/config.schema.yaml
  pkg/relayer/config/pocket_node_config_hydrator.go
  pkg/relayer/config/supplier_hydrator.go
  pkg/relayer/config/suppliers_config_hydrator.go
  pkg/relayer/config/types.go
  pkg/relayer/proxy/http_server.go
  pkg/relayer/proxy/ping.go
Labels: review

#1633 [RelayMiner] feat: relay miner routes to multiple backend URLs based on RPC Type
  Makefile
  docusaurus/docs/1_operate/3_configs/4_relayminer_config.md
  localnet/pocketd/config/relayminer_config_full_example.yaml
  pkg/relayer/cmd/cmd_relay.go
  pkg/relayer/cmd/cmd_start.go
  pkg/relayer/config/config.schema.yaml
  pkg/relayer/config/relayminer_configs_reader.go
  pkg/relayer/config/relayminer_configs_reader_test.go
  pkg/relayer/config/supplier_hydrator.go
  pkg/relayer/config/suppliers_config_hydrator.go
  pkg/relayer/config/types.go
  pkg/relayer/proxy/async.go
  pkg/relayer/proxy/http_server.go
  pkg/relayer/proxy/ping.go
  pkg/relayer/proxy/sync.go
  proto/pocket/shared/service.proto
  testutil/keeper/shared.go
  x/shared/types/service.go
  x/shared/types/service.pb.go
  x/supplier/config/supplier_configs_reader.go
Labels: relayminer, consensus-breaking

#1624 [Review] Review of #1262: `[IBC] Prepare pocket for IBC connectivity`
  app/app.go
  app/upgrades/vNEXT.go
  config.yml
Labels: ibc, review

#1675 [RelayMiner] Bump SMT version
  go.mod
  go.sum
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e, smt

#1678 [Morse Recovery] Updated Allowlist
  x/migration/recovery/recovery_allowlist.go
Labels: consensus-breaking, migration

#1682 [Events] `EventClaimSettled`
  e2e/tests/session_steps_test.go
  proto/pocket/tokenomics/event.proto
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/settlement_context_test.go
  x/tokenomics/types/event.pb.go
  x/tokenomics/types/event_claim_settled.go
  x/tokenomics/types/settlement_result.go
  x/tokenomics/types/settlement_result_test.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#1693 [Misc] A handful of small misc fixes & changes
  .github/workflows/telegram-notify-release.yml
  .github/workflows/telegram-send-message.yml
  docusaurus/docs/3_protocol/governance/2_gov_params.md
  makefiles/telegram.mk
  tools/rc_helpers/queries.sh
  tools/scripts/params/bulk_params_beta/tokenomics_params.json
  x/tokenomics/types/settlement_result.go
Labels: governance, code health, tooling, consensus-breaking

#1690 [RelayMiner] Enhance relay validation and logging in RelayMiner
  pkg/relayer/miner/gen/gen_fixtures.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/miner/relay_fixtures_test.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/sync.go
  pkg/relayer/relay_authenticator/relay_signer.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#1696 [Morse Recovery] Updated Allowlist for Recovery
  x/migration/recovery/recovery_allowlist.go
Labels: consensus-breaking, migration
