Repository pokt-network/poktroll, pull requests merged in 2025-04, with the labels that each got.

#1143 [RelayMiner] Implement RPC calls with retry mechanisms
  makefiles/warnings.mk
  pkg/client/events/replay_client.go
  pkg/client/interface.go
  pkg/client/query/accquerier.go
  pkg/client/query/appquerier.go
  pkg/client/query/bankquerier.go
  pkg/client/query/proofquerier.go
  pkg/client/query/servicequerier.go
  pkg/client/query/sessionquerier.go
  pkg/client/query/sharedquerier.go
  pkg/client/query/supplierquerier.go
  pkg/client/supplier/client.go
  pkg/client/supplier/client_test.go
  pkg/client/tx/client.go
  pkg/client/tx/client_integration_test.go
  pkg/client/tx/client_test.go
  pkg/client/tx/options.go
  pkg/deps/config/suppliers.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_test.go
  pkg/retry/errors.go
  pkg/retry/retry.go
  pkg/retry/retry_test.go
  testutil/integration/suites/base.go
  testutil/testclient/testsupplier/client.go
  testutil/testclient/testtx/client.go
Labels: bug, relayminer, off-chain, push-image, devnet, devnet-test-e2e

#1168 [Morse -> Shannon Migration] chore: restore default timeout height offset support in `TxClient`
  pkg/client/interface.go
  pkg/client/supplier/client.go
  pkg/client/tx/client.go
  pkg/client/tx/client_integration_test.go
  pkg/client/tx/client_test.go
  testutil/testclient/testtx/client.go
Labels: off-chain, migration

#1157 [DOCS] Add video walkthrough to `supplier_cheatsheet`
  docusaurus/docs/operate/cheat_sheets/supplier_cheatsheet.md
Labels: documentation, devex

#1167 [MainNet Followups] Move authorizations to `pocket-network-genesis` and update the `RPC` endpoints
  authorizations/README.md
  authorizations/grove_authorizations.json
  authorizations/pnf_authorizations.json
  config_mainnet.yml
  docusaurus/docs/tools/endpoints/_category_.json
  docusaurus/docs/tools/endpoints/shannon_rpc.md
  docusaurus/docs/tools/tools/shannon_alpha.md
  docusaurus/docs/tools/tools/shannon_beta.md
  docusaurus/docs/tools/tools/shannon_mainnet.md
Labels: migration

#1163 [Morse -> Shannon Migration] refactor: supplier stake config parsing
  docusaurus/docs/protocol/actors/relay_miner.md
  x/supplier/config/supplier_configs_reader.go
  x/supplier/config/supplier_configs_reader_test.go
Labels: bug, off-chain, code health

#1153 [Morse -> Shannon Migration] CLI: claim Morse supplier
  api/pocket/application/types.pulsar.go
  api/pocket/migration/morse_offchain.pulsar.go
  api/pocket/proof/params.pulsar.go
  api/pocket/shared/service.pulsar.go
  e2e/tests/init_test.go
  e2e/tests/migration_fixture.feature
  e2e/tests/migration_steps_test.go
  e2e/tests/parse_params_test.go
  e2e/tests/session_steps_test.go
  e2e/tests/update_params_test.go
  go.mod
  go.sum
  x/application/types/types.pb.go
  x/migration/module/cmd/claim_morse_supplier.go
  x/migration/module/tx.go
  x/migration/types/morse_offchain.pb.go
  x/proof/types/params.pb.go
  x/shared/types/service.pb.go
  x/supplier/config/supplier_configs_reader.go
Labels: supplier, on-chain, push-image, tooling, devnet, devnet-test-e2e, consensus-breaking, migration

#1160 [Morse -> Shannon Migration] Waive fees for Morse claim txs
  app/ante.go
  app/app.go
  testutil/keeper/migration.go
  x/migration/keeper/msg_server_claim_morse_account.go
  x/migration/keeper/msg_server_claim_morse_application.go
  x/migration/keeper/msg_server_claim_morse_supplier.go
  x/migration/types/expected_keepers.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking, migration

#1140 [RelayMiner] Session Persistence for RelayerSessionsManager
  api/pocket/proof/types.pulsar.go
  pkg/client/block/block_result.go
  pkg/client/block/client.go
  pkg/client/interface.go
  pkg/client/query/accquerier.go
  pkg/client/query/appquerier.go
  pkg/client/query/bankquerier.go
  pkg/client/query/proofquerier.go
  pkg/client/query/querycache_test.go
  pkg/client/query/servicequerier.go
  pkg/client/query/sessionquerier.go
  pkg/client/query/sharedquerier.go
  pkg/client/query/supplierquerier.go
  pkg/client/supplier/client.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/interface.go
  pkg/relayer/relayminer.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/options.go
  pkg/relayer/session/persistence.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/session_persistence_test.go
  pkg/relayer/session/session_test.go
  pkg/relayer/session/sessiontree.go
  proto/pocket/proof/types.proto
  tests/integration/tokenomics/relay_mining_integration_test.go
  testutil/testclient/testsupplier/client.go
  testutil/testrelayer/relays.go
  x/proof/types/types.pb.go
Labels: relayminer, session, off-chain, push-image, devnet, devnet-test-e2e

#1183 [Quick PR] change beta rpc url in the docs
  docusaurus/docs/develop/developer_guide/debug_tips.md
  docusaurus/docs/operate/configs/relayminer_config.md
  docusaurus/docs/tools/tools/shannon_beta.md
Labels: documentation

#1175 [TxClient] Add configurable transaction fee options to enhance transaction flexibility
  pkg/client/interface.go
  pkg/client/tx/client.go
  pkg/client/tx/client_test.go
  pkg/client/tx/options.go
  pkg/deps/config/suppliers.go
  testutil/mockclient/signing_tx.go
  testutil/testclient/testtx/client.go
  testutil/testclient/testtx/context.go
Labels: enhancement, off-chain, push-image, devnet, devnet-test-e2e

#1174 [Tooling] chore: add buf registry name & update deps
  proto/buf.lock
  proto/buf.yaml
Labels: off-chain, code health, tooling

#1173 [Morse -> Shannon Migration] Add `waive_morse_claim_gas_fees` param
  api/pocket/migration/params.pulsar.go
  app/ante.go
  app/app.go
  config.yml
  docs/static/openapi.json
  docs/static/openapi.yml
  docusaurus/docs/protocol/governance/params.md
  proto/pocket/migration/params.proto
  testutil/integration/suites/param_configs.go
  tools/scripts/authz/dao_genesis_authorizations.json
  tools/scripts/params/migration_all.json
  x/migration/keeper/params_test.go
  x/migration/types/errors.go
  x/migration/types/params.go
  x/migration/types/params.pb.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking, migration

#1181 [Code Health] refactor: `TxClient` send & broadcast methods to return the `TxResponse`
  pkg/client/interface.go
  pkg/client/supplier/client.go
  pkg/client/tx/client.go
  pkg/client/tx/client_integration_test.go
  pkg/client/tx/client_test.go
  testutil/testclient/testtx/client.go
  x/migration/module/cmd/claim_morse_account.go
  x/migration/module/cmd/claim_morse_application.go
  x/migration/module/cmd/claim_morse_supplier.go
  x/migration/module/cmd/import_morse_accounts.go
Labels: off-chain, code health, push-image, tooling, devnet, devnet-test-e2e

#1180 [GitHub Workflow] Add a consensus-breaking workflow
  .github/workflows/consensus-breaking-label.yml
Labels: tooling

#1182 [Documentation] Parameters & Authorizations
  docusaurus/docs/operate/cheat_sheets/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/faq/validator_faq.md
  docusaurus/docs/operate/upgrades/1_protocol_upgrades.md
  docusaurus/docs/operate/upgrades/1_upgrade_list.md
  docusaurus/docs/operate/upgrades/2_upgrade_procedure.md
  docusaurus/docs/operate/upgrades/3_module_auth.md
  docusaurus/docs/operate/upgrades/4_release_process.md
  docusaurus/docs/operate/upgrades/5_contigency_plans.md
  docusaurus/docs/operate/upgrades/6_chain_halt_troubleshooting.md
  docusaurus/docs/operate/upgrades/7_recovery_from_chain_halt.md
  docusaurus/docs/operate/upgrades/module_params.md
  docusaurus/docs/operate/walkthroughs/docker_compose_walkthrough.md
  docusaurus/docs/protocol/governance/1_intro_to_params.md
  docusaurus/docs/protocol/governance/2_gov_params.md
  tools/scripts/docusaurus/generate_docs_params.go
  tools/scripts/docusaurus/params_doc_template.md
Labels: documentation

#1177 [Morse -> Shannon Migration] refactor: migration CLI logging
  cmd/logger/logger.go
  x/migration/module/cmd/claim_morse_account.go
  x/migration/module/cmd/claim_morse_application.go
  x/migration/module/cmd/claim_morse_supplier.go
Labels: code health, tooling, consensus-breaking, migration

#1187 [Docs] Add documentation for handling protobuf change on chain upgrades
  docusaurus/docs/operate/cheat_sheets/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/faq/validator_faq.md
  docusaurus/docs/operate/upgrades/1_protocol_upgrades.md
  docusaurus/docs/operate/upgrades/2_upgrade_list.md
  docusaurus/docs/operate/upgrades/3_module_auth.md
  docusaurus/docs/operate/upgrades/4_protobuf_upgrades.md
  docusaurus/docs/operate/upgrades/5_contigency_plans.md
  docusaurus/docs/operate/upgrades/6_chain_halt_troubleshooting.md
  docusaurus/docs/operate/upgrades/7_recovery_from_chain_halt.md
  docusaurus/docs/operate/upgrades/8_release_process.md
  docusaurus/docs/operate/upgrades/9_upgrade_procedure.md
  docusaurus/docs/operate/walkthroughs/docker_compose_walkthrough.md
Labels: documentation, on-chain

#1192 [Morse -> Shannon] refactor: add `signer_address` to Morse account/actor claim msgs
  api/pocket/migration/tx.pulsar.go
  proto/pocket/migration/tx.proto
  tests/integration/migration/morse_claim_account_test.go
  tests/integration/migration/morse_claim_app_test.go
  tests/integration/migration/morse_claim_supplier_test.go
  testutil/integration/suites/migration.go
  x/migration/keeper/msg_server_claim_morse_account_test.go
  x/migration/keeper/msg_server_claim_morse_application_test.go
  x/migration/keeper/msg_server_claim_morse_supplier_test.go
  x/migration/module/cmd/claim_morse_account.go
  x/migration/module/cmd/claim_morse_application.go
  x/migration/module/cmd/claim_morse_supplier.go
  x/migration/types/message_claim_morse_account.go
  x/migration/types/message_claim_morse_application.go
  x/migration/types/message_claim_morse_supplier.go
  x/migration/types/tx.pb.go
Labels: consensus-breaking

#1178 [Morse -> Shannon Migration] feat: `validate-morse-accounts` migration CLI cmd
  .gitignore
  Tiltfile
  cmd/signals/exit.go
  cmd/signals/on_exit.go
  e2e/tests/migration_validation_fixture.feature
  e2e/tests/migration_validation_steps_test.go
  makefiles/migrate.mk
  x/migration/module/cmd/errors.go
  x/migration/module/cmd/validate_morse_accounts.go
  x/migration/module/cmd/validate_morse_accounts_test.go
  x/migration/module/tx.go
Labels: off-chain, tooling, consensus-breaking, migration

#1179 [Morse -> Shannon Migration] refactor: remove public key from `MorseAccountState`
  api/pocket/migration/morse_offchain.pulsar.go
  api/pocket/migration/morse_onchain.pulsar.go
  api/pocket/migration/tx.pulsar.go
  cmd/flags/tx_client.go
  docusaurus/docs/protocol/governance/1_intro_to_params.md
  e2e/tests/init_test.go
  e2e/tests/migration_snapshot.feature
  e2e/tests/migration_steps_test.go
  makefiles/migrate.mk
  pkg/deps/config/suppliers.go
  pkg/deps/config/tx_client_options.go
  pkg/relayer/cmd/cmd.go
  proto/pocket/migration/morse_offchain.proto
  proto/pocket/migration/morse_onchain.proto
  proto/pocket/migration/tx.proto
  tests/integration/migration/morse_claim_app_test.go
  tests/integration/migration/morse_claim_supplier_test.go
  testutil/integration/suites/migration.go
  testutil/testmigration/fixtures.go
  x/migration/keeper/msg_server_claim_morse_account.go
  x/migration/keeper/msg_server_claim_morse_account_test.go
  x/migration/keeper/msg_server_claim_morse_application.go
  x/migration/keeper/msg_server_claim_morse_application_test.go
  x/migration/keeper/msg_server_claim_morse_supplier.go
  x/migration/keeper/msg_server_claim_morse_supplier_test.go
  x/migration/module/cmd/claim_morse_account.go
  x/migration/module/cmd/claim_morse_application.go
  x/migration/module/cmd/claim_morse_supplier.go
  x/migration/module/cmd/collect_morse_accounts.go
  x/migration/module/cmd/import_morse_accounts.go
  x/migration/module/cmd/types.go
  x/migration/types/errors.go
  x/migration/types/message_claim_morse_account.go
  x/migration/types/message_claim_morse_account_test.go
  x/migration/types/message_claim_morse_application.go
  x/migration/types/message_claim_morse_application_test.go
  x/migration/types/message_claim_morse_supplier.go
  x/migration/types/message_claim_morse_supplier_test.go
  x/migration/types/morse_claim_messages.go
  x/migration/types/morse_offchain.pb.go
  x/migration/types/morse_onchain.pb.go
  x/migration/types/tx.pb.go
  x/migration/types/types.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking, migration

#1195 [Code Health] refactor: exports & interface registration
  x/migration/module/cmd/claim_morse_account.go
  x/migration/module/cmd/claim_morse_application.go
  x/migration/module/cmd/claim_morse_supplier.go
  x/migration/module/cmd/morse_keys.go
  x/shared/types/codec.go
Labels: code health, consensus-breaking

#1194 WIP - Remove old warning
  Tiltfile
  docusaurus/docs/operate/faq/full_node_faq.md
  docusaurus/docs/tools/user_guide/pocketd_cli.md
  go.mod
  go.sum
  makefiles/checks.mk
  makefiles/localnet.mk
  proto/pocket/session/params.proto
  x/migration/module/module.go
  x/shared/module/module.go
Labels: consensus-breaking

#1196 [Documentation] Update Main Page and Add Claude Support to answer documentation questions
  .claudeignore
  .claudeignore_cli
  .claudeignore_docs
  .gitignore
  .markdownlint.json
  CLAUDE.md
  Makefile
  docusaurus/docs/README.md
  docusaurus/docs/develop/developer_guide/claudesync.md
  docusaurus/docusaurus.config.js
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/static/img/pokt-path-usp.png
  docusaurus/yarn.lock
  makefiles/claudesync.mk
  makefiles/docs.mk
Labels: documentation, tooling

#1190 [ClaimSettlement] Reduce claim settlement memory consumption
  tests/integration/tokenomics/token_logic_modules/tlm_suite_test.go
  x/proof/keeper/claim.go
  x/proof/types/claims_iterator.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/types/expected_keepers.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, scalability, proof, consensus-breaking

#1203 [Documentation] Checkpoint update for Migration Docs - More to come
  Makefile
  docusaurus/docs/operate/cheat_sheets/docker_compose_debian_cheatsheet.md
  docusaurus/docs/operate/faq/validator_faq.md
  docusaurus/docs/operate/upgrades/1_protocol_upgrades.md
  docusaurus/docs/operate/upgrades/2_release_procedure.md
  docusaurus/docs/operate/upgrades/3_testing_upgrades.md
  docusaurus/docs/operate/upgrades/4_upgrade_list.md
  docusaurus/docs/operate/upgrades/5_protobuf_upgrades.md
  docusaurus/docs/operate/upgrades/6_module_auth.md
  docusaurus/docs/operate/upgrades/7_chain_halt_troubleshooting.md
  docusaurus/docs/operate/upgrades/8_contigency_plans.md
  docusaurus/docs/operate/upgrades/8_release_process.md
  docusaurus/docs/operate/upgrades/9_recovery_from_chain_halt.md
  docusaurus/docs/operate/upgrades/9_upgrade_procedure.md
  docusaurus/docs/operate/walkthroughs/docker_compose_walkthrough.md
  x/gateway/module/module.go
  x/service/module/module.go
Labels: consensus-breaking

#1207 [Loclanet] Remove cluster name checks - Add notes on network realy readiness
  docusaurus/docs/develop/developer_guide/walkthrough.md
  makefiles/checks.mk
Labels: documentation

#1208 [Upgrades] Adding `NetworkAuthzGranteeAddress`
  app/upgrades/types.go
Labels: migration

#1202 [Upgrade] Protocol Upgrade v0.1.2.
  app/upgrades.go
  app/upgrades/v0.1.2.go
Labels: on-chain, upgrade

#1210 [Workflows] Fix release-artifacts workflow
  .gitignore
  Dockerfile.release
  Makefile
  makefiles/checks.mk
  makefiles/release.mk
Labels: migration, upgrade

#1211 [Upgrade][Migration] Added `tools/scripts/upgrades/prepare_upgrade_tx.sh`
  tools/scripts/upgrades/prepare_upgrade_tx.sh
Labels: tooling

#1204 [Upgrade] Upgrade transactions for `v.0.1.2`
  tools/scripts/upgrades/prepare_upgrade_tx.sh
  tools/scripts/upgrades/upgrade_tx_v0.1.2_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.2_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.2_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.2_main.json
Labels: upgrade

#1212 [quick pr] Rename archive names in release_checksum
  makefiles/release.mk
  tools/scripts/upgrades/prepare_upgrade_tx.sh
Labels: tooling

#1213 [QuickPR] skip checksum in upgrade TXs
  tools/scripts/upgrades/prepare_upgrade_tx.sh
  tools/scripts/upgrades/upgrade_tx_v0.1.2_alpha.json
Labels: tooling

#1209 [Upgrades][WIP] Updating upgrade docs
  .markdownlint.json
  docusaurus/docs/operate/upgrades/1_protocol_upgrades.md
  docusaurus/docs/operate/upgrades/2_release_procedure.md
  docusaurus/docs/operate/upgrades/3_testing_upgrades.md
  tools/scripts/upgrades/prepare_upgrade_tx.sh
Labels: documentation

#1214 [Session] Performance optimization for supplier service data in session hydration
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
Labels: session, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#1216 [Upgrade] `v0.1.3` Upgrade Handler
  app/upgrades.go
  app/upgrades/v0.1.3.go
Labels: migration, upgrade

#1217 [Upgrade] `v0.1.3` transactions
  tools/scripts/upgrades/upgrade_tx_v0.1.3_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.3_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.3_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.3_main.json
Labels: migration, upgrade

#1218 [Upgrade] Update `v0.1.2` transactions
  tools/scripts/upgrades/upgrade_tx_v0.1.2_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.2_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.2_main.json
Labels: consensus-breaking, migration, upgrade

#1220 Documentation updates during v0.1.2 and v0.1.3
  docusaurus/docs/operate/upgrades/1_protocol_upgrades.md
  docusaurus/docs/operate/upgrades/2_release_procedure.md
Labels: migration, upgrade

#1215 chore: add install.sh script and update docs
  docusaurus/docs/tools/user_guide/pocketd_cli.md
  scripts/install.sh
Labels: documentation, devex

#1224 [Upgrades] `v0.1.4` upgrade handler to fix `v0.1.2` (+ some cleanup)
  app/upgrades.go
  app/upgrades/common.go
  app/upgrades/default.go
  app/upgrades/historical.go
  app/upgrades/types.go
  app/upgrades/v0.0.10.go
  app/upgrades/v0.0.11.go
  app/upgrades/v0.0.12.go
  app/upgrades/v0.0.13.go
  app/upgrades/v0.0.4.go
  app/upgrades/v0.0.9.go
  app/upgrades/v0.1.2.go
  app/upgrades/v0.1.4.go
  makefiles/release.mk
  tools/scripts/authz/dao_genesis_authorizations.json
  tools/scripts/upgrades/prepare_upgrade_tx.sh
Labels: push-image, devnet, devnet-test-e2e, migration, upgrade

#1229 [Upgrade] Transactions for `v0.1.4`
  tools/scripts/upgrades/upgrade_tx_v0.1.4_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.4_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.4_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.4_main.json
Labels: migration, upgrade

#1223 [Upgrades] Documentation updates to upgrades while working on #1224
  docusaurus/docs/operate/upgrades/2_release_procedure.md
  docusaurus/docs/operate/upgrades/3_testing_upgrades.md
  docusaurus/docs/operate/upgrades/3_testing_upgrades_locally.md
  docusaurus/docs/operate/upgrades/8_contigency_plans.md
  docusaurus/docs/operate/upgrades/9_recovery_from_chain_halt.md
  makefiles/release.mk
Labels: migration, upgrade

#1221 [Documentation][Migration] Refactoring, Fixing & Improving Migration & Claiming Docs
  .gitignore
  api/pocket/migration/morse_offchain.pulsar.go
  api/pocket/migration/tx.pulsar.go
  docusaurus/docs/operate/morse_migration/10_data_structures.md
  docusaurus/docs/operate/morse_migration/1_roadmap.md
  docusaurus/docs/operate/morse_migration/2_introduction.md
  docusaurus/docs/operate/morse_migration/3_state_transfer_overview.md
  docusaurus/docs/operate/morse_migration/4_state_transfer_playbook.md
  docusaurus/docs/operate/morse_migration/5_claiming_introduction.md
  docusaurus/docs/operate/morse_migration/6_claiming_account.md
  docusaurus/docs/operate/morse_migration/7_claiming_supplier.md
  docusaurus/docs/operate/morse_migration/8_claiming_application.md
  docusaurus/docs/operate/morse_migration/9_faq.md
  docusaurus/docs/operate/morse_migration/claiming.md
  docusaurus/docs/operate/morse_migration/overview.md
  docusaurus/docs/operate/upgrades/6_module_auth.md
  e2e/tests/migration_success.feature
  makefiles/checks.mk
  makefiles/migrate.mk
  proto/pocket/migration/morse_offchain.proto
  proto/pocket/migration/tx.proto
  testutil/testmigration/fixtures.go
  tools/scripts/migration/README.md
  tools/scripts/params/migration_all.json
  x/migration/keeper/msg_server_claim_morse_account.go
  x/migration/keeper/msg_server_claim_morse_account_test.go
  x/migration/keeper/msg_server_claim_morse_application.go
  x/migration/keeper/msg_server_claim_morse_supplier.go
  x/migration/keeper/msg_server_claim_morse_supplier_test.go
  x/migration/keeper/msg_server_import_morse_claimable_accounts.go
  x/migration/module/cmd/collect_morse_accounts.go
  x/migration/module/cmd/import_morse_accounts.go
  x/migration/types/morse_offchain.pb.go
  x/migration/types/tx.pb.go
Labels: documentation, consensus-breaking, migration, upgrade

#1226 [Perf] Implement Memory-Efficient Iterator Pattern for Large Data Sets
  testutil/keeper/session.go
  testutil/shared/mocks.go
  testutil/shared/record_iterator_mocks.go
  x/proof/keeper/claim.go
  x/proof/keeper/claim_test.go
  x/proof/types/claims_iterator.go
  x/session/keeper/session_hydrator.go
  x/session/keeper/session_hydrator_test.go
  x/session/types/expected_keepers.go
  x/shared/types/record_iterator.go
  x/supplier/keeper/activate_services.go
  x/supplier/keeper/prune_supplier_service_config_history.go
  x/supplier/keeper/supplier.go
  x/supplier/keeper/supplier_test.go
  x/supplier/keeper/unbond_suppliers.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/types/expected_keepers.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, loadtest, scalability, consensus-breaking

#1227 [Perf] Add Record Iterator Pattern for Application Module
  x/application/keeper/application.go
  x/application/keeper/application_test.go
  x/application/keeper/auto_undelegate.go
  x/application/keeper/prune_undelegations.go
  x/application/keeper/transfer_applications.go
  x/application/keeper/unbond_applications.go
  x/supplier/keeper/supplier.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, loadtest, scalability, consensus-breaking

#1234 [Bug] Downgrade Cosmovisor to v1.6.0 to fix upgrade processing issue
  Makefile
  docusaurus/docs/operate/walkthroughs/full_node_walkthrough.md
  tools/installer/full-node.sh
  tools/scripts/upgrades/cosmovisor-start-node.sh
Labels: bug, documentation, on-chain, tooling, dependencies

#1235 [Perf] Add Record Iterator Pattern for Application Module (Resubmit)
  x/application/keeper/application.go
  x/application/keeper/application_test.go
  x/application/keeper/auto_undelegate.go
  x/application/keeper/prune_undelegations.go
  x/application/keeper/transfer_applications.go
  x/application/keeper/unbond_applications.go
  x/supplier/keeper/supplier.go
Labels: on-chain, push-image, loadtest, scalability, consensus-breaking

#1241 Bump shannon-sdk dependency: SHA efd370a75d51
  go.mod
  go.sum
Labels: push-image, devnet, devnet-test-e2e, sdk

#1244 [Upgrades] v0.1.5 upgrade handler to reduce memory footprint for Suppliers & Application iteration
  app/upgrades.go
  app/upgrades/v0.1.5.go
  docusaurus/docs/operate/upgrades/3_testing_upgrades_locally.md
Labels: consensus-breaking, upgrade

#1245 [Upgrade] Transactions for v0.1.5
  docusaurus/docs/operate/upgrades/2_release_procedure.md
  tools/scripts/upgrades/upgrade_tx_v0.1.5_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.5_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.5_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.5_main.json
Labels: upgrade

#1237 [Code Health] chore: cleanup TODOs
  x/migration/keeper/msg_server_claim_morse_account.go
  x/migration/keeper/msg_server_claim_morse_application.go
  x/migration/keeper/msg_server_claim_morse_supplier.go
  x/migration/module/autocli.go
Labels: code health, consensus-breaking

#1248 [Tiltfile] Make sure local helm charts are built
  Tiltfile
Labels: infra, tooling

#1249 [Makefile] Replace all backticks with quotes in all .mk files
  makefiles/checks.mk
  makefiles/claims.mk
  makefiles/localnet.mk
  makefiles/release.mk
  makefiles/tests.mk
  makefiles/warnings.mk
Labels: bug, tooling, migration, upgrade

#1252 [LocalNet] unblock e2e tests on localnet
  Tiltfile
  e2e/tests/init_test.go
  localnet/kubernetes/kind-config.yaml
  localnet/scripts/patch_envoy_gateway.sh
Labels: push-image, devnet, devnet-test-e2e, localnet

#1254 [Upgrade] v0.1.6 upgrade handler to reduce memory footprint for Supplier config pruning
  app/upgrades.go
  app/upgrades/v0.1.6.go
Labels: on-chain, upgrade

#1246 [Morse -> Shannon Migration] upgrade: mint 100B MACT to PNF
  app/app_config.go
  app/upgrades.go
  app/upgrades/v0.1.7.go
  app/volatile/constants.go
Labels: on-chain, upgrade

#1256 [Upgrade Transactions] chore: add v0.1.7 upgrade transactions JSON
  tools/scripts/upgrades/upgrade_tx_v0.1.7_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.7_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.7_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.7_main.json
Labels: on-chain, upgrade

#1240 [Service] Increase ServiceID & ServiceName Limits to 42 & 169
  Tiltfile
  api/pocket/shared/service.pulsar.go
  docs/static/openapi.json
  docs/static/openapi.yml
  proto/pocket/shared/service.proto
  x/application/module/config/application_configs_reader.go
  x/application/types/genesis_test.go
  x/application/types/message_stake_application_test.go
  x/migration/module/cmd/claim_morse_application.go
  x/migration/types/message_claim_morse_application_test.go
  x/migration/types/message_claim_morse_supplier_test.go
  x/proof/types/message_submit_proof_test.go
  x/service/types/message_add_service_test.go
  x/session/keeper/query_get_session_test.go
  x/session/keeper/session_hydrator.go
  x/session/module/query_get_session_test.go
  x/session/types/errors.go
  x/session/types/query_get_session_request.go
  x/session/types/session_header.go
  x/session/types/session_header_test.go
  x/shared/types/errors.go
  x/shared/types/service.go
  x/shared/types/service.pb.go
  x/shared/types/service_configs.go
  x/shared/types/service_test.go
  x/supplier/config/supplier_configs_reader.go
  x/supplier/types/message_stake_supplier_test.go
  x/supplier/types/query_validation.go
Labels: push-image, devnet, devnet-test-e2e, consensus-breaking

#1264 [Docs] Update upgrade list
  docusaurus/docs/operate/upgrades/4_upgrade_list.md
Labels: documentation

#1251 [Tooling] Kind Cluster, Probabilistic Logging & Relay Utils
  docusaurus/docs/develop/developer_guide/walkthrough.md
  docusaurus/docs/develop/networks/localnet.md
  makefiles/checks.mk
  makefiles/localnet.mk
  makefiles/relay.mk
  pkg/polylog/interface.go
  pkg/polylog/polyzero/logger.go
  pkg/polylog/types.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/proxy/sync.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/sessiontree.go
Labels: push-image, devnet, devnet-test-e2e, migration, upgrade

#1259 [Relayminer] refactor: remove `publicly_exposed_endpoints` from config
  Tiltfile
  docusaurus/docs/develop/developer_guide/walkthrough.md
  docusaurus/docs/operate/cheat_sheets/supplier_cheatsheet.md
  docusaurus/docs/operate/configs/relayminer_config.md
  localnet/pocketd/config/relayminer_config_full_example.yaml
  localnet/pocketd/config/relayminer_config_localnet_vscode.yaml
  pkg/relayer/config/relayminer_configs_reader_test.go
  pkg/relayer/config/supplier_hydrator.go
  pkg/relayer/config/types.go
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/proxy/sync.go
  testutil/testproxy/relayerproxy.go
Labels: relayminer, code health, push-image, devnet, devnet-test-e2e

#1263 [Scalability] Implement application indexes for improved query performance
  api/pocket/application/types.pulsar.go
  app/upgrades.go
  app/upgrades/v0.1.8.go
  proto/pocket/application/types.proto
  x/application/keeper/application.go
  x/application/keeper/application_index.go
  x/application/keeper/application_test.go
  x/application/keeper/auto_undelegate.go
  x/application/keeper/msg_server_delegate_to_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway.go
  x/application/keeper/msg_server_undelegate_from_gateway_test.go
  x/application/keeper/prune_undelegations.go
  x/application/keeper/transfer_applications.go
  x/application/keeper/unbond_applications.go
  x/application/types/key_application.go
  x/application/types/keys.go
  x/application/types/types.pb.go
Labels: application, on-chain, push-image, devnet, devnet-test-e2e, loadtest, scalability, consensus-breaking
