Repository pokt-network/poktroll, pull requests merged in 2025-06, with the labels that each got.

#1393 [Documentation] Governance Parameter Tooling
  .gitignore
  docusaurus/docs/3_protocol/governance/3_gov_params_mgmt.md
  tools/scripts/params/bulk_params/application_params.json
  tools/scripts/params/bulk_params/gateway_params.json
  tools/scripts/params/bulk_params/mint_params.json
  tools/scripts/params/bulk_params/proof_params.json
  tools/scripts/params/bulk_params/service_params.json
  tools/scripts/params/bulk_params/session_params.json
  tools/scripts/params/bulk_params/shared_params.json
  tools/scripts/params/bulk_params/slashing_params.json
  tools/scripts/params/bulk_params/staking_params.json
  tools/scripts/params/bulk_params/supplier_params.json
  tools/scripts/params/bulk_params/tokenomics_params.json
  tools/scripts/params/gov_params.sh
  tools/scripts/params/params_templates/application_all.json
  tools/scripts/params/params_templates/application_min_stake.json
  tools/scripts/params/params_templates/consensus_block_size_6mb.json
  tools/scripts/params/params_templates/gateway_all.json
  tools/scripts/params/params_templates/gateway_min_stake.json
  tools/scripts/params/params_templates/migration_all.json
  tools/scripts/params/params_templates/proof_all.json
  tools/scripts/params/params_templates/proof_proof_missing_penalty.json
  tools/scripts/params/params_templates/proof_proof_request_probability.json
  tools/scripts/params/params_templates/proof_proof_requirement_threshold.json
  tools/scripts/params/params_templates/proof_proof_submission_fee.json
  tools/scripts/params/params_templates/service_add_service_fee.json
  tools/scripts/params/params_templates/service_all.json
  tools/scripts/params/params_templates/service_target_num_relays.json
  tools/scripts/params/params_templates/session_all.json
  tools/scripts/params/params_templates/session_num_suppliers_per_session.json
  tools/scripts/params/params_templates/shared_all.json
  tools/scripts/params/params_templates/shared_application_unbonding_period_sessions.json
  tools/scripts/params/params_templates/shared_claim_window_close_offset_blocks.json
  tools/scripts/params/params_templates/shared_claim_window_open_offset_blocks.json
  tools/scripts/params/params_templates/shared_compute_unit_cost_granularity.json
  tools/scripts/params/params_templates/shared_compute_units_to_tokens_multiplier.json
  tools/scripts/params/params_templates/shared_gateway_unbonding_period_sessions.json
  tools/scripts/params/params_templates/shared_grace_period_end_offset_blocks.json
  tools/scripts/params/params_templates/shared_num_blocks_per_session.json
  tools/scripts/params/params_templates/shared_proof_window_close_offset_blocks.json
  tools/scripts/params/params_templates/shared_proof_window_open_offset_blocks.json
  tools/scripts/params/params_templates/shared_supplier_unbonding_period_sessions.json
  tools/scripts/params/params_templates/supplier_all.json
  tools/scripts/params/params_templates/supplier_min_stake.json
  tools/scripts/params/params_templates/supplier_staking_fee.json
  tools/scripts/params/params_templates/tokenomics_all.json
  tools/scripts/params/params_templates/tokenomics_dao_reward_address.json
  tools/scripts/params/params_templates/tokenomics_global_inflation_per_claim.json
  tools/scripts/params/params_templates/tokenomics_mint_allocation_percentages.json
  tools/scripts/params/update_all_params.sh
Labels: documentation, governance

#1397 [Deps] Update Shannon SDK
  go.mod
  go.sum
Labels: dependencies

#1398 [Tooling] Fix pocketd path on gov params script
  tools/scripts/params/gov_params.sh
Labels: tooling

#1374 [Tooling] feat: add unordered support to the tx client
  pkg/client/interface.go
  pkg/client/tx/client.go
  pkg/client/tx/client_test.go
  pkg/client/tx/context.go
  pkg/client/tx/options.go
  testutil/testclient/testtx/context.go
Labels: off-chain, push-image, tooling, devnet, devnet-test-e2e

#1384 [Morse -> Shannon Migration] Add Morse owner check
  go.mod
  tests/integration/migration/morse_claim_supplier_test.go
  testutil/testmigration/fixtures_recoverable_account.go
  x/migration/keeper/msg_server_claim_morse_supplier.go
Labels: on-chain, consensus-breaking, migration

#1399 [RelayMiner] Simplified offchain rate limiting and improved logging
  go.mod
  pkg/client/events/options.go
  pkg/client/events/query_client.go
  pkg/client/supplier/client.go
  pkg/client/supplier/client_test.go
  pkg/client/tx/client.go
  pkg/client/tx/client_test.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd_start.go
  pkg/relayer/interface.go
  pkg/relayer/miner/miner.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/proxy/relay_meter.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/proxy/sync.go
  pkg/relayer/proxy/websockets/bridge.go
  pkg/relayer/relay_authenticator/relay_verifier.go
  testutil/testproxy/relayerproxy.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#1396 [Migration] Multisig Address Recovery Make sure we can recovr the wpokt multisig address
  x/migration/recovery/recovery_allowlist.go
Labels: consensus-breaking, migration

#1402 [Bug] Nil txResponse on Supplier client
  pkg/client/supplier/client.go
Labels: bug, supplier, off-chain

#1403 chore: bump onchain version to v0.1.14
  app/upgrades.go
  app/upgrades/v0.1.14.go
  app/upgrades/vNEXT.go
Labels: on-chain, upgrade

#1405 [Tooling] fix: network flag
  cmd/rpc.go
Labels: bug, off-chain, tooling, devex

#1404 [Docs] Update upgrades docs, list, and v0.1.14 artifacts
  docusaurus/docs/4_develop/upgrades/2_release_procedure.md
  docusaurus/docs/4_develop/upgrades/4_upgrade_list.md
  tools/scripts/upgrades/upgrade_tx_v0.1.14_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.14_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.14_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.14_main.json
Labels: documentation, upgrade

#1406 [RelayMiner] Chain-id check and low-cardinality logs
  pkg/client/events/query_client.go
  pkg/client/supplier/client.go
  pkg/client/tx/client.go
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd_start.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#1410 [Upgrade] v0.1.15 upgrade Tx JSON
  docusaurus/docs/4_develop/upgrades/2_release_procedure.md
  docusaurus/docs/4_develop/upgrades/4_upgrade_list.md
  tools/scripts/upgrades/upgrade_tx_v0.1.15_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.15_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.15_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.15_main.json
Labels: documentation, upgrade

#1377 [Morse -> Shannon Migration] chore: integrate `pocketd` faucet into tilt
  Tiltfile
  cmd/faucet/faucet.go
  cmd/faucet/serve.go
  cmd/flags/flags.go
  cmd/flags/tx_client.go
  localnet/kubernetes/values-pocketd-faucet.yaml
Labels: tooling, devex

#1413 [Governance] Update MainNet Bulk Params
  tools/scripts/params/bulk_params/tokenomics_params.json
  tools/scripts/params/bulk_params_main/gateway_params.json
  tools/scripts/params/bulk_params_main/proof_params.json
  tools/scripts/params/bulk_params_main/service_params.json
  tools/scripts/params/bulk_params_main/shared_params.json
  tools/scripts/params/bulk_params_main/tokenomics_params.json
  tools/scripts/params/update_all_params.sh
Labels: tokenomics

#1418 [CLI] Fix claim morse suppliers bulk command
  x/migration/module/cmd/claim_morse_supplier_bulk.go
Labels: bug, consensus-breaking

#1429 [Recovery] Add upbit recovery list
  x/migration/recovery/recovery_allowlist.go
Labels: consensus-breaking, migration

#1431 [Upgrade] chore: prepare v0.1.16 onchain upgrade
  app/upgrades.go
  app/upgrades/v0.1.16.go
  app/upgrades/vNEXT.go
  app/upgrades/vNEXT_Template.go
Labels: on-chain, upgrade

#1437 [Upgrade] Implement the 0.1.17 upgrade handler
  app/upgrades.go
  app/upgrades/v0.1.17.go
Labels: consensus-breaking, migration

#1417 [RelayMiner] Community change requests (ping, timeout, non-staked suppliers)
  docusaurus/docs/1_operate/3_configs/4_relayminer_config.md
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/deps.go
  pkg/relayer/config/errors.go
  pkg/relayer/config/relayminer_configs_reader.go
  pkg/relayer/config/relayminer_configs_reader_test.go
  pkg/relayer/config/suppliers_config_hydrator.go
  pkg/relayer/config/types.go
  pkg/relayer/interface.go
  pkg/relayer/miner/miner_test.go
  pkg/relayer/proxy/async.go
  pkg/relayer/proxy/http_server.go
  pkg/relayer/proxy/options.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/relay_meter.go
  pkg/relayer/proxy/relay_meter_test.go
  pkg/relayer/proxy/server_builder.go
  pkg/relayer/proxy/sync.go
  pkg/relayer/proxy/websockets/bridge.go
  testutil/testproxy/relayerproxy.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e

#1461 [SUPPLIER][PARAMS] Reducing supplier unbonding from 21 days to 7 days
  tools/scripts/params/bulk_params_main/shared_params.json
Labels: supplier

#1464 [Supplier] Bug when Claiming Morse Supplier that's fully unstaked
  x/migration/keeper/msg_server_claim_morse_supplier.go
Labels: supplier, relayminer, consensus-breaking

#1463 [RelayMiner] Fix Transaction Timeout Error Handling
  pkg/client/tx/client.go
  pkg/client/tx/errors.go
Labels: bug, relayminer, push-image, devnet, devnet-test-e2e

#1465 [Upgrade] Prepare v0.1.19 upgrade
  app/upgrades.go
  app/upgrades/v0.1.19.go
Labels: on-chain, upgrade

#1462 [CI] pin action-gh-release version to v2.3.2
  .github/workflows/release-artifacts.yml
Labels: tooling

#1471 [Upgrade] `v0.1.18` tx update with heights
  tools/scripts/upgrades/upgrade_tx_v0.1.18_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.18_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.18_main.json
Labels: migration, upgrade

#1435 [CLI] Add advanced customization flags for bulk commands.
  x/migration/module/cmd/claim_morse_account_bulk.go
  x/migration/module/cmd/claim_morse_supplier_bulk.go
  x/migration/module/cmd/types.go
Labels: bug, enhancement, push-image, devnet, devnet-test-e2e, consensus-breaking

#1445 [Morse -> Shannon Migration] Add missing 0 balance `morse_output_address` accounts
  app/upgrades/vNEXT.go
  tools/scripts/migration/collect_non_existent_morse_output_accounts.sh
  tools/scripts/migration/common_bash_utils.sh
Labels: bug, on-chain, migration, upgrade

#1446 [Morse -> Shannon Migration] Add invalid addresses to the recovery allowlist
  app/upgrades/vNEXT.go
  tools/scripts/migration/collect_non_existent_morse_output_accounts.sh
  tools/scripts/migration/common_bash_utils.sh
  tools/scripts/migration/list_invalid_morse_addresses.sh
  x/migration/recovery/recovery_allowlist.go
Labels: on-chain, consensus-breaking, migration

#1484 [Migration] Updating recovery allow list
  x/migration/recovery/recovery_allowlist.go
Labels: consensus-breaking, migration

#1480 [RelayMiner] Improve Context Handling and Session Tree Management in Relayer
  pkg/client/events/replay_client.go
  pkg/client/tx/context.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/persistence.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/sessiontree.go
Labels: bug, relayminer, off-chain

#1489 [Upgrade] V0.1.20 Upgrade Handler
  app/upgrades.go
  app/upgrades/v0.1.20.go
  app/upgrades/vNEXT.go
Labels: migration

#1494 Update Morse bulk to handle output address node and skip already claimed accounts.
  x/migration/module/cmd/claim_morse_account_bulk.go
  x/migration/module/cmd/claim_morse_supplier_bulk.go
Labels: enhancement, tooling

#1493 [RelayMiner] Improve Context Handling and Session Tree Management in Relayer
  pkg/client/events/replay_client.go
  pkg/client/tx/client.go
  pkg/client/tx/client_test.go
  pkg/client/tx/context.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/persistence.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/sessiontree.go
  x/shared/types/session.go
Labels: bug, relayminer, session, off-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#1490 v0.1.20 release transactions
  tools/scripts/upgrades/upgrade_tx_v0.1.20_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.20_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.20_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.20_main.json
Labels: migration, upgrade

#1438 [Documentation] Protocol release procedure updates
  config.yml
  docusaurus/docs/1_operate/3_configs/1_app_staking_config.md
  docusaurus/docs/1_operate/3_configs/2_gateway_staking_config.md
  docusaurus/docs/1_operate/3_configs/3_supplier_staking_config.md
  docusaurus/docs/2_explore/2_account_management/1_pocketd_cli.md
  docusaurus/docs/4_develop/upgrades/1_protocol_upgrades.md
  docusaurus/docs/4_develop/upgrades/2_release_procedure.md
  docusaurus/docs/4_develop/upgrades/4_upgrade_list.md
  tools/scripts/full-node.sh
  tools/scripts/upgrades/prepare_upgrade_release_notes.sh
  tools/scripts/upgrades/submit_upgrade.sh
  tools/scripts/upgrades/upgrade_tx_v0.1.16_beta.json
  x/supplier/keeper/msg_server_unstake_supplier.go
Labels: documentation, consensus-breaking, migration, upgrade

#1501 [Migration] Set supplier params to 0
  tools/scripts/params/bulk_params_beta/supplier_params.json
  tools/scripts/params/bulk_params_main/supplier_params.json
Labels: migration

#1498 [RelayMiner] Refactor ReplayClient to fix memory leaks and improve event handling
  e2e/tests/init_test.go
  load-testing/loadtest_manifest_localnet_single_supplier.yaml
  load-testing/tests/relays_stress_helpers_test.go
  pkg/client/block/client_test.go
  pkg/client/events/replay_client.go
  pkg/client/events/replay_client_integration_test.go
  pkg/relayer/interface.go
  pkg/relayer/proxy/relay_meter.go
  pkg/relayer/proxy/sync.go
  pkg/relayer/relay_authenticator/relay_verifier.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/persistence.go
  pkg/relayer/session/proof.go
  pkg/relayer/session/session.go
  pkg/relayer/session/sessiontree.go
Labels: bug, relayminer, off-chain, push-image, devnet, devnet-test-e2e, loadtest

#1513 [Block Size] refactor: streamline proof module events
  app/upgrades/vNEXT.go
  go.mod
  proto/pocket/proof/event.proto
  proto/pocket/proof/types.proto
  proto/pocket/session/types.proto
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/keeper/msg_server_submit_proof_test.go
  x/proof/keeper/validate_proofs.go
  x/proof/types/event.pb.go
  x/proof/types/query.pb.go
  x/tokenomics/keeper/settle_pending_claims_test.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, p0, consensus-breaking

#1520 [Upgrade] Adding v0.1.21.go upgrade handler
  app/upgrades.go
  app/upgrades/v0.1.21.go
  app/upgrades/vNEXT.go
  app/upgrades/vNEXT_Template.go
Labels: push-image, devnet, devnet-test-e2e, upgrade

#1523 [RelayMiner][Bug] Create sessionSMT before tree deletion to ensure proper SMT root retrieval
  pkg/relayer/session/session.go
Labels: bug, relayminer, session, off-chain

#1531 [Helpers] `pocketd` helpers in `.rc` format for supplier debugging
  tools/rc_helpers/suppliers.sh
Labels: relayminer, tooling

#1529 [RM] Handle `io.ReadAll` memory issue.
  Dockerfile.release
  go.mod
  pkg/polylog/polyzero/options.go
  pkg/relayer/cmd/cmd_relay.go
  pkg/relayer/proxy/http_utils.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/sync.go
Labels: relayminer, push-image, devnet, devnet-test-e2e

#1532 [RelayMiner] Enhance Signal Handling and Event Subscription Reliability
  cmd/faucet/serve.go
  cmd/signals/exit.go
  e2e/tests/init_test.go
  load-testing/tests/relays_stress_test.go
  pkg/client/events/query_client.go
  pkg/client/events/query_client_test.go
  pkg/client/events/replay_client.go
  pkg/client/events/replay_client_integration_test.go
  pkg/client/events/websocket/state.go
  pkg/relayer/cmd/cmd_start.go
  pkg/relayer/session/claim.go
  pkg/relayer/session/session_test.go
  testutil/testclient/testblock/client.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e, scalability

#1522 [RelayMiner] Enhance RelayMiner Error Handling with Structured Error Responses
  pkg/relayer/proxy/error_reply.go
  pkg/relayer/proxy/proxy.go
  pkg/relayer/proxy/relay_builders.go
  pkg/relayer/proxy/sync.go
  proto/pocket/service/relay.proto
  x/service/types/relay.go
  x/service/types/relay.pb.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#1538 [BETA][MAINNET][VALIDATORS][STAKING] Increase validator pool on Beta and Mainnet from 5 -> 6
  tools/scripts/params/bulk_params_beta/staking_params.json
  tools/scripts/params/bulk_params_main/staking_params.json
Labels: Validator

#1551 [Migration] chore: update the Morse account recovery allowlists
  app/upgrades/vNEXT.go
  x/migration/recovery/recovery_allowlist.go
Labels: on-chain, consensus-breaking, migration

#1554 Added Telegram Notification Workflow
  .github/workflows/notify-telegram-groups.yml
Labels: nice-to-have

#1557 [Telegram Bot] Release Telegram Bot - Fix manual dispatch
  .github/workflows/notify-telegram-groups.yml
Labels: tooling

#1553 [Docs] Update onchain upgrades list & tx JSON artifacts
  .github/workflows/notify-telegram-groups.yml
  docusaurus/docs/4_develop/upgrades/2_release_procedure.md
  docusaurus/docs/4_develop/upgrades/4_upgrade_list.md
  tools/scripts/upgrades/prepare_upgrade_release_notes.sh
  tools/scripts/upgrades/upgrade_tx_v0.1.21_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.22_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.22_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.22_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.22_main.json
Labels: documentation, upgrade

#1565 [Makefile] Improved and refactored release tags
  Makefile
  docusaurus/docs/2_explore/2_account_management/1_pocketd_cli.md
  docusaurus/docs/4_develop/upgrades/2_release_procedure.md
  makefiles/colors.mk
  makefiles/release.mk
Labels: tooling, consensus-breaking

#1559 Update 1_shannon_mainnet.md
  docusaurus/docs/2_explore/1_tools/1_shannon_mainnet.md
Labels: documentation

#1567 [Migration] chore: update Morse account recovery allowlist
  app/upgrades/vNEXT.go
  x/migration/recovery/recovery_allowlist.go
Labels: on-chain, consensus-breaking, migration

#1536 [RelayMiner] Replace EventsQueryClient with CometBFT client
  cmd/flags/tx_client.go
  docusaurus/docs/1_operate/3_configs/4_relayminer_config.md
  e2e/tests/init_test.go
  e2e/tests/session_steps_test.go
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
  makefiles/release.mk
  pkg/client/block/block.go
  pkg/client/block/client.go
  pkg/client/block/client_test.go
  pkg/client/block/errors.go
  pkg/client/block/options.go
  pkg/client/events/options.go
  pkg/client/events/query_client.go
  pkg/client/events/query_client_integration_test.go
  pkg/client/events/query_client_test.go
  pkg/client/events/replay_client.go
  pkg/client/events/replay_client_example_test.go
  pkg/client/events/replay_client_integration_test.go
  pkg/client/events/websocket/connection.go
  pkg/client/events/websocket/dialer.go
  pkg/client/events/websocket/errors.go
  pkg/client/events/websocket/godoc.go
  pkg/client/events/websocket/state.go
  pkg/client/interface.go
  pkg/client/tx/client.go
  pkg/client/tx/client_integration_test.go
  pkg/client/tx/client_test.go
  pkg/deps/config/suppliers.go
  pkg/polylog/comet_logger.go
  pkg/relayer/cmd/cmd_start.go
  pkg/relayer/cmd/deps.go
  pkg/relayer/proxy/http_server.go
  pkg/relayer/proxy/http_utils.go
  pkg/relayer/proxy/relay_meter.go
  pkg/relayer/proxy/server_builder.go
  testutil/testclient/localnet.go
  testutil/testclient/testblock/client.go
  testutil/testclient/testeventsquery/client.go
  testutil/testclient/testeventsquery/connection.go
  testutil/testclient/testeventsquery/godoc.go
  testutil/testclient/testtx/client.go
Labels: relayminer, off-chain, push-image, devnet, devnet-test-e2e, scalability

#1562 [Telegram Bot] Added more exchanges to the notification list
  .github/workflows/notify-telegram-groups.yml
Labels: nice-to-have, upgrade

#1539 [CLI] Add `--count` to `pocketd relayminer relay`
  go.mod
  pkg/relayer/cmd/cmd_relay.go
Labels: push-image, tooling, devnet, devnet-test-e2e

#1583 [Supplier] Ensure Supplier downstaking funds go to owner address instead of signer
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
Labels: bug, supplier, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#1560 [Supplier] Flags to `pocketd query list-suppliers` with a `--dehydrated` option
  go.mod
  makefiles/release.mk
  proto/pocket/supplier/query.proto
  x/shared/types/supplier.go
  x/supplier/keeper/query_supplier.go
  x/supplier/keeper/query_supplier_test.go
  x/supplier/keeper/supplier.go
  x/supplier/keeper/unbond_suppliers.go
  x/supplier/module/autocli.go
  x/supplier/types/query.pb.go
  x/supplier/types/query.pb.gw.go
Labels: push-image, devnet, devnet-test-e2e, consensus-breaking

#1584 [Upgrade] Add v0.1.24 upgrade handler
  app/upgrades.go
  app/upgrades/v0.1.24.go
Labels: on-chain, upgrade

#1589 chore: update Morse account recovery allowlist
  x/migration/recovery/recovery_allowlist.go
Labels: on-chain, consensus-breaking, migration

#1545 [RM] Improve some logging
  pkg/relayer/proxy/async.go
  pkg/relayer/proxy/sync.go
  pkg/relayer/relay_authenticator/relay_verifier.go
  pkg/relayer/session/session.go
Labels: relayminer

#1605 [Migration] chore: update Morse account recovery allowlist
  x/migration/recovery/recovery_allowlist.go
Labels: on-chain, consensus-breaking, migration
