Repository pokt-network/poktroll, pull requests merged in 2025-05, with the labels that each got.

#1277 [Scalability] Optimize Claim Settlement with Supplier Dehydration and Settlement Context
  app/upgrades.go
  app/upgrades/v0.0.12.go
  app/upgrades/v0.1.8.go
  app/upgrades/v0.1.9.go
  docusaurus/docs/operate/upgrades/5_protobuf_upgrades.md
  proto/pocket/shared/supplier.deprecated.proto
  tests/integration/application/min_stake_test.go
  testutil/integration/app.go
  testutil/keeper/migration.go
  testutil/keeper/proof.go
  testutil/keeper/tokenomics.go
  x/migration/types/expected_keepers.go
  x/proof/keeper/msg_server_create_claim_test.go
  x/proof/module/query_claim.go
  x/proof/types/expected_keepers.go
  x/shared/types/supplier.deprecated.pb.go
  x/shared/types/supplier.go
  x/supplier/keeper/msg_server_stake_supplier.go
  x/supplier/keeper/msg_server_stake_supplier_test.go
  x/supplier/keeper/msg_server_unstake_supplier.go
  x/supplier/keeper/supplier.go
  x/supplier/keeper/supplier_index.go
  x/supplier/keeper/supplier_test.go
  x/supplier/module/genesis.go
  x/supplier/types/keys.go
  x/tokenomics/keeper/relay_mining_difficulty.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/keeper/settle_pending_claims_context.go
  x/tokenomics/keeper/settle_pending_claims_test.go
  x/tokenomics/keeper/token_logic_modules.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/token_logic_module/types.go
  x/tokenomics/types/expected_keepers.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, tokenomics, scalability, consensus-breaking

#1280 chore: Add upgrade v0.1.9 tx json files
  tools/scripts/upgrades/upgrade_tx_v0.1.9_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.9_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.9_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.9_main.json
Labels: upgrade

#1260 [Morse -> Shannon Migration] docs: update Morse account claiming instructions for MACT
  docusaurus/docs/operate/morse_migration/6_claiming_account.md
  docusaurus/docs/tools/tools/shannon_alpha.md
  docusaurus/docs/tools/tools/shannon_beta.md
  docusaurus/docs/tools/tools/shannon_mainnet.md
Labels: documentation, migration

#1282 [Bug] Fix supplier service configuration caching in claim settlement process
  app/upgrades.go
  app/upgrades/v0.1.10.go
  x/tokenomics/keeper/settle_pending_claims_context.go
  x/tokenomics/keeper/settle_pending_claims_test.go
Labels: bug, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#1283 [Bug] Fix update v0.1.9 tx upgrade height, add v0.1.10 transactions
  tools/scripts/upgrades/upgrade_tx_v0.1.10_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.10_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.10_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.10_main.json
  tools/scripts/upgrades/upgrade_tx_v0.1.9_beta.json
Labels: bug

#1281 [Morse -> Shannon Migration] refactor: migration module CLI
  cmd/flags/flags.go
  docusaurus/docs/operate/morse_migration/4_state_transfer_playbook.md
  e2e/tests/migration_steps_test.go
  x/migration/module/cmd/collect_morse_accounts.go
  x/migration/module/cmd/collect_morse_accounts_test.go
  x/migration/module/cmd/import_morse_accounts.go
  x/migration/module/cmd/validate_morse_accounts.go
Labels: documentation, off-chain, consensus-breaking, migration

#1275 [DOCS][VALIDATOR] Updates to validator guides to prep for Mainnet
  docusaurus/docs/operate/cheat_sheets/validator_cheatsheet.md
  docusaurus/docs/operate/walkthroughs/validator_walkthrough.md
Labels: documentation, devex, migration

#1287 [Morse -> Shannon Migration] scaffold: `MsgRecoverMorseAccount`
  api/pocket/migration/tx.pulsar.go
  api/pocket/migration/tx_grpc.pb.go
  api/pocket/shared/supplier.deprecated.pulsar.go
  app/upgrades.go
  app/upgrades/v0.1.x.go
  docs/static/openapi.json
  docs/static/openapi.yml
  docusaurus/docs/develop/developer_guide/adding_params.md
  go.mod
  go.sum
  proto/buf.lock
  proto/pocket/migration/tx.proto
  tests/integration/migration/morse_recover_account_test.go
  tools/scripts/authz/dao_genesis_authorizations.json
  x/migration/keeper/msg_server_recover_morse_account.go
  x/migration/module/autocli.go
  x/migration/module/simulation.go
  x/migration/module/tx.go
  x/migration/simulation/recover_morse_account.go
  x/migration/types/codec.go
  x/migration/types/message_recover_morse_account.go
  x/migration/types/message_recover_morse_account_test.go
  x/migration/types/tx.pb.go
Labels: on-chain, consensus-breaking, migration

#1296 [Morse -> Shannon Migration] refactor: `collect-morse-accounts` to consider invalid & module accounts
  api/pocket/migration/morse_offchain.pulsar.go
  proto/pocket/migration/morse_offchain.proto
  testutil/testmigration/fixtures.go
  x/migration/module/cmd/collect_morse_accounts.go
  x/migration/module/cmd/collect_morse_accounts_test.go
  x/migration/module/cmd/types.go
  x/migration/types/morse_account_types.go
  x/migration/types/morse_auth_account.go
  x/migration/types/morse_offchain.pb.go
Labels: off-chain, tooling, consensus-breaking, devex, migration

#1305 [MIGRATION][DOCS] Account Migration Docs Fixes
  docusaurus/docs/operate/morse_migration/6_claiming_account.md
Labels: documentation, migration

#1306 [Morse -> Shannon Migration] chore: prepare v0.1.11 upgrade for submission
  app/upgrades.go
  app/upgrades/v0.1.11.go
  app/upgrades/v0.1.x.go
  docusaurus/docs/operate/morse_migration/4_state_transfer_playbook.md
Labels: on-chain, upgrade

#1310 [Docs] Update migration docs flags
  docusaurus/docs/2_explore/4_morse_migration/4_state_transfer_playbook.md
Labels: documentation

#1308 [Upgrade] v0.1.11 upgrade Tx JSON
  docusaurus/docs/4_develop/upgrades/2_release_procedure.md
  docusaurus/docs/4_develop/upgrades/4_upgrade_list.md
  tools/scripts/upgrades/upgrade_tx_v0.1.11_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.11_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.11_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.11_main.json
Labels: documentation, upgrade

#1319 [Documentation] Add Exchange FAQ
  docusaurus/docs/1_operate/4_faq/7_exchanges_faq.md
Labels: documentation

#1333 [Docs] fix: migration state transfer playbook - bash variable name
  docusaurus/docs/2_explore/4_morse_migration/4_state_transfer_playbook.md
Labels: documentation, migration

#1326 [Morse -> Shannon Migration] chore: add `morse_output_address` to `MorseClaimableAccount`
  api/pocket/migration/morse_offchain.pulsar.go
  api/pocket/migration/morse_onchain.pulsar.go
  go.mod
  go.sum
  proto/pocket/migration/morse_offchain.proto
  proto/pocket/migration/morse_onchain.proto
  x/migration/module/cmd/collect_morse_accounts.go
  x/migration/module/cmd/types.go
  x/migration/types/morse_offchain.pb.go
  x/migration/types/morse_onchain.pb.go
Labels: off-chain, on-chain, tooling, consensus-breaking, migration

#1328 [Morse -> Shannon Migration] feat: Support non-custodial Supplier owner claiming
  api/pocket/migration/event.pulsar.go
  api/pocket/migration/morse_onchain.pulsar.go
  api/pocket/migration/tx.pulsar.go
  api/pocket/migration/tx_grpc.pb.go
  docusaurus/docs/2_explore/4_morse_migration/7_claiming_supplier.md
  e2e/tests/migration_steps_test.go
  proto/pocket/migration/event.proto
  proto/pocket/migration/morse_onchain.proto
  proto/pocket/migration/tx.proto
  tests/integration/migration/morse_claim_app_test.go
  tests/integration/migration/morse_claim_supplier_test.go
  tests/integration/migration/morse_import_test.go
  testutil/integration/suites/migration.go
  x/migration/keeper/morse_claimable_account.go
  x/migration/keeper/morse_claimable_account_test.go
  x/migration/keeper/msg_server_claim_morse_account.go
  x/migration/keeper/msg_server_claim_morse_account_test.go
  x/migration/keeper/msg_server_claim_morse_application.go
  x/migration/keeper/msg_server_claim_morse_application_test.go
  x/migration/keeper/msg_server_claim_morse_supplier.go
  x/migration/keeper/msg_server_claim_morse_supplier_test.go
  x/migration/keeper/msg_server_import_morse_claimable_accounts.go
  x/migration/module/cmd/claim_morse_supplier.go
  x/migration/types/event.pb.go
  x/migration/types/message_claim_morse_account.go
  x/migration/types/message_claim_morse_account_test.go
  x/migration/types/message_claim_morse_application.go
  x/migration/types/message_claim_morse_application_test.go
  x/migration/types/message_claim_morse_supplier.go
  x/migration/types/message_claim_morse_supplier_test.go
  x/migration/types/morse_claim_messages.go
  x/migration/types/morse_onchain.pb.go
  x/migration/types/tx.pb.go
Labels: on-chain, consensus-breaking, migration

#1335 [DOCUMENTATION][VALIDATOR] Adding Validator FAQs
  docusaurus/docs/1_operate/4_faq/3_validator_faq.md
  docusaurus/docs/2_explore/4_morse_migration/12_faq.md
  docusaurus/docs/2_explore/4_morse_migration/9_claiming_validator.md
  docusaurus/docs/2_explore/4_morse_migration/9_faq.md
Labels: documentation, devex, migration

#1339 [Documentaiton] Fix governance params docs
  docusaurus/docs/3_protocol/governance/2_gov_params.md
  tools/scripts/docusaurus/generate_docs_params.go
  tools/scripts/docusaurus/param_field_row_template.md
  tools/scripts/docusaurus/params_doc_template.md
Labels: governance

#1340 Verbiage and link changes to Custodians FAQ (May 19, 2025)
  docusaurus/docs/1_operate/4_faq/7_custodians_faq.md
Labels: documentation

#1336 [Morse -> Shannon Migration] chore: unstake claimed suppliers below min-stake
  e2e/tests/migration_steps_test.go
  tests/integration/migration/morse_claim_supplier_test.go
  x/migration/keeper/msg_server_claim_morse_supplier.go
  x/migration/keeper/msg_server_claim_morse_supplier_test.go
  x/migration/types/expected_keepers.go
Labels: on-chain, consensus-breaking, migration

#1342 [Migration] Refactor Morse migration test fixtures for better organization and easier test data access
  tests/integration/migration/morse_recover_account_test.go
  testutil/testmigration/fixtures_recoverable_account.go
Labels: testing, on-chain, migration

#1258 [RelayMiner] Add support for forwarding 'Pocket-' specific identity headers.
  docusaurus/docs/1_operate/3_configs/4_relayminer_config.md
  localnet/pocketd/config/relayminer_config_full_example.yaml
  localnet/pocketd/config/relayminer_config_localnet_vscode.yaml
  pkg/relayer/config/proxy_http_config_parser.go
  pkg/relayer/config/types.go
  pkg/relayer/header_utils.go
  pkg/relayer/http_request.go
  pkg/relayer/proxy/websockets/bridge.go
Labels: enhancement, relayminer, push-image, devnet, devnet-test-e2e

#1334 [Migration] Add Morse Account Recovery Mechanism for Lost Stakes and Accounts
  api/pocket/migration/event.pulsar.go
  proto/pocket/migration/event.proto
  tests/integration/migration/morse_recover_account_test.go
  testutil/integration/suites/migration.go
  testutil/testmigration/fixtures.go
  testutil/testmigration/fixtures_recoverable_account.go
  x/migration/keeper/msg_server_recover_morse_account.go
  x/migration/recovery/recovery_allowlist.go
  x/migration/recovery/test_allowlist_setter.go
  x/migration/types/errors.go
  x/migration/types/event.pb.go
  x/migration/types/message_recover_morse_account.go
  x/migration/types/message_recover_morse_account_test.go
Labels: on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking, migration

#1345 [Documentation] Update Full Node FAQ with details shared to community
  docusaurus/docs/1_operate/4_faq/2_full_node_faq.md
Labels: documentation, migration

#1349 [Tooling] fix: normalize all Morse hex address cases to uppercase
  pkg/encoding/hex.go
  testutil/sample/sample.go
  x/migration/keeper/morse_claimable_account.go
  x/migration/keeper/query_morse_claimable_account.go
  x/migration/keeper/query_morse_claimable_account_test.go
  x/migration/types/message_claim_morse_account.go
  x/migration/types/message_claim_morse_application.go
  x/migration/types/message_claim_morse_supplier.go
Labels: bug, push-image, tooling, devnet, devnet-test-e2e, consensus-breaking

#1298 [MERGE HAS INFRA DEPS][CLI] Introduce `pockted relayminer relay` to easily test `relayminers`
  .gitignore
  Makefile
  Tiltfile
  go.mod
  go.sum
  pkg/deps/config/suppliers.go
  pkg/relayer/cmd/cmd.go
  pkg/relayer/cmd/cmd_relay.go
  pkg/relayer/cmd/cmd_start.go
  pkg/relayer/cmd/deps.go
  pkg/relayer/cmd/flags.go
  pkg/relayer/cmd/grpc.go
  pkg/relayer/cmd/keys.go
  pkg/relayer/relay_authenticator/relay_authenticator.go
Labels: relayminer, push-image, tooling, devnet, devnet-test-e2e

#1352 [LocalNet] Fix TiltFile + go version + ignite version
  .github/workflows/main-build.yml
  .github/workflows/run-tests.yml
  Makefile
  Tiltfile
  go.mod
  go.sum
  makefiles/checks.mk
  makefiles/localnet.mk
  makefiles/release.mk
Labels: testing, push-image, tooling, devnet, devnet-test-e2e

#1351 [Upgrade] v0.1.12
  app/upgrades.go
  app/upgrades/v0.1.12.go
Labels: on-chain, consensus-breaking, upgrade

#1329 [Relayer] Enhance relay reward management with early accumulation and failure handling
  pkg/relayer/proxy/proxy_test.go
  pkg/relayer/proxy/relay_meter.go
  pkg/relayer/proxy/sync.go
  testutil/testproxy/relayerproxy.go
Labels: bug, relayminer, off-chain

#1347 [Documentation] LocalNet Instructions to Test Account & Actor Claiming
  .gitignore
  docusaurus/docs/2_explore/4_morse_migration/11_localnet_testing.md
  docusaurus/docs/2_explore/4_morse_migration/example_state_export.json
Labels: documentation, tooling, migration

#1344 [Documentation] Non-custodial migration docs
  docusaurus/docs/1_operate/4_faq/7_custodians_faq.md
  docusaurus/docs/1_operate/4_faq/8_migration_faq.md
  docusaurus/docs/2_explore/4_morse_migration/10_non_custodial_intro.md
  docusaurus/docs/2_explore/4_morse_migration/12_testnet_testing.md
  docusaurus/docs/2_explore/4_morse_migration/13_faq.md
  docusaurus/docs/2_explore/4_morse_migration/14_data_structures.md
  docusaurus/docs/2_explore/4_morse_migration/4_state_transfer_playbook.md
Labels: documentation, migration

#1355 [Ops] Add support for skipping upgrade heights in node installer scripts
  tools/installer/full-node.sh
  tools/scripts/upgrades/prepare_upgrade_tx.sh
Labels: infra, tooling, upgrade

#1356 [Upgrade] Add upgrade transaction files
  docusaurus/docs/1_operate/1_cheat_sheets/3_validator_cheatsheet.md
  docusaurus/docs/4_develop/upgrades/4_upgrade_list.md
  tools/scripts/upgrades/upgrade_tx_v0.1.12_alpha.json
  tools/scripts/upgrades/upgrade_tx_v0.1.12_beta.json
  tools/scripts/upgrades/upgrade_tx_v0.1.12_local.json
  tools/scripts/upgrades/upgrade_tx_v0.1.12_main.json
Labels: upgrade

#1353 Review of #1338
  tests/integration/migration/morse_claim_app_test.go
  tests/integration/migration/morse_claim_supplier_test.go
  testutil/integration/app.go
  x/migration/keeper/msg_server_claim_morse_application.go
  x/migration/keeper/msg_server_claim_morse_supplier.go
  x/migration/types/morse_claimable_account.go
Labels: consensus-breaking

#1362 [Docs] Add Beta TestNet MACT faucet link
  docusaurus/docs/2_explore/1_tools/2_shannon_beta.md
Labels: documentation, migration

#1325 [Tokenomics] Support more granular relay pricing
  api/pocket/shared/params.pulsar.go
  api/pocket/tokenomics/event.pulsar.go
  app/upgrades.go
  app/upgrades/v0.1.13.go
  config.yml
  e2e/tests/parse_params_test.go
  e2e/tests/stake_supplier_steps_test.go
  load-testing/tests/relays_stress_helpers_test.go
  load-testing/tests/relays_stress_test.go
  pkg/client/interface.go
  pkg/client/query/querycache_test.go
  pkg/client/query/sharedquerier.go
  pkg/relayer/proxy/relay_meter.go
  proto/pocket/shared/params.proto
  proto/pocket/tokenomics/event.proto
  tests/integration/application/min_stake_test.go
  tests/integration/tokenomics/relay_mining_integration_test.go
  tests/integration/tokenomics/token_logic_modules/tlm_suite_test.go
  testutil/integration/suites/param_configs.go
  tools/scripts/params/shared_compute_unit_cost_granularity.json
  x/proof/keeper/proof_requirement_test.go
  x/proof/module/query_claim_test.go
  x/proof/types/claim.go
  x/proof/types/shared_query_client.go
  x/session/keeper/session_hydrator_test.go
  x/shared/keeper/msg_server_update_param.go
  x/shared/keeper/msg_server_update_param_test.go
  x/shared/types/genesis_test.go
  x/shared/types/message_update_param.go
  x/shared/types/message_update_param_test.go
  x/shared/types/params.go
  x/shared/types/params.pb.go
  x/tokenomics/keeper/settle_pending_claims_test.go
  x/tokenomics/keeper/token_logic_modules_test.go
  x/tokenomics/types/event.pb.go
Labels: off-chain, on-chain, push-image, devnet, devnet-test-e2e, tokenomics, consensus-breaking

#1366 [Review] Code Review of #1363
  api/pocket/migration/tx.pulsar.go
  api/pocket/shared/params.pulsar.go
  cmd/flags/flags.go
  proto/pocket/migration/tx.proto
  x/migration/module/cmd/bulk_claim_morse_account.go
  x/migration/module/cmd/claim_morse_account.go
  x/migration/module/cmd/claim_morse_account_bulk.go
  x/migration/module/tx.go
  x/migration/types/message_claim_morse_account.go
  x/migration/types/tx.pb.go
  x/shared/types/params.pb.go
Labels: consensus-breaking

#1370 [CLI] Enable dev tags for CLI updates
  .github/workflows/release-artifacts.yml
  docusaurus/docs/2_explore/2_account_management/1_pocketd_cli.md
  makefiles/release.mk
  tools/scripts/pocketd-install.sh
Labels: tooling

#1367 [Ignite] Update `ignite` CLI & auto-generated documentation
  Makefile
  api/pocket/application/query_grpc.pb.go
  api/pocket/application/tx_grpc.pb.go
  api/pocket/gateway/query_grpc.pb.go
  api/pocket/gateway/tx_grpc.pb.go
  api/pocket/migration/query_grpc.pb.go
  api/pocket/migration/tx_grpc.pb.go
  api/pocket/proof/query_grpc.pb.go
  api/pocket/proof/tx_grpc.pb.go
  api/pocket/service/query_grpc.pb.go
  api/pocket/service/tx_grpc.pb.go
  api/pocket/session/query_grpc.pb.go
  api/pocket/session/tx_grpc.pb.go
  api/pocket/shared/query_grpc.pb.go
  api/pocket/shared/tx_grpc.pb.go
  api/pocket/supplier/query_grpc.pb.go
  api/pocket/supplier/tx_grpc.pb.go
  api/pocket/tokenomics/query_grpc.pb.go
  api/pocket/tokenomics/tx_grpc.pb.go
  app/app.go
  buf.lock
  buf.work.yaml
  buf.yaml
  docs/static/openapi.json
  docs/static/openapi.yml
  docusaurus/docs/3_protocol/governance/2_gov_params.md
  e2e/tests/update_params_test.go
  go.mod
  go.sum
  pkg/relayer/relayminer_ping_test.go
  pkg/relayer/relayminer_test.go
  proto/buf.gen.gogo.yaml
  proto/buf.gen.pulsar.yaml
  proto/buf.gen.sta.yaml
  proto/buf.gen.swagger.yaml
  proto/buf.gen.ts.yaml
  proto/buf.lock
  proto/buf.yaml
  tools/tools.go
  x/application/module/autocli.go
  x/gateway/module/autocli.go
  x/migration/module/autocli.go
  x/proof/module/autocli.go
  x/service/module/autocli.go
  x/session/module/autocli.go
  x/shared/module/autocli.go
  x/supplier/module/autocli.go
  x/tokenomics/module/autocli.go
Labels: protocol, push-image, tooling, devnet, devnet-test-e2e, dependencies, consensus-breaking, migration

#1290 [Tooling] CLI: add `--network` flag
  app/pocket/networks.go
  cmd/flags/flags.go
  cmd/pocketd/cmd/root.go
  cmd/rpc.go
  docusaurus/docs/1_operate/1_cheat_sheets/1_service_cheatsheet.md
  docusaurus/docs/1_operate/1_cheat_sheets/3_validator_cheatsheet.md
  docusaurus/docs/1_operate/1_cheat_sheets/4_supplier_cheatsheet.md
  docusaurus/docs/1_operate/1_cheat_sheets/5_gateway_cheatsheet.md
  docusaurus/docs/1_operate/2_walkthroughs/1_full_node_binary.md
  docusaurus/docs/1_operate/2_walkthroughs/3_validator_walkthrough.md
  docusaurus/docs/1_operate/3_configs/1_app_staking_config.md
  docusaurus/docs/1_operate/3_configs/2_gateway_staking_config.md
  docusaurus/docs/1_operate/3_configs/3_supplier_staking_config.md
  docusaurus/docs/1_operate/3_configs/4_relayminer_config.md
  docusaurus/docs/1_operate/4_faq/1_service_faq.md
  docusaurus/docs/1_operate/4_faq/2_full_node_faq.md
  docusaurus/docs/1_operate/4_faq/3_validator_faq.md
  docusaurus/docs/1_operate/4_faq/4_supplier_faq.md
  docusaurus/docs/2_explore/1_tools/1_shannon_mainnet.md
  docusaurus/docs/2_explore/1_tools/2_shannon_beta.md
  docusaurus/docs/2_explore/1_tools/3_shannon_alpha.md
  docusaurus/docs/2_explore/2_account_management/4_check_balance.md
  docusaurus/docs/2_explore/2_account_management/6_send_tokens.md
  docusaurus/docs/2_explore/4_morse_migration/11_localnet_testing.md
  docusaurus/docs/2_explore/4_morse_migration/4_state_transfer_playbook.md
  docusaurus/docs/2_explore/4_morse_migration/6_claiming_account.md
  docusaurus/docs/2_explore/4_morse_migration/7_claiming_supplier.md
  docusaurus/docs/2_explore/4_morse_migration/8_claiming_application.md
  docusaurus/docs/3_protocol/governance/1_intro_to_params.md
  docusaurus/docs/4_develop/developer_guide/debug_tips.md
  docusaurus/docs/4_develop/developer_guide/walkthrough.md
  docusaurus/docs/4_develop/networks/devnet.md
  docusaurus/docs/4_develop/upgrades/2_release_procedure.md
  docusaurus/docs/4_develop/upgrades/6_module_auth.md
  e2e/tests/migration_steps_test.go
  makefiles/migrate.mk
  x/application/module/autocli.go
  x/application/module/query_application.go
  x/application/module/query_params.go
  x/application/module/tx_delegate_to_gateway.go
  x/application/module/tx_stake_application.go
  x/application/module/tx_undelegate_from_gateway.go
  x/application/module/tx_unstake_application.go
  x/gateway/module/query_gateway.go
  x/gateway/module/query_params.go
  x/gateway/module/tx_stake_gateway.go
  x/gateway/module/tx_unstake_gateway.go
  x/migration/module/cmd/import_morse_accounts.go
  x/proof/module/query_claim.go
  x/proof/module/query_proof.go
  x/service/module/tx_add_service.go
  x/session/module/autocli.go
  x/session/module/query_get_session.go
  x/supplier/module/tx_stake_supplier.go
  x/supplier/module/tx_unstake_supplier.go
  x/tokenomics/module/autocli.go
Labels: off-chain, push-image, tooling, devnet, devnet-test-e2e, consensus-breaking, devex

#1373 [Documentation] Updating cheatsheets for `RelayMiner` & `Gateway` to use `pocketd relayminer relay`
  docusaurus/docs/1_operate/1_cheat_sheets/4_supplier_cheatsheet.md
  docusaurus/docs/1_operate/1_cheat_sheets/5_gateway_cheatsheet.md
  docusaurus/docs/1_operate/5_playbooks/1_vultr.md
  docusaurus/docs/4_develop/developer_guide/walkthrough.md
  go.mod
  go.sum
  pkg/relayer/cmd/cmd_relay.go
  pkg/relayer/cmd/cmd_start.go
  pkg/relayer/proxy/sync.go
  x/shared/types/service.pb.go
  x/shared/types/supplier.pb.go
Labels: documentation, gateway, relayminer, push-image, tooling, devnet, devnet-test-e2e, consensus-breaking

#1386 [CLI][Review] Review of #1378
  cmd/flags/flags.go
  x/migration/module/cmd/claim_morse_account.go
  x/migration/module/cmd/claim_morse_account_bulk.go
  x/migration/module/cmd/claim_morse_supplier.go
  x/migration/module/cmd/claim_morse_supplier_bulk.go
  x/migration/module/cmd/flags.go
  x/migration/module/cmd/types.go
  x/migration/types/query.pb.go
Labels: tooling, consensus-breaking, migration

#1389 [Service] Allow AddService handler to update CUPR
  docusaurus/docs/1_operate/1_cheat_sheets/1_service_cheatsheet.md
  x/service/keeper/msg_server_add_service.go
  x/service/keeper/msg_server_add_service_test.go
  x/service/types/params.go
  x/shared/types/service.go
Labels: service, on-chain, push-image, devnet, devnet-test-e2e, consensus-breaking

#1390 [Tokenomics] Intro to token mint and burn docs
  docusaurus/docs/3_protocol/tokenomics/3_relay_reward_accumulation.md
  docusaurus/docs/3_protocol/tokenomics/4_intro_to_mint_and_burn.md
  docusaurus/docusaurus.config.js
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/yarn.lock
Labels: documentation, tokenomics

#1380 [Documentation][Tooling] Updating gov params
  .gitignore
  api/pocket/migration/tx.pulsar.go
  docusaurus/docs/3_protocol/governance/3_gov_params_mgmt.md
  go.mod
  makefiles/params.mk
  pkg/crypto/protocol/relay_difficulty.go
  proto/pocket/proof/params.proto
  tests/integration/application/min_stake_test.go
  tools/scripts/params/gov_params.sh
  x/proof/keeper/msg_server_submit_proof.go
  x/proof/types/claim.go
  x/proof/types/params.pb.go
  x/tokenomics/keeper/settle_pending_claims.go
  x/tokenomics/token_logic_module/settlement_results.go
Labels: documentation, governance, push-image, tooling, devnet, devnet-test-e2e, tokenomics, consensus-breaking
